<div class="page" ng-controller="teamCreateCtrl">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Create Team</strong></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">

                    <form role="form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name<span class="required-custom"> *</span></label>
                            <input id="name" type="text" ng-model="name" class="form-control" id="exampleInputEmail1" required="required" placeholder="Team Name">
                        </div>


                        <div class="form-group content" style="max-height: 200px">
                            <label for="exampleInputEmail1">Team Members</label>
                                <div class="col-md-12 bg-border">
                                    <div class="col-md-1">

                                    </div>
                                    <div class="col-md-3">
                                      <strong> Name</strong>
                                    </div>
                                    <div class="col-md-4">
                                        <strong>Email </strong>
                                    </div>
                                    <div class="col-md-2">
                                        <strong>Position/Role </strong>
                                    </div>
                                    <div class="col-md-2">
                                    <strong>User Type</strong>
                                    </div>
                                </div>
                            <span class="msg"  data-mcs-theme="dark"  ng-repeat="user in users track by $index">

                                <div class="col-md-12 element">
                                    <div class="col-md-1">
                                        <input type="checkbox" checklist-model="selectedUsers" checklist-value="user">
                                    </div>
                                    <div class="col-md-3">
                                        {{user.firstName}} {{user.lastName}}
                                    </div>
                                    <div class="col-md-4">
                                        {{user.email}}
                                    </div>
                                     <div class="col-md-2">
                                        <p style=" display: inline-block" ng-repeat="role in user.roles">{{role.name}}, </p>
                                    </div>
                                    <div class="col-md-2">
                                    {{user.role}}
                                    </div>
                                </div>

                            </span>

                        </div>
                      <br/>
                      <div class="form-group content" style="max-height: 200px">
                          <label for="exampleInputEmail1">External Users</label>
                              <div class="col-md-12 bg-border">
                                  <div class="col-md-1">

                                  </div>
                                  <div class="col-md-3">
                                    <strong> Name</strong>
                                  </div>
                                  <div class="col-md-4">
                                      <strong>Email </strong>
                                  </div>
                                  <div class="col-md-4">
                                      <strong>Organization </strong>
                                  </div>
                              </div>
                          <span class="msg"  data-mcs-theme="dark"  ng-repeat="user in externalUsers track by $index">

                              <div class="col-md-12 element">
                                  <div class="col-md-1">
                                      <input type="checkbox" checklist-model="selectedUsers" checklist-value="user">
                                  </div>
                                  <div class="col-md-3">
                                      {{user.firstName}} {{user.lastName}}
                                  </div>
                                  <div class="col-md-4">
                                      {{user.email}}
                                  </div>
                                  <div class="col-md-4">
                                      {{user.organization.name}}
                                  </div>
                              </div>

                          </span>

                      </div>
                        <div class="pull-right">
                            <br/>
                            <a href="#/settings/incident-teams"><button type="submit" class="btn btn-primary">Cancel</button> </a>
                        	<button ng-click="submit(name, selectedUsers, teamType)" type="submit" class="btn btn-success">Save</button>

                        </div>

                    </form>

                </div>
            </div>
        </div>
    </section>
</div>
