<div class="page" ng-controller="teamCtrl">
    <section class="panel panel-default">
        <div class="panel-heading">
            <strong>
        	<span class="glyphicon glyphicon-th"></span> Teams</strong>
            <div class="pull-right header-buttons">
                <a href="#/settings/incident-teams/add" class="btn btn-success btn-sm"> <i class="fa fa-plus"></i> ADD</a>
            </div>
        </div>
        <div class="panel-body">
            <table  st-pipe="Teamtable" st-table="teams" class="table table-bordered table-striped table-responsive">
                <thead>
                    <tr>
                        <th st-sort="name">Name</th>
                        <th st-sort="users.firstName">Members</th>
                        <th style="width:250px"> Action</th>
                    </tr>
                    <tr>
                     <th class="search-group"><i class="fa fa-search"></i><input class="form-control search-field" placeholder="Search" st-search="name"/>
                    </th>
                    <th class="search-group"><i class="fa fa-search"></i><input class="form-control search-field" placeholder="Search" st-search="users.firstName"/>
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="record in teams">
                        <td>{{record.name}}</td>
                        <td><span ng-repeat="user in record.users"><strong>{{user.firstName}}  {{user.lastName}}</strong> (<span ng-if="user.role">{{user.role}}</span>
                        <span ng-if="!user.role">N/A</span>), </span></td>
                        <th>
                            <a class="btn btn-primary btn-sm" ng-click="viewModal(record)"><span class="fa fa-television"></span></a>

                            <a href="#/settings/incident-teams/edit/{{record.id}}" class="btn btn-sm btn-info">
                            	<span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <button class="btn btn-sm btn-danger" confirm = "Are you sure to delete this Incident Team?" ng-click="deleteTeam($index,record.id)">
                            	<span class="glyphicon glyphicon-remove-sign"></span>
                            </button>
                        </th>
                    </tr>

                </tbody>
                <tbody ng-show="isLoading">
                  <tr>
                    <td colspan="4" class="text-center">Loading ... </td>
                </tr>
            </tbody>
            <tfoot class="table table-striped table-responsive">
              <tr>
                <td class="text-center" st-pagination="" st-items-by-page="pageItems" colspan="7">
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="col-md-3">
      <select class="form-control"
      ng-model="pageItems"
      ng-options="item.val as item.name for item in items"
      ng-selected="item.val === pageItems">
  </select>
</div>
        </div>
    </section>


</div>
