<div class="page" ng-controller="organizationsCtrl">
    <section class="panel panel-default">
        <div class="panel-heading">
            <strong>
        	<span class="glyphicon glyphicon-th"></span> External Organizations</strong>
            <div class="pull-right header-buttons">
                <a href="#/settings/organizations/edit" class="btn btn-success btn-sm"> <i class="fa fa-plus"></i> ADD</a>
            </div>
        </div>
        <div class="panel-body">
            <table st-pipe="orgTable" st-table="roles" class="table table-bordered table-striped table-responsive">
                <thead>
                    <tr>
                        <th st-sort="name"> Name</th>
                        <th st-sort="region"> Region</th>
                        <th st-sort="state"> Sector</th>
                        <th st-sort="users.firstName"> Employees</th>
                        <th st-sort="createdAt"> Created</th>
                        <th> Actions</th>
                    </tr>
                    <tr>
                       <th class="search-group"><i class="fa fa-search"></i><input class="form-control search-field" placeholder="Search" st-search="name"/>
                    </th>
                    <th class="search-group"><i class="fa fa-search"></i><input class="form-control search-field" placeholder="Search" st-search="region"/>
                    </th>
                    <th class="search-group"><i class="fa fa-search"></i><input class="form-control search-field" placeholder="Search" st-search="state"/>
                    </th>
                    <th class="search-group"><i class="fa fa-search"></i><input class="form-control search-field" placeholder="Search" st-search="users.firstName"/>
                    </th>
                    <th class="search-group"><i class="fa fa-search"></i><input class="form-control search-field" placeholder="Search" st-search="createdAt"/>
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="record in organizations">
                        <td >{{record.name}}</td>
                        <td>{{record.region}}</td>
                        <td>{{record.state}}</td>
                        <td><span ng-repeat="usr in record.users">{{usr.firstName}} {{usr.lastName}}<br></span></td>
                        <td>{{dateFormat(record.createdAt)}}</td>
                        <td>
                            <a href="#/settings/organizations/details/{{record.id}}" class="btn btn-sm btn-primary">
                                Employees
                            </a>
                            <a href="#/settings/organizations/edit/{{record.id}}" class="btn btn-sm btn-info">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a class="btn btn-danger btn-sm" ng-click="deleteOrganization(record, $index)">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-show="isLoading">
                  <tr>
                    <td colspan="4" class="text-center">Loading ... </td>
                </tr>
            </tbody>
            <tfoot class="table table-striped table-responsive">
              <tr>
                <td class="text-center" st-pagination="" st-items-by-page="pageItems" colspan="7">
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="col-md-3">
      <select class="form-control"
      ng-model="pageItems"
      ng-options="item.val as item.name for item in items"
      ng-selected="item.val === pageItems">
  </select>
</div>
        </div>
    </section>
</div>
