<div class="page" ng-controller="studentsDetailCtrl">
    <section class="panel panel-default">
        <div class="panel-heading">
            <!-- <strong> -->
        	<!-- <span class="glyphicon glyphicon-th"></span> {{organizations.name}}</strong> -->
            <select chosen ng-model="selected" ng-options = "item.id as item.name for item in selectoptions" ng-change = "managearray(selected)" ng-disabled = "orgIdFound">
            </select>
            <div class="pull-right header-buttons">
                <a href="#/settings/organizations" ng-hide = "!orgIdFound" class="btn btn-info btn-sm">Back</a>
                <a href="" ng-click = "addStudent()" class="btn btn-success btn-sm">New Student</a>
            </div>
        </div>
        <div class="panel-body">
            <div class="std-collection-table">
            <table st-pipe="studentTable" st-table="roles" class="table table-bordered table-striped table-responsive std-table">
                <thead>
                    <tr>
                        <th st-sort="name">Name</th>
                        <th st-sort="email">Email</th>
                        <th st-sort="mobilePhone">Mobile Number</th>
                        <th st-sort="status">Status</th>
                        <th st-sort="mobilePhone">Total Question</th>
                        <th st-sort="mobilePhone">Answer</th>
                        <th st-sort="mobilePhone">Expired</th>
                        <th > Actions </th>
                    </tr>
                    <tr>
                     <th>
                        <input class="form-control" placeholder="Search Name" st-search="firstName"/>
                    </th>
                    <th>
                    <input class="form-control" placeholder="Search Email" st-search="email"/>
                    </th>
                    <th>
                        <input class="form-control" placeholder="Search mobilePhone" st-search="mobilePhone"/>
                    </th>
                    <th>
                        <input class="form-control" placeholder="Search Status"
                        st-search="active"/>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="record in studentToShow">
                        <td>{{record.firstName}}</td>
                        <td>{{record.email}}</td>
                        <td>{{record.mobilePhone}}</td>
                        <td>
                          <a href="" class="btn btn-sm btn-success" ng-show="record.active === 'Active'">
                              Active
                          </a>
                          <a href="" class="btn btn-sm btn-info" ng-show="record.active === 'InActive'">
                              InActive
                          </a>
                        </td>
                        <td>{{record.question_schedulings.length}}</td>
                        <td>{{record.answerQuestions}}</td>
                        <td>
                            {{(record.question_schedulings | filter : { answer : null,status : true}).length}}
                        </td>
                        <td class="btns-icons external-organization-student">
                            <a href="" ng-click = "editStudent(record,$index)" class="btn btn-sm btn-info">
                            	    <span class="fa fa-pencil-square-o"></span>
                            </a>
                            <a href="" ng-click="deleteStudent(record.id, $index)" class="btn btn-sm btn-danger" confirm="Are you sure you want to delete?">
                                    <span class="glyphicon glyphicon-remove-sign"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-show="isLoading">
                  <tr>
                    <td colspan="4" class="text-center">Loading ... </td>
                </tr>
            </tbody>
    </table>
    </div>
    <div class="col-md-3">
      <select class="form-control"
      ng-model="pageItems"
      ng-options="item.val as item.name for item in items"
      ng-selected="item.val === pageItems">
  </select>
</div>
        </div>
    </section>
</div>
