<div class="modal fade modal-content-library" role="dialog">
    <div id="modal-dialog" class="modal-dialog">
        <!-- Modal content-->
        <div id="modal-content" class="modal-content">

            <!-- Header -->
            <div id="modal-header" class="modal-header">
                <button type="button" ng-hide= "page3 || page4" class="close" ng-click="close()" >&times;</button>
                <h4 class="modal-title">Schedule New Content
                    <for></for>
                </h4>
            </div>
            <!-- <div class="pu">
                
            </div> -->

            <div class="modal-body">
                <div class="row" ng-show = "page1" style="justify-content: center;">
                    <!-- <div class="col-md-8 col-md-offset-2"> -->
                        <!-- <div class="text-center">
                            <label >All Messages without Roles or Order Sequence will be ignored.</label>
                        </div> -->
                        <!-- Page 1 -->
                        <div class="form-group">
                            <label>Content Basic Info</label>
                            <br><br>
                            <div class="chosen-full-container" style="margin: 5px;">
                                <select chosen
                                        class="form-control"
                                        data-placeholder-text-single="'Select Game Template'"
                                        ng-model="playGame.articleId"
                                        ng-disabled="true"
                                        ng-options="article.id as article.title for article in articles" >
                                    <option></option>
                                </select>
                            </div>
                            <br>
                            <div class="chosen-full-container play-game-client">
                                <label> Total Time To Solve Question (Minutes)
                                </label>
                                <input type="number" min="0" ng-model="total_time" class="form-control" placeholder="" required="required">
                            </div>
                            <br>
                            <div class="chosen-full-container" style="margin: 5px;">
                                <label>Select Date:</label>
                                <!-- <div class="row">
                                    <div class="col-md-11">
                                        <input type="text" class = "form-control" uib-datepicker-popup="dd, MMMM, yyyy" min-date="newDate" ng-model="playGame.scheduled_date" is-open="showdp" style = "border-bottom: #ddd solid 1px;"/>
                                    </div>
                                    <span class="col-md-1">
                                        <button type="button" class="btn btn-default" ng-click="showcalendar($event)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </div> -->
                                <datepicker date-month-title="selected year" data-date-format='EEEE, dd, MMMM, yyyy' date-min-limit ="{{newDate}}" ng-model-options="{ timezone: 'utc' }">
                                    <input ng-model="playGame.scheduled_date" class = "form-control"/>
                                </datepicker>
                            </div>
                            <div class="chosen-full-container play-game-client" style="margin: 5px;">
                                <label>Organization List: </label>
                                <select chosen
                                        ng-model="playGame.organizationId"
                                        ng-change = "getPlayerList()"
                                        ng-options="organization.id as organization.name for organization in organizationList">
                                    <option value=""></option>
                                </select>
                            </div>
                            <br>
                            <div class="chosen-full-container play-game-client" ng-if = "playGame.organizationId" style="margin: 5px;">
                                <label>Class List </label>
                                <select chosen
                                        ng-model="playGame.playerListId"
                                        ng-options="playerList.id as playerList.name for playerList in organization.player_lists">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    <!-- </div> -->
                </div>

                <!-- <div class="form-group" ng-show="page2">
                    <table class="table table-bordered table-striped table-responsive">
                        <thead>
                            <tr>
                                <th>Scheduled Questions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show = "questions.length" ng-repeat="question in filteredQuestions">
                                <td ng-bind-html = "question.name"></td>
                            </tr>
                            <tr ng-show = "!questions.length">
                                <td>No Question Present</td>
                            </tr>
                        </tbody>
                    </table>
                </div> -->

                <!-- <section class="panel panel-default" ng-show="page3">
                    <div class="panel-body">
                        <div class="form-group" >
                           <div class="form-group">
                                <label> Time Span For Send Question (Minutes)
                                </label>
                                <input type="number" min="0" ng-model="timeSpan" class="form-control" id="exampleInputEmail1" placeholder="" required="required">
                            </div>
                            <div class="form-group">
                                <label> Total Time For Every Question (Minutes)
                                </label>
                                <input type="number" min="0" ng-model="total_time" class="form-control" placeholder="" required="required">
                            </div>
                        </div>
                    </div>
                </section>   -->

                <!-- Page Footer -->
                <hr>
                <div class="modal-footer">
                    <button class="btn btn-success"
                            ng-hide = "page1 || page2"
                            style="float: right;"
                            ng-click="next()">
                            Next </i>
                    </button>
                    <button class="btn btn-success"
                            style="float: right;"
                            ng-click="scheduleContent()">
                            Schedule Content & Exit
                    </button>
                    <button class="btn btn-warning"
                            style="float: right;"
                            ng-click="close()">
                            Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>