<div class="modal-header">
     <h3 class="modal-title" id="modal-title">
	     {{record.filename}}
	     <div class="pull-right">
	     	<i title="Restore Window" ng-show="maximized" class="fa fa-window-restore" aria-hidden="true" ng-click="restore()"></i>
	     	<i title="Maximize Window" ng-hide="maximized" class="fa fa-window-maximize" aria-hidden="true" ng-click="maximize()"></i>
	     	<i title="Close Window" class="fa fa-window-close-o" aria-hidden="true" ng-click="close()"></i>
	     </div>
     </h3>
</div>
<div class="modal-body">
    <iframe ng-src="{{url}}" frameBorder="0"></iframe>
</object>
</div>
<div class="modal-footer">
	<a class="btn btn-info" href="{{record.url}}" download="{{record.filename}}"> <i class="fa fa-download" aria-hidden="true"></i> Download</a>
     <button class="btn btn-primary" type="button" ng-click="close()"> <i class="fa fa-window-close-o" aria-hidden="true"></i> Close</button>
</div>
