<div class="modal-header">
     <h3 class="modal-title" id="modal-title">
	     {{record.filename}}
	     <div class="pull-right">
	     	<i title="Restore Window" ng-show="maximized" class="fa fa-window-restore" aria-hidden="true" ng-click="restore()"></i>
	     	<i title="Maximize Window" ng-hide="maximized" class="fa fa-window-maximize" aria-hidden="true" ng-click="maximize()"></i>
	     	<i title="Close Window" class="fa fa-window-close-o" aria-hidden="true" ng-click="close()"></i>
	     </div>
     </h3>
</div>
<div class="modal-body" style="text-align:center">
     <img ng-src="{{record.url}}" style="width:{{size}}%;height:{{size}}%">
</div>
<div class="modal-footer" style="text-align:left">
Zoom:
<button class="btn btn-default" ng-click="zoom('in')"><i class="fa fa-plus" aria-hidden="true" ></i></button>
<button class="btn btn-default" ng-click="zoom('out')"><i class="fa fa-minus" aria-hidden="true" ></i></button>
<div class="pull-right">
	 <a class="btn btn-info" href="{{record.url}}" download="{{record.filename}}"> <i class="fa fa-download" aria-hidden="true"></i> Download</a>
     <button class="btn btn-primary" type="button" ng-click="close()"> <i class="fa fa-window-close-o" aria-hidden="true"></i> Close</button>
   </div>
</div>
