<div class="modal-header">
     <h3 class="modal-title" id="modal-title">
	     {{record.filename}}
	     <div class="pull-right">
	     	<i title="Restore Window" ng-show="maximized" class="fa fa-window-restore" aria-hidden="true" ng-click="restore()"></i>
	     	<i title="Maximize Window" ng-hide="maximized" class="fa fa-window-maximize" aria-hidden="true" ng-click="maximize()"></i>
	     	<i title="Close Window" class="fa fa-window-close-o" aria-hidden="true" ng-click="close()"></i>
	     </div>
     </h3>
</div>
<div class="modal-body videogular-container">
     <videogular vg-player-ready="onPlayerReady($API)" vg-theme="config.theme">
			<vg-media vg-src="config.sources">
			</vg-media>
			<vg-controls>
				<vg-play-pause-button></vg-play-pause-button>
				<vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
				<vg-scrub-bar>
					<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
				</vg-scrub-bar>
				<vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
				<vg-volume>
					<vg-mute-button></vg-mute-button>
					<vg-volume-bar></vg-volume-bar>
				</vg-volume>
				<vg-fullscreen-button></vg-fullscreen-button>
			</vg-controls>
 
			<vg-overlay-play></vg-overlay-play>
		</videogular>
</div>
<div class="modal-footer">
	<a class="btn btn-info" href="{{record.url}}" download="{{record.filename}}"> <i class="fa fa-download" aria-hidden="true"></i> Download</a>
     <button class="btn btn-primary" type="button" ng-click="close()"> <i class="fa fa-window-close-o" aria-hidden="true"></i> Close</button>
</div>
