<div class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg modal_big_width">

    <!-- Modal content-->
    <div class="modal-content">
      <div id="modal-header" class="modal-header">
        <button type="button" class="close" ng-click="close()">×</button>
        <h4 id="modal-title" class="modal-title">Task Library</h4>
      </div>
      <div class="col-md-12 modal-body modal_big_height" style=" overflow-y: scroll;">
        <div class="page">
        <div class="pull-right">
            <button class="btn btn-primary" ng-click="submit()">Save</button>
        </div>
        <div class="pull-left">
            <a ng-click="addModal();" class="btn btn-primary">Create New Task</a>
        </div>
        <div style="clear: both;" 
        ></div>
          <section class="panel panel-default">
            <div class="panel-body">
              <div class="table-filters">
                <div class="row">
                  <div class="col-sm-12 col-xs-6 chosen-full-container" style="margin: 10px;">
                    <form>
                      <input type="text"
                      placeholder="Search task"
                      class="form-control"
                      data-ng-model="searchKeywords"
                      >
                    </form>
                </div>
              </div>
            </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                            <th>
                            <input type = "checkbox" ng-model = "allselected" ng-click = "selectAll()"/></th>
                            <th>
                                <div class="th">
                                    Categories
                                    <span class="fa fa-angle-up"
                                    data-ng-click=" order('task_list.all_category.name') "
                                    data-ng-class="{active: row == 'task_list.all_category.name'}"></span>
                                    <span class="fa fa-angle-down"
                                    data-ng-click=" order('-task_list.all_category.name') "
                                    data-ng-class="{active: row == '-task_list.all_category.name'}"></span>
                                  </div></th>
                                <th>
                                  <div class="th">
                                    Task
                                    <span class="fa fa-angle-up"
                                    data-ng-click=" order('task_list.title') "
                                    data-ng-class="{active: row == 'task_list.title'}"></span>
                                    <span class="fa fa-angle-down"
                                    data-ng-click=" order('-task_list.title') "
                                    data-ng-class="{active: row == '-task_list.title'}"></span>
                                  </div></th>
                                <th>
                                    <div class="th">
                                    Description
                                      <span class="fa fa-angle-up"
                                      data-ng-click=" order('description') "
                                      data-ng-class="{active: row == 'description'}"></span>
                                      <span class="fa fa-angle-down"
                                      data-ng-click=" order('-description') "
                                      data-ng-class="{active: row == '-description'}"></span>
                                    </div></th>
                                <th>
                                  <div class="th">
                                    Responsibility Level
                                    <span class="fa fa-angle-up"
                                    data-ng-click=" order('responsibility_level') "
                                    data-ng-class="{active: row == 'responsibility_level'}"></span>
                                    <span class="fa fa-angle-down"
                                    data-ng-click=" order('-responsibility_level') "
                                    data-ng-class="{active: row == '-responsibility_level'}"></span>
                                  </div></th>
                                  <th>
                                  <div class="th">
                                    Actor
                                    <span class="fa fa-angle-up"
                                    data-ng-click=" order('response_actor.firstName') "
                                    data-ng-class="{active: row == 'response_actor.firstName'}"></span>
                                    <span class="fa fa-angle-down"
                                    data-ng-click=" order('-response_actor.firstName') "
                                    data-ng-class="{active: row == '-response_actor.firstName'}"></span>
                                  </div></th>

                               
                            </tr>
                        </thead>

                        <tbody>
                            <tr id="modal-title"  ng-repeat="activity in filteredActivities">
                             <td> <input type="checkbox"  ng-click="unselectActivity(activity)" ng-checked="selected.includes(activity.id)"></td>
                              <td >{{activity.task_list.all_category.name}}</td>
                              <td >{{activity.task_list.title}}</td>
                              <td >{{activity.description}}</td>
                              <td >{{activity.responsibility_level}}</td>
                              <td >{{activity.response_actor.firstName}} {{activity.response_actor.lastName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </section>
      </div>
      </div>
      <div class="modal-footer">
         

      </div>
    </div>

  </div>
</div>