<div ng-controller="actionPlanWizardCtrl" class="action-plan-wiz-wrap">

	<div class="container-fluid tile_margin">
		<div class="text-center">
			<h3>There are different ways to create a Strategic Crisis Management Plan. You have access to four methods.</h3>
		</div>

		<br>
		<div class="row">
			
			<div class="col-md-4 col-md-offset-4 col-sm-offset-3">
			 <!-- ng-mouseover = "change('Type 1')" -->
				<div class="card" style="background-color: rgba(220, 2, 2, 0.78) !important;">
					<div class="card-content" style="position: static;">
						<div class="card-headline">
							<a href="#/wizardActionPlan" >
	                        	<h3 style="color: black" class="text-center"><strong>{{first.subject}}</strong></h3>
							</a>
	                    </div>

	                    <div class="card-body">
	                    	<div style="min-height: 50px;color: black">
	                    		{{first.content}}
	                    	</div>
	                    </div>
					</div>
				</div>
			</div>
			
		</div>

		<div class="clear"></div>
		
		<div class="row">
			<div class="col-sm-4 col-xs-12" >
				<div class="card" style="background-color: rgba(45, 45, 255, 0.78) !important;">
					<div class="card-content" style="position: static;">
						<div class="card-headline">
							<a href="" ng-click="newActionPlanv2()" ng-mouseover = "change('Type 4')">
	                        	<h3 style="color: black" class="text-center"><strong>{{second.subject}}</strong></h3>
							</a>
	                    </div>

	                    <div class="card-body">
	                    	<div style="min-height: 50px;color: black">
	                    		{{second.content}}
	                    	</div>
	                    </div>
					</div>
				</div>
				
			</div>
			<div class="col-sm-4 col-xs-12">
				<div class="card" style="background-color: rgba(45, 45, 255, 0.78) !important;">
					<div class="card-content" style="position: static;">
						<div class="card-headline">
							<a href="" ng-mouseover = "change('Type 2')" ng-click = "createSectionPlan()">
	                        	<h3 style="color: black;" class="text-center"><strong>{{third.subject}}</strong></h3>
							</a>
	                    </div>

	                    <div class="card-body">
	                    	<div style="min-height: 50px;color: black;">
	                    		{{third.content}}
	                    	</div>
	                    </div>
					</div>

				</div>
			</div>
			<div class="col-sm-4 col-xs-12" >
				<div class="card" style="background-color: rgba(45, 45, 255, 0.78) !important;">
					<div class="card-content" style="position: static;">
						<div class="card-headline">
							<a href="#/settings/action-plans"  ng-mouseover = "change('Type 3')">
	                        	<h3 style="color: black; " class="text-center"><strong>{{fourth.subject}}</strong></h3>
							</a>
	                    </div>

	                    <div class="card-body">
	                    	<div style="color: black;">
	                    		{{fourth.content}}
	                    	</div>
	                    	<a href="#/actionPlanWizard"
                                class="btn btn-default pull-right" style="margin-top: 0px;" title="Users">
                                <i class="">Step 1-2-3</i>
                            </a>
	                    </div>
					</div>

				</div>
			</div>
		</div>

	</div>
</div>
