<div class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" id="modal-dialog">
        <div class="modal-content">

            <div class="modal-header" id="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" ng-if="data.kind == 'agendaPoints'" id="modal-title">Action Plan Library : {{data.name}}</h4> 
                <h4 class="modal-title" ng-if="data.kind == 'activities'" id="modal-title">Action Plan Library</h4>
            </div>

            <div class="modal-body modal_big_height" style=" overflow-y: auto">
                <section ng-show="page1" class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <input type="text"
                                 placeholder="Search Please."
                                 class="form-control"
                                 data-ng-model="searchKeywords"
                                 data-ng-keyup=""
                                 style="margin-left: 25px;" 
                                 >
                        </div>
                        <br>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="th">
                                              Name
                                                  <a      href=""
                                                  class="fa fa-angle-up"
                                                  style="text-decoration: none;"
                                                  data-ng-click=" order('name') "
                                                  data-ng-class="{active: row == 'name'}">
                                                </a>
                                                <a      href=""
                                                  style="text-decoration: none;"
                                                  class="fa fa-angle-down"
                                                  data-ng-click=" order('-name') "
                                                  data-ng-class="{active: row == '-name'}">
                                                </a>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="th">
                                              Scenerio
                                                  <a      href=""
                                                  class="fa fa-angle-up"
                                                  style="text-decoration: none;"
                                                  data-ng-click=" order('scenario') "
                                                  data-ng-class="{active: row == 'scenario'}">
                                                </a>
                                                <a      href=""
                                                  style="text-decoration: none;"
                                                  class="fa fa-angle-down"
                                                  data-ng-click=" order('-scenario') "
                                                  data-ng-class="{active: row == '-scenario'}">
                                                </a>
                                            </div>
                                        </th>
                                        <th> 
                                            <div class="th">
                                              Description
                                                  <a      href=""
                                                  class="fa fa-angle-up"
                                                  style="text-decoration: none;"
                                                  data-ng-click=" order('description') "
                                                  data-ng-class="{active: row == 'description'}">
                                                </a>
                                                <a      href=""
                                                  style="text-decoration: none;"
                                                  class="fa fa-angle-down"
                                                  data-ng-click=" order('-description') "
                                                  data-ng-class="{active: row == '-description'}">
                                                </a>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="th">
                                              Created At
                                                  <a      href=""
                                                  class="fa fa-angle-up"
                                                  style="text-decoration: none;"
                                                  data-ng-click=" order('createdAt') "
                                                  data-ng-class="{active: row == 'createdAt'}">
                                                </a>
                                                <a      href=""
                                                  style="text-decoration: none;"
                                                  class="fa fa-angle-down"
                                                  data-ng-click=" order('-createdAt') "
                                                  data-ng-class="{active: row == '-createdAt'}">
                                                </a>
                                            </div>
                                        </th>
                                        <th> Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="plan in plans | filter: searchKeywords">
                                        <td>{{plan.name}}</td>
                                        <td>{{plan.scenario.name}}</td>
                                        <td>{{plan.description}}</td>
                                        <td>{{plan.createdAt | date: 'HH:mm dd-MM-yyyy' }}</td>
                                        <td>
                                            <button title="View Plan" class="btn btn-sm btn-primary" ng-click="selectPlan(plan)">
                                                <span class="fa fa-television"></span> View Plan
                                            </button>
                                            <button title="Print" class="btn btn-sm btn-primary"
                                             ng-click="printPlan(plan)" >
                                                <span class="fa fa-print"></span> Print
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>

                <section ng-show="page2" class="panel panel-default">
                    <div class="panel-body">
                        <strong>Plan Name:</strong> {{data.name}}
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div id="menu1" class="tab-pane fade in active ui-widget">
                                    <p ng-hide="activities.length > 0" class="watermark-text-medium"
                                        style="position: inherit;">
                                        No Task Assigned
                                    </p>
                                   <table class="table table-striped table-responsive table-condensed table-activities"
                                            ng-show="activities.length > 0">
                                        <thead>
                                            <tr>
                                                <th style="width: 15%;">Checklist Item</th>
                                                <th style="width: 12.5%;">Responsibility</th>
                                                <th style="width: 15%;">Role</th>
                                                <th style="width: 15%;">Actor</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="activity in activities | orderBy: 'index'"
                                                >

                                                <td>
                                                    <button class="btn btn-sm btn-default"
                                                            tooltip="{{activity.title}}"
                                                            ng-click="taskInfo(activity)">
                                                        {{activity.title | displayString: 35}}
                                                    </button>
                                                </td>

                                                <td>{{activity.responsibility_level}}</td>

                                                <td>
                                                    {{displayProperty(activity.role)}} - {{displayProperty(activity.department)}}
                                                    <br> {{displayProperty(activity.organization)}}
                                                </td>

                                                <td>
                                                    <a href="" style="text-decoration: none; color:#626262">
                                                        <div>
                                                            <img ng-class="userStatusClass(activity.response_actor_available)"
                                                                    class="img30_30" alt="No Image" />
                                                        </div>
                                                        {{activity.response_actor_name}}
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section ng-show="page3" class="panel panel-default">
                  <h4><strong>Agenda Point Items</strong></h4>
                  <li style="list-style: none;" ng-repeat="agendapoint in agendapoints">
                    <uib-accordion close-others="true">
                      <div uib-accordion-group>
                        <uib-accordion-heading>
                            {{agendapoint.name}}
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': true, 'glyphicon-chevron-right': !true}"></i>
                        </uib-accordion-heading>
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                              <div id="menu1" class="tab-pane fade in active ui-widget">
                                    <p ng-hide="agendapoints.length > 0" class="watermark-text-medium"
                                      style="position: inherit;">
                                      No Agenda Point Assigned
                                    </p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><strong>Description</strong> : {{agendapoint.description}}</label>
                                        </div>
                                        <div class="col-md-6">
                                            <label><strong>Responsibility</strong> : {{agendapoint.responsibilityLevel}}</label>
                                        </div>
                                    </div>
                                    <br>
                                  <table st-table="activities" st-safe-src="safeActivities" class="table table-striped table-condensed table-activities"
                                    ng-show="agendapoint.agenda_activities.length > 0">
                                    <thead>
                                        <tr>
                                            
                                            <th class="col-md-2">Checklist Item</th>
                                            <th class="col-md-2">Responsibility</th>
                                            <th class="col-md-2">Role</th>
                                            <th class="col-md-2">Actor</th>
                                        </tr>
                                        
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat=" act in agendapoint.agenda_activities">
                                          <td>{{act.activity.task_list.title}}</td>
                                          <td>{{act.activity.responsibility_level}}</td>
                                          <td>{{displayActivityProperty(act.role)}}</td>
                                          <td>
                                            <a href="" ng-click="showUserModal(act)" style="text-decoration: none; color:#626262">
                                                <div>
                                                    <img ng-src="{{userStatusImg(act.response_actor)}}" class="img30_30" alt="No Image" />
                                                </div>
                                                {{displayActorName(act.response_actor)}}
                                            </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </uib-accordion>
                  </li>
                </section>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-show="!page1 && !planId" ng-click="back()">
                    <i class="fa fa-chevron-left fa-lg"></i> Back
                </button>
                <button class="btn btn-info" ng-click="close()" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
