body{
	overflow-x: hidden;
}
.top-nav{
	position: relative;
}
.main-logo{
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	height: 45px;
	text-align: center;
	z-index: 1;
}
.main-logo img{
	max-width: 160px;
}
.nav-left, .nav-right{
	z-index: 998;
	position: relative;
}
.breadcrumb-wrap{
	float: left;
	display: inline-block;
	z-index: 998;
	position: relative;
	margin-left: 15px;
}
.img-inline{
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
	border: 1px solid #ccc;
	margin-top: 5px;
	float: left;
	margin-right: 5px;
}
.avatar-wrap{
	width: 30px;
	height: 30px;
	line-height: 30px;
	display: flex;
	text-align: center;
	vertical-align: middle;
	align-items: center;
}
.avatar-wrap .img-responsive{
	max-height: 30px;
	display: inline-block;
	margin: 0 auto;
}
.user-name{
	font-weight: bold;
	font-size: 13px;
	color: #009688;
}
.clear {clear: both;}
.clear5 {clear: both; height: 5px; line-height: 5px;}
.clear10 {clear: both; height: 10px; line-height: 10px;}
.clear15 {clear: both; height: 15px; line-height: 15px;}
.clear20 {clear: both; height: 20px; line-height: 20px;}
.clear40 {clear: both; height: 40px; line-height: 40px;}
.clear80 {clear: both; height: 80px; line-height: 80px;}

.view-container p {text-align: left;}
.view-container .card-body {text-align: center;}
.view-container p.text-center{text-align: center;}
.view-container .navbar-right {display: inline-block; margin-right: -5px !important; margin-top: 3px;}

.classes .column .panel-body {width: 100%;}
/*#modal-dialogue, .modal-dialog.modal-lg {width: 900px;}*/
.modal-backdrop.in {z-index: 999;}
.modal-content .modal-header {padding-top: 13px; padding-bottom: 10px;}
.modal-content .modal-header .close {margin-top: 4px; margin-right: -3px;}
/*.modal-lg {width: 900px;}*/
.modal {padding-left: 0 !important;}

.action-plan-wiz-wrap .col-md-4, .action-plan-wiz-wrap .col-sm-4, .action-plan-wiz-wrap .col-xs-12  {margin-bottom: 20px;}

.card button .material-icons { max-width: 15px !important; }
.table-responsive{
	width: 100%;
}
.post .panel-group{
	margin-bottom: 0px !important;
}
.custom-progress{
	width: calc(100% - 20px);
}

.progress .progress-bar{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4469be+0,429976+100 */
	background: #4469be; /* Old browsers */
	background: -moz-linear-gradient(45deg, #4469be 0%, #429976 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #4469be 0%,#429976 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #4469be 0%,#429976 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4469be', endColorstr='#429976',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.incident-bar-icon{
	position: absolute;
    top: -9px;
    right: 0;
    background: #fff;
    border-radius: 50%;
    border: #c9c8c8 solid 3px;
    font-size: 12px;
    color: #3b9688;
    padding: 0px 3px;
}
.incident-bar-icon.incident-full-progress{
    border: #009688 solid 3px;
}

.notification-dropdown{
	display: inline-block;
    vertical-align: middle;
    margin-left: 70px;
    position: relative;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #3b9688;
}

.notification-dropdown > span{
    position: absolute;
    top: 0;
    background: #3b9688;
    color: #fff;
    line-height: normal;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 11px;
}

.notification-dropdown .custom-menu{
	position: absolute;
	background-color: #fff;
	padding: 15px;
	width: 200px;
	list-style: none;
	top: 30px;
	right: 0;
	border-radius: 5px;
    border: 1px solid #d0d0d0;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
}
.notification-dropdown .custom-menu span{
	position: absolute;
	left: 0;
    top: 14px;
    font-size: 12px;
    color: #444;
}
.notification-dropdown .custom-menu input{
	padding-left: 20px;
}

.notification-dropdown .custom-menu .custom-menu-search{
	position: relative;
}
/*.notification-dropdown:hover .custom-menu{
	display: block;
}*/

.notification-dropdown .custom-menu li{
	display: block;
	width: 100%;
}

.notification-dropdown .custom-menu li a{
	display: block;
}
.player-notification-scroll{
	max-height: 150px;
	overflow: auto;
}

.incident-ul{
	float: none !important;
	vertical-align: middle;
    margin-left: 10px;
    display: inline-block;
}

.incident-ul > li > a{
	padding: 0px 0px !important;
}
/*.fr-wrapper > div:first-of-type {
    display: none;
}
.show-placeholder > div:first-of-type {
    display: block !important;
}*/
.fr-popup .fr-selected-set >span {
    display: inline-block !important;
    width: 32px;
    height: 32px;
    position: relative;
    z-index: 1;
}
.fr-popup .fr-color-set >span {
    display: none;
    z-index: 1;
}


.fr-popup .fr-colors-tabs .fr-colors-tab {
    display: inline-block;
    width: 50%;
    cursor: pointer;
    text-align: center;
    color: #222222;
    font-size: 13px;
    padding: 8px 0;
    position: relative;
}
.fr-popup .fr-colors-tabs .fr-colors-tab.fr-selected-tab {
    color: #1e88e5;
}
.fr-desktop .fr-command:hover, .fr-desktop .fr-command:focus {
    outline: 0;
    color: #222222;
    background: #ebebeb;
}
.fr-popup .fr-color-set>span>i, .fr-popup .fr-color-set>span>svg {
    text-align: center;
    line-height: 32px;
    height: 32px;
    width: 32px;
    font-size: 13px;
    position: absolute;
    bottom: 0;
    cursor: default;
    left: 0;
}

.fr-popup .fr-selected-color {
    color: #ffffff;
    font-family: FontAwesome;
    font-size: 13px;
    font-weight: 400;
    line-height: 32px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    cursor: default;
}
.agenda-activity-label{
	margin-bottom: 15px;
    font-size: 20px;
    background-color: #92d050;
    width: 100%;
    padding: 0px 20px;
    border-radius: 5px;
    color: #676660;
    line-height: 42px;
}
.incident_activity_task{
    padding: 0px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-right: 10px;
    position: relative;
    top: -5px;
}

.panel > .panel-heading, .panel.panel-default > .panel-heading{
    position: relative;
}

.accordian-actions-btns{
    position: absolute;
    top: 9px;
    right: 0;
}
.business-badge {
  right: 32px !important;
  background-color: #990707;
}
.unread_message{
    /*color: #009688;*/
    font-weight: bold;
}
.planning-dashboard-agenda-list .panel-default{
    min-height: inherit;
}

.planning-dashboard-agenda-list .panel-heading{
    border-radius: 4px;
}

.agenda-table .as-sortable-item, .agenda-table .as-sortable-placeholder{
    display: table-row;
}
.multipleTab > .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    width: 25%;
}
.msg_rsp{
    padding: 0px 0px 0px 0px !important;
}
.response_msg{
    display: inline-block;
    width: calc(100% - 85px);
    vertical-align: top;
}

.questions-section-hower .panel-body{
    overflow: auto;
    height: 300px;
}
.ui-buttons-row{
  display: inline-block;
  vertical-align: middle;
}
.ui-buttons-row .show-btns{
    width: 30px;
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    text-align: center;
    line-height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    background: #eee;
    margin-right: 5px;
    margin-top: 9px;

}
/*.questions-section{
    position: fixed;
}*/
.selected-highlight{
  /*border: 3px solid rgb(204, 204, 204);*/
  background-color: rgb(204, 204, 204)
}
.student_image{
    position: relative;
}
.class_image{
    position: relative;
}
.playerlist_image{
    margin-right: 8px;
    width: 18px;
    margin-bottom: 5px;
}
.collections_image{
    margin-right: 5px;
    margin-bottom: 4px;
    width: 16px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(21deg) brightness(97%) contrast(103%);
}
.organization_image{
    margin-right: 8px;
    margin-bottom: 3px;
    width: 18px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(21deg) brightness(97%) contrast(103%);
}

.employees_image{
    margin-right: 8px;
    margin-bottom: 2px
}
.students_btn{
    background-color: #07988b !important;
}
.calendar_icon{
    margin-right: 5px;
}
  .student_image{
    text-align: center;
  }
   .student_image a{
    font-size: 25px;
    display: inline-block;
    vertical-align: middle
   }
   .student_image{
    padding: 35px 0 20px;
   }
   .class_image{
    text-align: center;
   }
    .class_image a{
    font-size: 25px;
    display: inline-block;
    vertical-align: middle
   }
   .class_image{
     padding: 35px 0 20px;
   }
   .card .card-content{
    position: relative;
   }
   .student_image img{
    max-width: 57px;
   }
   .home-page-cards .card .card-body a{
    padding: 0;
    margin: 0;
   }
    .home-page-cards .card .card-body{
        padding: 18px 0 5px;
   }
   .table-schedule-content tr td{
    width: 18%;
    text-align: center;
    padding: 33px 0 !important;
   }
   .table-schedule-content .btns-icons{
    padding: 25px 0 !important;
   }
   .table-schedule-content .btns-icons a{
    margin: 0;
   }
      .table-complete-status tr td{
        width: 33.3%;
        text-align: center;
        padding: 33px 0 !important;
   }
    .table-complete-status  tr th{
        text-align: center;
    }
    .highlight-collection-table.table-complete-status .btns-icons{
    padding: 19px 0 !important;
   }
    .table-complete-status .btns-icons{
    padding: 25px 0 !important;
   }
    .table-complete-status .btns-icons a{
    margin: 0;
   }
   .table-schedule-content-student th{
    text-align: center;
   }
    .table-schedule-content-student tr td{
        width: 20%;
        text-align: center;
        padding: 33px 20px !important;
   }
      .table-schedule-content-student .btns-icons{
    padding: 25px 0 !important;
   }
     .table-schedule-content-student .btns-icons a{
    margin: 0;
   }
   .active-schedule-message .btn{
    margin: 0;
    padding: 0 !important;
   }
   .active-schedule-message .panel-heading{
    padding: 15px;
   }
   .active-schedule-message .form-group{
    margin: 0;
   }
   .active-schedule-message .tab-content{
    margin-top: 20px;
   }
   .active-schedule-td{
    padding: 6px 20px !important;
   }
   .active-schedule-td a{
     padding: 1px !important;
    line-height: 0 !important;
}
.col-sm-3{
        width: 24%;
        margin: 0 auto;
}
.col-sm-6{
    width: 49%;
    margin: 0 auto;
}
.col-sm-4 {
    width: 33%;
    margin: 0 auto;
}
.col-xs-9{
    width: 74.5%;
}
.col-xs-3{
    width: 24.5%;
}
.table-schedule-content th{
    text-align: center;
}
.content-section-highlight .add-content-btn{
    margin: 20px 10px 0;
}
.main-content-navbar{
    margin: 0 20px;
}
.content-section-highlight .title-header{
    padding-bottom: 15px;
}
.content-section-highlight .main-content{
   padding: 0 20px;
}
.highlight-message-wrapper .message-listing-wrpper{
    padding: 0 15px !important;
}
.highlight-message-section.message-questions{
    padding: 15px 0 !important;
}
.highlight-message-section.questions-section{
    padding: 15px 0;
}
.question-selection-wrapper .question-manage{
    padding: 0 5px!important;
}
.content-container .navbar{
    margin: 0 0 10px;
}
.header-media-btn .btn.btn-sm{
    padding: 10px 20px !important;

}
.collection-type-table th{
    width: 20%;
    text-align: center;
}
.collection-type-table .action{
    width: 40%;
    text-align: center;
}
.collection-type-table tr td p{
    text-align: center;
    margin: 0;
}
.collection-type-table tr td{
    width: 20%;
    text-align: center;
    padding: 20px 0 !important;
}
.collection-type-table tr .action{
    width: 40%;
    text-align: center;
    padding: 16px 0 !important;
}
.search-collection-type-sec tr .action{
    text-align: center;
}
.search-collection-type-sec tr .btns-icons{
    text-align: center;
}
.search-collection-type-sec tr .btns-icons a{
    margin: 0 !important;
    padding: 0 10px !important;
}
.collection-type-table tr .action a{
    margin: 0;
    padding: 0;
}
.modal-content-library .modal-dialog{
    margin:44px auto;
}
.content-edit-collection #home{
    width: 50%;
}
.content-edit-collection .form-group{
    margin-top: 0;
}
.content-edit-collection .modal-dialog{
    width: 80%;
    margin: 45px auto;
}
.add-students-messages{
    top: 50%;
    margin: 15px auto !important;
    transform: translateY(-50%) !important;
}
.Organization-modal #home{
    width: 50%;
}
.Organization-modal .form-group{
    margin-top: 0;
}
.Organization-modal .modal-dialog{
    width: 80%;
    margin: 45px auto;
}
.view-container a:focus{
    outline: none;
    outline-offset: none;
}
.calender-page .questions-wrapper{
   height: calc(100vh - 120px) !important;
   overflow-y: auto !important;
   overflow-x: hidden !important;
}
.modal-content .modal-body{
    padding-bottom: 0;
}
.modal_big_height {
    height: 100%;
}
.class-list-modal .modal-dialog{
        width: 400px;
}
.form-articles .form-group{
    margin: 0;
}
.form-articles .modal-dialog{
        width: 600px;
}
.highlights.form-articles .modal-dialog{
    width: 80%;
}
.page-highlights .main-content > .row{
    max-width: 100%;
}
.articles-content .modal-dialog{
    margin: 45px auto;
}
.details-content .main-content p{
    padding-top: 5px;
}
.btns-icons .btn.btn-sm{
    margin: 0;
}
.collec-btns-icons .btn.btn-sm{
    margin: 0;
    padding:0 15px;
}
.collec-btns-icons a{
     margin: 0;
    padding:0 15px !important;
}
.students-icons{
    width: 20%;
}
.std-pannel-address{
    width: 80%;
    margin: 0 auto;
}
.std-collection-table td > .btn.btn-sm{
    padding: 0 !important;
    margin: 0;
}
.std-collection-table .external-organization-student .btn.btn-sm{
    padding: 0 5px !important;
}
.dynamic-form .dynamic-form-student .btn.btn-sm{
    padding: 0 20px !important;
}
.repeatSurvey{
    height: 239px !important;
    overflow: hidden !important;
}
.contentBtn{
    text-align: center;
}
.hihglightBtn{
    display: inline-block;
}
.highlightSection{
    float: right;
}

.highlightSection  a{
    padding: 8px 10px !important;
}
.highlightSection  a:nth-child(1){
    line-height: 17px;
    color: #ccc;
}
.searchBar{
    padding: 0 6px;
}
.searchBar .input-group-btn{
    padding: 0;
}
.collection-list{
    width: 100%;
    margin: 0;
}
.collection-list .searchBar{
    padding: 0 3px;
}
.active-content-messages th, td, tr {
    padding: 20px;
}
.active-content-messages  td a{
    padding: 0;
    margin: 0;
}
.active-content-tabs .row{
    align-items: center;
}
.active-content-tabs .col-sm-2 a{
    padding: 0 20px !important;
    margin: 0 !important;
}
.student-messages .col-xs-10 a{
    height: 0;
    padding: 0 !important;
    margin: 0 !important;
}

.student-messages .col-xs-10 h2{
    margin-top: 0 !important;
    padding-top: 0 !important;
}
.btn-messages{
   background-color:  #009688;
   text-align: center;
   display: block;
   color: #fff;
}
.student-messages .col-sm-12 .btn.btn-info{
    padding-left: 0;
}
.student-messages .form-group{
    margin-top: 0;
}
.student-messages .panel-body{
    padding-top: 0;
}
.users-surveys-forms .survey-inner-content{
    width: 75%;
    margin: 0 auto;
    background-color: #eeeeee;
    padding: 20px 0px;
}
#main-calendar a.fc-day-grid-event .fc-content{
    display: inline;
    margin-left: 5px;
    white-space: inherit;
}
#main-calendar .fc-event.fc-draggable{
    padding: 10px !important;
}
.active-quick-content{
    padding: 0 0 0 15px;
}
.active-quick-content ul li{
    width: 180px;
    text-align: center
}
.list-group-wrap .panel-body{
    padding: 0px !important;
}
