<div class="modal fade" role="dialog">
  <div class="modal-dialog" style="width: 1050px;">
    <!-- Modal content-->
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()">&times;</button>
        <h4 class="modal-title">Outcome Selection for {{activity.title}}
          <for></for>
        </h4>
      </div>

      <!-- Body -->
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-heading">
            Activity List
          </div>
          <div class="panel-body">
            <div class="row" style="margin-bottom: 10px;">
              <div class="col-md-12">
                <div class="input-group">
                  <input type="text" class="form-control input-sm" style="border-radius: 3px 0 0 3px;" placeholder="Search task list via Responsible Actor, Description, and Status"
                    ng-model="searchVal">
                    <span class="input-group-btn">
                    <button class="btn btn-primary btn-sm"
                            type="button"
                            style="padding-left: 20px; padding-right: 20px; border-radius: 0 3px 3px 0;">
                            <i class="fa fa-search fa-fwearch"></i>
                    </button>
      			     </span>
                </div>
              </div>
            </div>
            <table st-table="activities"
                    class="table table-bordered table-striped table-responsive">
              <thead>
                <tr>
                  <th>Actor</th>
                  <th>Task</th>
                  <th>Description</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody ng-repeat="activity in outcomes | filter:searchVal">
                <tr st-select-row="activity" st-select-mode="multiple">
                  <td>
                    <div>
                      <img ng-class="userStatusClass(activity.response_actor.available)" class="img30_30" alt="No Image" />
                    </div>
                    {{activity.response_actor.firstName}} {{activity.response_actor.lastName}}
                  </td>
                  <td>{{activity.task_list.title}}</td>
                  <td>{{activity.description}} </td>
                  <td>
                    {{incidentPlan.activity_status[index].outcomes[$index].task_status}}
                  </td>
                  <td>
                    <input type="radio"
                            ng-model="incidentPlan.activity_status[index].selected_outcome"
                            ng-value="incidentPlan.activity_status[index].outcomes[$index].activityId"
                            ng-change='updateOutcome()'>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="close()" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>