<div class="page" ng-controller="userListCtrl">
  <section class="panel panel-default">
    <div class="panel-heading">
      <strong>
        <span class="glyphicon glyphicon-th"></span> User Management
      </strong>
      <div class="pull-right header-buttons">
        <a href="#/settings/users/add" class="btn btn-success btn-sm"> <i class="fa fa-plus"></i> ADD</a>
      </div>
    </div>

    <div class="panel-body">

      <table st-pipe="init" st-table="tasks" class="table table-bordered table-striped table-responsive">
        <thead>
          <tr>
            <th st-sort="firstName">Name</th>
            <th st-sort="department.name">Department</th>
            <th st-sort="roles.name">Position/Role</th>
            <th st-sort="role">User Type</th>
            <th style="width: 16%">Actions</th>
          </tr>
          <tr>
            <th class="search-group"><i class="fa fa-search"></i><input class="form-control search-field" placeholder="Search" st-search="firstName"/>
            </th>
            <th class="search-group"><i class="fa fa-search"></i><input class="form-control search-field" placeholder="Search" st-search="department.name"/>
            </th>
            <th class="search-group"><i class="fa fa-search"></i><input class="form-control search-field" placeholder="Search" st-search="roles.name"/>
            </th>
            <th class="search-group"><i class="fa fa-search"></i><input class="form-control search-field" placeholder="Search" st-search="role"/>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody ng-show="!isLoading">
          <tr ng-repeat="user in users">
            <td>{{user.firstName}} {{user.middleName}} {{user.lastName}}</td>
            <td>{{user.department.name}}</td>
            <td><p ng-repeat="role in user.roles">{{role.name}}</p></td>
            <td>{{user.role}}</td>
            <td>
             <!--  <a class="btn btn-primary btn-sm" ng-click="viewModal(user.id)"><span class="fa fa-television"></span></a> -->
             <div ng-hide ="user.role == 'admin' && currentUser.role == 'CA'">
              <a class="btn btn-info btn-sm" href="#/settings/users/edit?id={{user.id}}">
                <span class="glyphicon glyphicon-edit"></span>
              </a>
              <a class="btn btn-danger btn-sm" ng-click="deleteUser(user.id)" confirm="Are you sure you want to delete?">
                <span class="glyphicon glyphicon-remove-sign"></span>
              </a>
              </div>
              <span ng-show ="user.role == 'admin' && currentUser.role == 'CA'">
                  No actions available
              </span>
            </td>
          </tr>
        </tbody>
        <tbody ng-show="isLoading">
          <tr>
            <td colspan="4" class="text-center">Loading ... </td>
          </tr>
        </tbody>
        <tfoot class="table table-striped table-responsive">
          <tr>
            <td class="text-center" st-pagination="" st-items-by-page="pageItems" colspan="7">
            </td>
          </tr>
        </tfoot>
      </table>
      <div class="col-md-3">
        <select class="form-control"
              ng-model="pageItems"
              ng-options="item.val as item.name for item in items"
              ng-selected="item.val === pageItems">
        </select>
      </div>
    </div>
  </section>
</div>
