<div ng-controller="settingsHomeCtrl">
    <div class="container-fluid" style="padding-bottom: 10px;">
        <div class="top_btns_container">
            <div class="">
                <h2>
                    <strong>
                        Preparation Manager
                    </strong>
                </h2>
                <h3>
                    Set up users & teams, develop plans, customize Information Dashboard and more.
                </h3>
            </div>
        </div>
    </div>

    <div class="row" style="margin: 5px;">
        <div class="col-md-2"></div>
        <div ng-repeat = "card in cards" class="col-md-4" style="margin-bottom: 20px;">
            <div class="card">
                <div class="card-content" style="position: static;">
                    <div class="card-headline">
                        <h2 class="text-center" style="position: relative;top: 25px;color: #009688;">
                            <a href="" ng-click = "showGraph($index,card)">{{card.name}}</a>
                        </h2>

                    </div>

                    <div class="card-body">
                        <div class="text-center">
                            <a ng-click = "showGraph($index,card)" class="btn text-center" style="color: black;   position: relative;top: 25px;" ng-class="{'color_green': card.click}">
                                <i class="fa fa-caret-down fa-2x "></i>
                            </a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>

    </div>

    <div class="row" style="margin: 5px;" ng-show = "card.index == 0 && card.click">
        <div class="col-md-4" >
            <a  href="" ng-click="newActionPlanv2()" ng-mouseover = "change('Type 4')">
                <div class="card" >
                    <div class="card-content" style="position: static;">
                        <div class="card-headline text-center">
                            <h3 ><strong>{{second.subject}}</strong></h3>
                        </div>

                        <div class="card-body">
                            <div style="min-height: 50px;color: black;">
                                {{second.content}}
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a  href=""  ng-mouseover = "change('Type 2')" ng-click = "createSectionPlan()">
                <div class="card" >
                    <div class="card-content" style="position: static;">
                        <div class="card-headline text-center">
                            <h3 ><strong>{{third.subject}}</strong></h3>
                        </div>

                        <div class="card-body">
                            <div style="min-height: 50px;color: black;">
                                {{third.content}}
                            </div>
                        </div>
                    </div>

                </div>
            </a>
        </div>

        <div class="col-md-4" >
            <a href="#/settings/action-plans"  ng-mouseover = "change('Type 3')">
                <div class="card" >
                    <div class="card-content" style="position: static;">
                        <div class="card-headline text-center">
                            <h3 ><strong>{{fourth.subject}}</strong></h3>
                        </div>

                        <div class="card-body">
                            <div style="min-height: 50px;color: black;">
                                {{fourth.content}}
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>




    <div class="row" style="margin: 5px;"  ng-show = "card.index == 1 && card.click">
        <div class="col-md-4" style="padding: 10px;margin: 0px;">
            <div class="card" style="background-color: rgba(255, 255, 255, 0.78) !important;">
                <div class="card-content" style="position: static;">
                    <div class="card-headline text-center">
                        <h3><strong>User & Teams</strong></h3>
                    </div>
                    <div class="card-body">
                        <div style="min-height: 50px;" class="text-center">
                            <a href="#/settings/incident-teams"
                            class="btn btn-default" title="Teams">
                                Teams ({{count.team_count}})
                            </a>
                            <a href="#/settings/users"
                            class="btn btn-default" title="Users">
                                Users ({{count.user_count}})
                            </a>
                            <a href="#/settings/roles"
                            class="btn btn-default" title="Roles">
                                Roles ({{count.role_count}})
                            </a>
                            <a href="#/settings/departments"
                            class="btn btn-default" title="Departments">
                                Departments ({{count.department_count}})
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="padding: 10px;margin: 0px;">
            <div class="card" style="background-color: rgba(255, 255, 255, 0.78) !important;">
                <div class="card-content" style="position: static;">
                    <div class="card-headline text-center">
                        <h3 ><strong>Information Dashboard</strong></h3>
                    </div>

                    <div class="card-body">
                        <div style="min-height: 50px;" class="text-center">
                            <a href="#/settings/incident-types"
                            class="btn btn-default" title="Incident Types">
                                Incident Types ({{count.categories_count}})
                            </a>
                            <a href="#/settings/check-lists"
                            class="btn btn-default" title="Checklist">
                                Checklists ({{count.checklist_count}})
                            </a>
                            <a href="#/settings/dashboard-categories"
                            class="btn btn-default" title="Dashboard Categories">
                               Dash-Categories ({{count.dcategories_count}})
                            </a>
                            <a href="#/settings/color-palettes"
                            class="btn btn-default" title="Dashboard Color Palettes">
                                Colors ({{count.colors_count}})
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="padding: 10px;margin: 0px;">
            <div class="card" style="background-color: rgba(255, 255, 255, 0.78) !important;">
                <div class="card-content" style="position: static;">
                    <div class="card-headline text-center">
                        <h3 ><strong>Libraries & More</strong></h3>
                    </div>

                    <div class="card-body">
                        <div style="min-height: 50px;" class="text-center">
                            <a href="#/settings/libraries"
                            class="btn btn-default" title="References Library">
                                References ({{count.references_count}})
                            </a>
                            <a href="#/settings/message-libraries"
                            class="btn btn-default" title="Messages Library">
                                Messages ({{count.msgs_count}})
                            </a>
                            <a href="#/settings/all-categories"
                            class="btn btn-default" title="All Categories">
                                All Categories ({{count.cat_count}})
                            </a>
                            <a href="#/settings/capacities"
                            class="btn btn-default" title="Account Profile">
                                Capacities ({{count.capacity_count}})
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
