<div class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="panel panel-default">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" ng-click="close()">&times;</button>
                    <h4 class="modal-title">
                        Create Incident
                    </h4>
                </div>
            </div>

            <div class="modal-body" style="height: 470px; overflow-y: scroll;">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label> Name 
                                            <span style="color: red">*</span>
                                        </label>
                                    <input type="text" ng-model="data.name" class="form-control" id="exampleInputEmail1" placeholder="" required="required">
                                </div>

                                <div>
                                    <div class="form-group">
                                        <label>Type</label>
                                        <div class="form-group chosen-full-container" style="margin-bottom:10px;">
                                            <select chosen
                                                    data-placeholder-text-single="'Select Type'"
                                                    ng-model="data.categoryId"
                                                    ng-options="category.id as category.name for category in categories">
                                            </select>
                                        </div>
                                        <a href="" ng-click="createtype()">Create Type</a>
                                    </div>
                                    <div class="form-group">
                                        <label>Location(s)</label>
                                        <div ng-repeat="e in data.locations track by $index" style="margin-bottom:10px;">
                                            <div class="input-group">
                                                <input type="text" class="form-control locations" g-places-autocomplete ng-model="data.locations[$index]" />
                                                <span class="input-group-btn">
                                                    <button class="btn btn-lg btn-danger" ng-click="remove($index)">
                                                        <span class="glyphicon glyphicon-remove-sign"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <a href="" ng-click="addLocation()">Add Location</a>
                                        
                                        <hr style="border:none;">
                                        
                                        <a href="" class="btn btn-primary" ng-click="linkPlan()" title="Link Action Plan" style="margin-bottom: 10px;"></i>Link Action Plan</a>
                                        <div class="form-group" ng-show="link">
                                            <label>Action Plan</label>
                                            <div class="form-group chosen-full-container" style="margin-bottom:10px;">
                                                <select chosen
                                                        data-placeholder-text-single="'Select Plan'"
                                                        ng-model="selectedPlan"
                                                        ng-options="action as action.name for action in actions">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info" ng-click="close()" data-dismiss="modal">Cancel</button>
                <button class="btn btn-success" ng-click="save()">Save</button>
            </div>
        </div>
    </div>
</div>