<div class="modal fade" role="dialog">
    <div id="modal-dialog" class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="panel panel-default">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" ng-click="close()">&times;</button>
                    <h4 class="modal-title"><strong>ALERT TEAM</strong>
                    </h4>
                </div>
            </div>

            <div class="modal-body" style="height: 480px; overflow-y: auto">
                <div class="row">
                    <div class="col-md-12">
                        <section class="panel panel-default" ng-show="page0">
                            <div class="panel-heading">
                                <strong>
        	                    <span class="glyphicon glyphicon-th"></span> Teams
                            </strong>
                                <div class="pull-right header-buttons">
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                  <div class="col-md-6" style="display: inline-block;">
                                        <select class=" form-control" ng-model="sel" ng-options="team.id as team.name for team in filterTeamList" ng-change="showUsers(sel)">
                                        </select>
                                  </div>
                                    <table class="table table-striped table-bordered" style="border: 5px solid #aaa !important;" ng-repeat="team in teams">
                                        <thead>
                                            <tr>
                                                <td><input type="checkbox" ng-model="team_status" ng-click="selectTeam(team, team_status)"> Select team</td>
                                                <td style="font-size: 15px;"><strong>{{team.name}}</strong></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th>Select Members</th>
                                                <th>Name</th>
                                                <th>Position</th>
                                                <th>Type</th>
                                                <th>Email</th>
                                                <th>Mobile#</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="user in team.users">
                                                <td> <input type="checkbox" ng-model="user_status" ng-click="unselectUser(user)"
                                                        ng-checked="user.checked"></td>
                                                <td>{{user.firstName}} {{user.lastName}}</td>
                                                <td><p ng-repeat="role in user.roles">{{role.name}}</p></td>
                                                <td>{{user.role}}</td>
                                                <td>{{user.email}}</td>
                                                <td>{{user.mobilePhone}}</td>
                                                <td>
                                                    <button class="btn btn-sm btn-info" ng-click="EditUser(user)">
                                                        <span class="glyphicon glyphicon-edit"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </section>

                        <section class="panel panel-default" ng-show="page2">
                            <div class="panel-heading">
                                <strong>
                                <span class="glyphicon glyphicon-th"></span> Selected Users </strong>
                                <div class="pull-right header-buttons">
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered" style="border: 5px solid #aaa !important;">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Position</th>
                                                <th>Type</th>
                                                <th>Email</th>
                                                <th>Mobile#</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="user in selected  | unique: 'id'">
                                                <td>{{user.firstName}} {{user.lastName}}</td>
                                                <td><p ng-repeat="role in user.roles">{{role.name}}</p></td>
                                                <td>{{user.role}}</td>
                                                <td>{{user.email}}</td>
                                                <td>{{user.mobilePhone}}</td>
                                                <td><a class="btn btn-info btn-sm" ng-click="EditSelectedUser(user,$index)"><span class="fa fa-pencil-square-o"></span></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                      <button class="btn btn-primary" ng-click="reviewMsg()"> Review/Edit Message</button>
                         <strong ng-hide="true" >Email Alert <span><input type="checkbox" ng-model="alertCheck.email" ></span></strong>
                         <strong>SMS Alert <span><input type="checkbox" ng-model="alertCheck.sms"" ng-checked="alertCheck.sms"></span></strong>
                         <strong>Push Alert <span><input type="checkbox" ng-model="alertCheck.push"" ng-checked="alertCheck.push"></span></strong>
                         <button class="btn btn-success btn-md" confirm="Are you sure you want to Send Alerts ?" ng-click="sendAlert()" > Send Alerts</button>
                         <button class="btn btn-primary pull-right" ng-click="pageThree()">Add Users</button>
                            </div>
                        </section>

                        <section class="panel panel-default" ng-show="page3">
                            <div class="panel-heading">
                                <strong>
                                <span class="glyphicon glyphicon-th"></span> UnSelected  Users </strong>
                                <div class="pull-right header-buttons">
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Select</th>
                                                <th>Name</th>
                                                <th>Position</th>
                                                <th>Type</th>
                                                <th>Email</th>
                                                <th>Mobile#</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="user in ll">
                                                <td> <input type="checkbox" ng-model="user_status" ng-click="selectUser(user)"
                                                        ng-checked="user.checked"></td>
                                                <td>{{user.firstName}} {{user.lastName}}</td>
                                                <td><p ng-repeat="role in user.roles">{{role.name}}</p></td>
                                                <td>{{user.role}}</td>
                                                <td>{{user.email}}</td>
                                                <td>{{user.mobilePhone}}</td>
                                                <td><a class="btn btn-info btn-sm" ng-click="EditUnselectedUser(user,$index)"><span class="fa fa-pencil-square-o"></span></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <button class="btn btn-primary" ng-click="quickAddUser()"> Add Quick User</button>
                                <button class="btn btn-success pull-right" ng-click="pageTwo()">Next</button>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info pull-left" style="margin-left: 15px;" ng-click="close()" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" ng-show="!page0" ng-click="backtoZero()">Back</button>
                <button ng-show ="page0" class="btn btn-success pull-right" ng-click="pageTwo()">Next</button>
            </div>
            </div>
        </div>
    </div>
</div>
