<div class="modal fade content-edit-collection form-articles highlights" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
        <div id="modal-header" class="modal-header">
            <button type="button" class="close" ng-click="close()" >&times;</button>
             <h4 class="modal-title" id="modal-title">New Message</h4>
        </div>
        <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-heading">Basic Info</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>Message Name</label>
                        <span  style="color: red" title="Required"> *</span>
                        <input type="text" class="form-control" ng-model="message.content" ng-readonly="viewTask">
                    </div>
                    <div class="form-group">
                        <label>Message Order Sequence</label>
                        <div class="form-group chosen-full-container" style="margin-bottom:10px;">
                            <select chosen
                                data-placeholder-text-single="'Select Message Order Sequence'"
                                ng-model = "message.order"
                                ng-options="msg.id as msg.value for msg in orderSequence">
                                <option value="" ></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Article</label>
                        <div class="form-group chosen-full-container" style="margin-bottom:10px;">
                            <select chosen ng-model="articleId" ng-options = "item.id as item.title for item in selectoptions" ng-disabled = "articleId">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Message Content Info</div>
                <div class="panel-body">
                    <div class="form-group report-editor">
                        <label>Message Content</label>
                       <!--  <textarea ui-tinymce="tinymceOptions" ng-model="message.context" 
                                    style="height:320px">
                          </textarea> -->
                        <!-- <text-angular style="height:320px" ng-model="message.context"></text-angular> -->
                        <textarea froala="froalaOptions" ng-model="message.description"></textarea>

                    </div>

                </div>
            </div>

        </div>

        <div class="modal-footer">
            <button class="btn btn-info" data-dismiss="modal">Cancel</button>
            <button class="btn btn-success" ng-click="submit()">Save</button>
        </div>
    </div>
  </div>
</div>
