<div class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header" style="border-bottom: none;">
        <button type="button" class="close" ng-click="close()">&times;</button>
      </div>

      <!-- Body -->
      <div class="modal-body" style="padding-top: 0px !important;">
        <div class="col-md-12">
            <h3 >
              {{message.content}}
            </h3>
              <div style="height: 250px; overflow-y: scroll;" class="form-control" ng-bind-html= "toTrustedHTML( message.description )" ></div>
      </div>
      <br>
      <div class="modal-footer">
        <button ng-show="!selectUser" class="btn btn-info" ng-click="close()" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>