<div class="page page-highlights" ng-controller="viewMessageCtrl">
    <div class="main-wrapper">
        <div class="row">
            <div class="col-sm-8 col-xs-12">
                <div class="title-header">
                    <h3><span>Highlights</span></h3>
                </div>
                <div class="main-content scroll-down">
                    <div class="row time-date">
                        <div class="col-xs-9">
                            <h3>{{ message.createdAt | date : 'd MMMM y'}}</h3>
                        </div>
                        <div class="col-xs-3 text-right">
                            <h5>{{ message.createdAt | date : 'h:mm a'}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 ng-bind-html= "toTrustedHTML( message.content ) "></h3>
                            <br>
                            <p ng-bind-html= "toTrustedHTML( message.description )"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="title-header">
                    <h3><span>Messages</span></h3>
                </div>
                <div class="questions-wrapper highlight-message-wrapper">
                    <div class="message-questions">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="message-listing-wrpper">
                                    <div class="questions-section" ng-repeat = "question in questions track by $index">
                                        <a ng-click = "toggleMenu(question)" class="question-manage"><i class="fa fa-ellipsis-v"></i></a>
                                        <ul ng-if = "question.show">
                                            <li><a ng-click = "edit(question,$index)"><i class="fa fa-edit"></i> edit</a></li>
                                            <li><a ng-click = "delete(question.id,$index)"><i class="fa fa-trash"></i> delete</a></li>
                                        </ul>
                                        Message # {{$index+1}}
                                        <div ng-bind-html= "toTrustedHTML( question.name )" ></div>
                                        <!-- <p>asdfskdjfkl asldf</p> -->
                                    </div>
                                    <div ng-if = !questions.length> 
                                        <h3>No Message Present</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="add-question">
                            <a ng-click= "edit({})"><i class="fa fa-plus"></i> Add Message</a>
                        </div>
                        <form class="add-query">
                            <a class="close"><i class="fa fa-times"></i></a>
                            <div class="form-group">
                                <label>Name</label>
                                <textarea froala="froalaOptions" ng-model = "data.name"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Hint</label>
                                <textarea froala="froalaOptions" ng-model = "data.hint"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Answer</label>
                                <textarea froala="froalaOptions" ng-model = "data.solution"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Number</label>
                                <input type="text" ng-model = "data.number" class="form-control" placeholder="Enter Number">
                            </div>
                            <div class="form-group">
                                <label>Type</label>
                                <select chosen class="form-control" data-placeholder-text-single="'Select Kind'" ng-model="data.type" >
                                    <option value="Blanks">Fill In The Blanks</option>
                                    <option value="InputField">Enter Text</option>
                                    <option value="Mcqs">Multiple Choice</option>
                                    <option value="Other">Others</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <button type="submit" ng-click = "save()" class="btn btn-primary add-ques">Add Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer"></div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    $("a[href='#']").click(function(e){
        e.preventDefault();
    });

    // $('.question-manage').click(function(){
    //     $(".questions-section ul").slideUp();
    //     $(this).siblings("ul").slideToggle();
    // });

    // $(".add-question").click(function(){
    //     $(".add-query").addClass("slide-div");
    //     $(".questions-wrapper").addClass("questions-wrapper-bg");
    // });
    $(".close").click(function(){
        $(".add-query").removeClass("slide-div");
        $(".questions-wrapper").removeClass("questions-wrapper-bg");
    });
});

</script>