<div class="modal fade" role="dialog">
    <div id="modal-dialog" class="modal-dialog">
        <!-- Modal content-->
        <div id="modal-content" class="modal-content">

            <!-- Header -->
            <div id="modal-header" class="modal-header">
                <button type="button" ng-hide= "page3 || page4" class="close" ng-click="close()" >&times;</button>
                <h4 class="modal-title">Schedule New Game
                    <for></for>
                </h4>
            </div>
            <!-- <div class="pu">
                
            </div> -->

            <div class="modal-body">
                <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="text-center">
                        <label >All Messages without Roles or Order Sequence will be ignored.</label>
                    </div>
                    <!-- Page 1 -->
                    <div class="form-group" ng-show="page1">
                        <label>STEP 1: Game's Basic Info</label>
                        <br><br>
                        <div class="chosen-full-container" style="margin: 5px;">
                            <select chosen
                                    class="form-control"
                                    data-placeholder-text-single="'Select Game Template'"
                                    ng-model="playGame.gamePlanId"
                                    ng-disabled="setGame"
                                    ng-options="gameTemplate.id as gameTemplate.name for gameTemplate in gameTemplates" >
                                <option></option>
                            </select>
                        </div>
                        <div class="chosen-full-container" style="margin: 5px;">
                            <h4>Select Date:</h4>
                            <!-- <div class="row">
                                <div class="col-md-11">
                                    <input type="text" class = "form-control" uib-datepicker-popup="dd, MMMM, yyyy" min-date="newDate" ng-model="playGame.scheduled_date" is-open="showdp" style = "border-bottom: #ddd solid 1px;"/>
                                </div>
                                <span class="col-md-1">
                                    <button type="button" class="btn btn-default" ng-click="showcalendar($event)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div> -->
                            <datepicker date-month-title="selected year" data-date-format='EEEE, dd, MMMM, yyyy' date-min-limit ="{{newDate}}">
                                <input ng-model="playGame.scheduled_date" class = "form-control"/>
                            </datepicker>
                        </div>
                        <br><br>
                    
                        <div class="chosen-full-container play-game-client" style="margin: 5px;">
                            <label>Player List: </label>
                            <select chosen
                                    ng-model="playGame.gamePlayerListId"
                                    ng-options="list.id as list.name for list in playerlists">
                                <option value=""></option>
                            </select>
                        </div>
                        <a href="" ng-click="CreateGamePlayerList()" style="margin-top: 20px;">New Player List</a>
                    </div>

                    <!-- Page 2 -->
                    <div class="form-group" ng-show="page2">
                        <label>STEP 2: Game Role's User Selection</label>
                        <br><br>
                        <div ng-repeat="role in playGame.roles"
                             class="panel-body"
                             style="background-color: rgba(238, 238, 238, 0.7);
                                    margin-bottom: 15px;
                                    border-radius: 10px;">
                            <div class="chosen-full-container">
                                <div class="row">
                                    <div class="col-md-11">
                                        <input type="text" ng-model="role.to_show" class="form-control" disabled>
                                    </div>
                                    <div class="col-md-1">
                                        <span ng-click="deleteRolesfromArray($index)" class="fa fa-times btn-danger btn" style="margin: 0px; padding: 0px;"></span>
                                    </div>
                                </div>
                                <br>
                                <select chosen
                                        class="form-control"
                                        data-placeholder-text-single="'Select User for Role'"
                                        ng-model="role.playerId"
                                        ng-options="user.id as getUserName(user) for user in game_player_list.game_players">
                                    <option></option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <!-- Page 3 -->
                    <div class="form-group" ng-show="page3">
                      <!--   <label>STEP 3: Setoff Time for Game Messages </label> -->
                      <div class="row">
                       <button class="btn btn-success"
                                style="float: right;"
                                ng-click="showRound()">
                            New Round 
                        </button>
                      </div>
                      
                     <section class="panel panel-default"  ng-repeat="round in roundsArray">
                       <div class="panel-heading">
                        <strong><span class="pull-left" ></span>{{round.name}}</strong>
                         <strong style="float: right;">Time Span:{{round.timeSpan}}</strong>
                        </div>   
                        <table class="table table-bordered table-striped table-responsive">
                            <thead>
                            <tr>
                                <th>Message</th>
                                <th>Type</th>
                                <th>Roles</th>
                                <th>Set Off Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="gameMessage in round.Messages">
                                <td>{{gameMessage.assigned_game_message.game_message.name}}</td>
                                <td>{{gameMessage.assigned_game_message.game_message.type}}</td>
                                <td>
                                    <span ng-repeat="role in gameMessage.assigned_game_message.roles"
                                          style="margin-right: 15px;">
                                            {{role.name}}
                                    </span>
                                </td>
                                <td>
                                    {{gameMessage.offset / 60}} Minutes.
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </section>
                           
                        <br><br>
                        <table class="table table-bordered table-striped table-responsive">
                            <thead>
                            <tr>
                                <th>Message</th>
                                <th>Roles</th>
                                <!-- <th>Setoff Time</th> -->
                            </tr>
                            </thead>
                            <tbody>
                                <!-- remainingMessages -->
                            <tr ng-repeat="gameMessage in remainingMessages">
                                <td>{{gameMessage.assigned_game_message.game_message.name}}</td>
                                <td>
                                    <span ng-repeat="role in gameMessage.assigned_game_message.roles"
                                          style="margin-right: 15px;">
                                            {{role.name}}
                                    </span>
                                </td>
                                <!-- <td>
                                    <div uib-timepicker
                                         class="setOffTime"
                                         ng-model="gameMessage.offset"
                                         show-meridian="false"
                                         show-seconds="true">
                                    </div>
                                </td> -->
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- New Round Page -->
                 <section class="panel panel-default" ng-show="page4">
                    <div class="panel-heading">
                        <strong>
                        <span class="glyphicon glyphicon-th"></span>New Round</strong>
           
                    </div>
                    <div class="panel-body">

                        
                    <div class="form-group" >
                           <div class="form-group">
                                    <div class="text-center" ng-show = "remaining">
                                        Schedule Round for remaining messages
                                    </div>
                                    <label> Round Name 
                                     </label>
                                    <input type="text" ng-model="round.name" class="form-control" id="exampleInputEmail1" placeholder="" required="required">

                                    <label> Time Span (Minutes)
                                    </label>
                                    <input type="number" min="0" ng-model="round.timeSpan" class="form-control" id="exampleInputEmail1" placeholder="" required="required">

                                    <div>
                                     <label> Last Message
                                     </label>
                                    </div> 
                                 <div class="col-md-12" style="display: inline-block;">
                                        <select class=" form-control" ng-model="round.gameMessageId" ng-disabled = "remaining" ng-options="game.id as game.msgName for game in remainingMessages" >
                                        </select>
                      
                                 </div>

                                <button class="btn btn-success" ng-show = "remaining" style="float: right;" ng-click="endgame()">
                                        Finish 
                                </button>
                                <button class="btn btn-success" ng-show = "!remaining"  style="float: right;" ng-click="createRound(1)">
                                        Create 
                                </button>
                        </div>
                        
                    </div>

                    </div>
                 </section>   


                </div>
                </div>

                <!-- Page Footer -->
                <hr>
                <div class="modal-footer">
                    <button class="btn btn-info"
                            ng-hide="page1 || page3 || remianing"
                            style="float: left;"
                            ng-click="back()">
                            <i class="fa fa-chevron-left fa-lg"></i> Back
                    </button>


                    <button class="btn btn-success"
                            ng-hide="page3 || page4"
                            style="float: right;"
                            ng-click="next()">
                            {{showButton}} </i>
                    </button>
                    <!-- <i class="fa fa-chevron-right fa-lg"> -->
                    <button class="btn btn-success"
                            ng-show="page3"
                            style="float: right;"
                            ng-click="scheduleGame()">
                            Schedule Game & Exit
                    </button>
                    <button class="btn btn-warning"
                            ng-show="!page3 || !page4"
                            style="float: right;"
                            ng-click="close()">
                            Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>