<div class="modal fade" role="dialog" >
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div id="modal-content" class="modal-content">

            <!-- Header -->
            <div id="modal-header" class="modal-header">
                <button type="button" class="close" ng-click="close()" >&times;</button>
                <h4 class="modal-title">Schedule Rounds
                </h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="text-center">
                            <label >All Messages without Roles or Order Sequence will be ignored.</label>
                        </div>
                        
                        <!-- Page 3 -->
                        <div class="form-group" ng-show="page3">
                          <div class="row">
                           <button class="btn btn-success"
                                    ng-disabled = "remainingMessages.length == 0"
                                    style="float: right;"
                                    ng-click="showRound()">
                                New Round 
                            </button>
                          </div>
                          
                         <section class="panel panel-default"  ng-repeat="round in roundsArray">
                           <div class="panel-heading">
                            <strong><span class="pull-left" ></span>{{round.name}}</strong>
                             <strong style="float: right;">Time Span:{{round.timeSpan / 60}}</strong>
                            </div>   
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-responsive">
                                    <thead>
                                    <tr>
                                        <th>Message</th>
                                        <th>Type</th>
                                        <th>Roles</th>
                                        <th>Set Off Time</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="gameMessage in round.Messages">
                                        <td>{{gameMessage.game_message.name}}</td>
                                        <td>{{gameMessage.game_message.type}}</td>
                                        <td>
                                            <span ng-repeat="role in gameMessage.assigned_game_message.roles"
                                                  style="margin-right: 15px;">
                                                    {{role.name}}
                                            </span>
                                        </td>
                                        <td>
                                            {{(gameMessage.offset / 60).toFixed(2)}} Minutes.
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                               
                        <br>
                        <h3 ng-if = "remainingMessages.length == 0"> All Message Schedules in Rounds.</h3>
                        <table ng-if = "remainingMessages.length != 0" class="table table-bordered table-striped table-responsive">
                            <thead>
                            <tr>
                                <th>Message</th>
                                <th>Roles</th>
                                <!-- <th>Setoff Time</th> -->
                            </tr>
                            </thead>
                            <tbody>
                                <!-- remainingMessages -->
                            <tr ng-repeat="gameMessage in remainingMessages">
                                <td>{{gameMessage.msgName}}</td>
                                <td>
                                    <span ng-repeat="role in gameMessage.assigned_game_message.roles"
                                          style="margin-right: 15px;">
                                            {{role.name}}
                                    </span>
                                </td>
                                <!-- <td>
                                    <div uib-timepicker
                                         class="setOffTime"
                                         ng-model="gameMessage.offset"
                                         show-meridian="false"
                                         show-seconds="true">
                                    </div>
                                </td> -->
                            </tr>
                            </tbody>
                        </table>
                    </div>

                        <!-- New Round Page -->
                     <section class="panel panel-default" ng-show="page4">
                        <div class="panel-heading">
                            <strong>
                            <span class="glyphicon glyphicon-th"></span>New Round</strong>
               
                        </div>
                        <div class="panel-body">

                            
                        <div class="form-group" >
                               <div class="form-group">
                                        <div class="text-center" ng-show = "remaining">
                                            Schedule Round for remaining messages
                                        </div>
                                        <label> Round Name 
                                         </label>
                                        <input type="text" ng-model="round.name" class="form-control" id="exampleInputEmail1" placeholder="" required="required">

                                        <label> Time Span (Minutes)
                                        </label>
                                        <input type="number" min="0" ng-model="round.timeSpan" class="form-control" id="exampleInputEmail1" placeholder="" required="required">

                                        <div>
                                         <label> Last Message
                                         </label>
                                        </div> 
                                     <div class="col-md-12" style="display: inline-block;">
                                            <select class=" form-control" ng-model="round.gameMessageId" ng-disabled = "remaining" ng-options="game.id as game.msgName for game in remainingMessages" >
                                            </select>
                          
                                     </div>

                                    <button class="btn btn-success" ng-show = "remaining" style="float: right;" ng-click="endgame()">
                                            Finish 
                                    </button>
                                    <button class="btn btn-success" ng-show = "!remaining"  style="float: right;" ng-click="createRound(1)">
                                            Create 
                                    </button>
                            </div>
                            
                        </div>

                        </div>
                     </section>   


                    </div>
                </div>

                <!-- Page Footer -->
                <hr>
                <div class="modal-footer">
                    <button class="btn btn-info"
                            ng-hide="page1 || page3 || remianing"
                            style="float: left;"
                            ng-click="back()">
                            <i class="fa fa-chevron-left fa-lg"></i> Back
                    </button>

                    <button class="btn btn-success"
                            ng-show="page3"
                            ng-disabled = "remainingMessages.length == 0"
                            style="float: right;"
                            ng-click="scheduleGame()">
                            Schedule Round & Exit
                    </button>
                    <button class="btn btn-warning"
                            ng-show="!page3 || !page4"
                            style="float: right;"
                            ng-click="close()">
                            Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>