<div class="page" ng-controller="incidentCtrl">
    <section class="panel panel-default">
        <div class="panel-heading">
            <strong ng-show="new"><span class="glyphicon glyphicon-th"></span> Create Incident</strong>
            <strong ng-show ="edit"><span class="glyphicon glyphicon-th"></span> Edit Incident</strong>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <form role="form" ng-submit="save()">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1"> Name
                                        <span style="color: red">*</span>
                                    </label>
                                    <input type="text" ng-model="data.name" class="form-control" id="exampleInputEmail1" placeholder="" required="required">
                                </div>

                                <div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Type</label>
                                        <div class="form-group chosen-full-container">
                                            <select chosen
                                            class="form-control"
                                            data-placeholder-text-single="'Select Type'"
                                            ng-model="data.categoryId"
                                            ng-options="item.id as item.name for item in catcat">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="edit">
                                    <label for="exampleInputEmail1">Status</label>
                                    <div class="form-group chosen-full-container">
                                        <select chosen class="form-control" ng-model="data.active"
                                        data-placeholder-text-single="'Choose category'">
                                        <option>Active</option>
                                        <option>OnHold</option>
                                        <option>Closed</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword1">Location(s) </label>
                                <div ng-repeat="e in data.locations track by $index" style="margin-bottom:10px;">
                                    <div class="input-group">
                                        <input type="text" class="form-control locations" g-places-autocomplete ng-model="data.locations[$index]" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-lg btn-danger" type="button" ng-click="remove($index)">
                                                <span class="glyphicon glyphicon-remove-sign"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>

                                <hr style="border:none;">
                                <a class="btn btn-sm btn-primary" ng-click="addLocation()">Add Location</a>
                                <hr style="border:none;">
                                <a href="" class="btn btn-primary" ng-click="linkPlan()" title="Link Action Plan"></i>Link Action Plan</a>
                                <div class="form-group chosen-full-container" ng-show="link">
                                    <select chosen
                                    class="form-control"
                                    data-placeholder-text-single="'Select Plan'"
                                    ng-model="selectedPlan"
                                    ng-options="plan.id as plan.name for plan in actions">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pull-right">
                <a href="#/incidents/view"> <button class="btn btn-info">Cancel</button> </a>
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </form>
    </div>
</div>
</div>
</section>
</div>
