<div class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" >&times;</button>
        <h4 class="modal-title">Notification Email Content</h4>
      </div>
      <div class="modal-body">
          <div class="form-group report-editor">
              <label> Content </label>
              <!-- <textarea ng-model="content" ui-tinymce="tinymceOptions" class="form-control"></textarea> -->
              <textarea froala="froalaOptions" ng-model="content"></textarea>

              <!-- <text-angular style="height:320px" ng-model="content"></text-angular> -->

          </div>
           
      </div>
      <div class="modal-footer">
          <a ng-click="submit(content)" > <button class="btn btn-success" data-dismiss="modal">Save</button> </a>
        <button class="btn btn-primary" ng-click="close()" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>
