<div class="page page-dashboard" ng-controller="timeLinePageCtrl">
    <div class="row" style="background-color:white; border: 1px solid white; margin:10px; padding:5px">
        <div class="col-md-12">
            <div class="col-md-3 btn btn-flat"><title>Choose an Incident </title>
                    <select class="form-control" ng-model="incident" ng-change="loadCategory()" ng-options="record.id as record.name for record in incidents">
                        <option value="" selected="selected"> Choose an Incident </option>

                    </select>

            </div>

            <div class="col-md-3 btn">
                <select class="form-control" ng-change="loadMessages()" ng-model="category" ng-options="record.id as record.title for record in classes | orderBy:'title'">
                    <option value="" selected="selected">Select a category</option>

                </select>
            </div>
            <div class="col-md-3 btn" style="margin-top: 13px;">
                <select chosen
                    multiple
                    class="form-control"
                    data-placeholder-text-multiple="'Select Users'"
                    ng-model="selected"
                    ng-change = "onUserSelect()"
                    ng-options="user.id as user.firstName +' '+ user.lastName for user in userList | orderBy:'firstName'">
                    <option></option>
            </select>
          </div>
        </div>


    </div>

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Timeline </strong></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 content" style="height: 600px" data-mcs-theme="dark">
                    <button class="btn btn-success" style="margin-bottom: 5px;"
                            ng-click="sortDirection()" ng-show="checkMessages()">Date Sort</button>
                    <ul class="list-group message">
                        <li class="list-group-item msg"
                            ng-show="displayMessage(record)"
                            ng-repeat="record in messages | orderBy:'record.createdAt':direction track by record.createdAt">

                            <p>{{record.message}} {{record.content}}</p>

                            <span style="color: blue">By: {{userName(record.userId)}}</span> <span style="float:right">{{dateFormat(record.createdAt)}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
