<div class="page" ng-controller="simulationCategoryCtrl">
    <section class="panel panel-default">
        <div class="panel-heading">
            <strong>
        	<span class="glyphicon glyphicon-th"></span>Simulation Categories</strong>
            <div class="pull-right header-buttons">
                <a ng-click="new()" class="btn btn-success btn-sm">New Category</a>
            </div>
        </div>
        <div class="panel-body">
             <table  st-pipe="TypeTable" st-table="categories" class="table table-bordered table-striped table-responsive">
                <thead>
                    <tr>

                        <th class="col-md-3" st-sort="name">Name</th>
                        <th class="col-md-3"> Actions</th>
                    </tr>
                        <tr>
                           <th>
                            <input class="form-control" placeholder="Search Name" st-search="name"/>
                        </th>
                      <th></th>
                  </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cat in categories">
                        <td>{{cat.name}}</td>
                        <th>
                            <a ng-click="edit(cat, $index)" class="btn btn-sm btn-info">
                            	<span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <button class="btn btn-sm btn-danger" confirm="Are you sure you want to delete?" ng-click="delete(cat.id , index)">
                            	<span class="glyphicon glyphicon-remove-sign"></span>
                            </button>
                        </th>
                    </tr>

                </tbody>
                <tbody ng-show="isLoading">
                  <tr>
                    <td colspan="4" class="text-center">Loading ... </td>
                </tr>
            </tbody>
            <tfoot class="table table-striped table-responsive">
              <tr>
                <td class="text-center" st-pagination="" st-items-by-page="pageItems" colspan="7">
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="col-md-3">
      <select class="form-control"
      ng-model="pageItems"
      ng-options="item.val as item.name for item in items"
      ng-selected="item.val === pageItems">
  </select>
</div>
        </div>
    </section>
</div>
