<div class="page page-table" ng-controller="referenceLibCtrl">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> References</strong>
            <div class="pull-right header-buttons">
            </div>
        </div>

        <div class="row" style="margin: 5px; margin-top: 30px;">
            <div ng-repeat="reference in libReferences" ng-if="reference.mimetype" class="col-md-4"
                style="margin-bottom: 20px;" ng-show="checkNoReferences()">
                <div class="card" >
                    <div class="card-content" style="position: static;">
                        <div class="card-headline">
                            <h3><a ng-if="reference.type" ng-click="preview(reference)">{{reference.title}}</a>
                            <a ng-if="!reference.type" href="http://{{shortUrl(reference.url)}}"
                               target="_blank">{{reference.title}}</a></h3>
                        </div>

                        <div class="card-body">
                            <p>
                                <b>Reference Date: </b> {{dateFormat(reference.createdAt)}}
                                <br>
                                <b>Author: </b> {{reference.author}}
                                <br>
                                <b>Tags: </b> {{reference.tags}}
                            </p>

                            <a href="http://{{shortUrl(reference.links)}}"
                               target="_blank" ng-show="reference.links"
                               class="btn btn-primary" title="Open Link">
                                <i class="material-icons">link</i>
                            </a>

                            <button class="btn btn-info" title="View File" ng-click="preview(reference)"
                                    ng-show="reference.filename!==''">
                                <i class="material-icons">insert_drive_file</i>
                            </button>

                            <button ng-click="editModal(reference.id)" class="btn btn-info" title="Edit Reference">
                                <i class="material-icons">edit</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <p ng-hide="checkNoReferences()" class="watermark-text-medium" style="position: inherit;">
                No References Present
            </p>
        </div>
    </section>
</div>
