<div ng-controller="userTaskCtrl">
    <div class="col-sm-12 col-md-12" style="height:auto; margin-top:20px">
        <section class="panel panel-default mail-container" style="overflow: auto; height:80%">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6"> {{incident.name}} </div>
                    <div class="col-sm-4">
                        <a style="float: right;" class="btn btn-sm btn-info" href="/#/message/{{incidentId}}"> Send Message</a>
                    </div>
                    <div class="col-sm-2">
                        <a style="float: right;" class="btn btn-sm btn-info" href="/#/messages"> Back</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="panel">
                <div class="panel-body" ng-show="userHasActivities()">

                    <table st-table="activities" class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width: 75%; float: left;">Task</th>
                                <th style="width: 25%;">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="activity in activities | filter:searchVal | orderBy: 'id'" ng-show="activity.activated">
                                <td>
                                    <a href="#/taskDetail/{{activity.id}}" class="btn btn-default btn-sm" title="{{activity.name}}">
                                        {{activity.name | displayString: 25}}
                                    </a>
                                </td>

                                <td ng-class="satusClass(activity.status)">
                                    <button class="btn ip-status-btn" ng-click="updateActivityStatus(activity)" title="{{activity.statusAt | date:'HH:mm dd-MM-yyyy' }}"
                                            data-toggle="tooltip" data-placement="bottom" tooltip>
                                        <span>
                                            {{getStatusName(activity.status)}}
                                        </span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p ng-hide="userHasActivities()" class="watermark-text-medium" style="position: inherit;">
                    No Assigned Task
                </p>
            </div>
        </section>
    </div>
    <br/>
    <br/>
</div>