<div class="page" ng-controller="departmentCtrl">
    <section class="panel panel-default">
        <div class="panel-heading">
            <strong>
        	<span class="glyphicon glyphicon-th"></span> Departments</strong>
            <div class="pull-right header-buttons">
                <a href="" ng-click="createModal()" class="btn btn-success btn-sm"> <i class="fa fa-plus"></i> ADD</a>
            </div>
        </div>
        <div class="panel-body">
              <table  st-pipe="departmentTable" st-table="departments" class="table table-bordered table-striped table-responsive">
                <thead>
                    <tr>
                        <th class="col-md-6" st-sort="name">Name</th>
                        <th>Actions</th>
                    </tr>
                    <tr>
                       <th class="search-group"><i class="fa fa-search"></i><input class="form-control search-field" placeholder="Search" st-search="name"/>
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="record in departments">
                        <td>{{record.name}}</td>
                        <td>
                            <a href="" class="btn btn-sm btn-success" ng-show="record.status === false">
                                Closed
                            </a>
                            <a ng-click="editModal(record)" class="btn btn-sm btn-info">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a class="btn btn-danger btn-sm" ng-click="deleteDept(record)" confirm="Are you sure you want to delete?">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </a>
                        </td>

                    </tr>

                </tbody>
                    <tbody ng-show="isLoading">
                      <tr>
                        <td colspan="4" class="text-center">Loading ... </td>
                    </tr>
                </tbody>
                <tfoot class="table table-striped table-responsive">
                  <tr>
                    <td class="text-center" st-pagination="" st-items-by-page="pageItems" colspan="7">
                    </td>
                </tr>
            </tfoot>
        </table>
            <div class="col-md-3">
              <select class="form-control"
              ng-model="pageItems"
              ng-options="item.val as item.name for item in items"
              ng-selected="item.val === pageItems">
          </select>
        </div>
        </div>
    </section>


</div>
