<div class="page" ng-controller="viewDetailActiveContentCtrl">
    <section class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-3">
                    Active Content Details
                    <br>
                </div>

                <div class="col-sm-6 text-center">
                    <div class="text-center">
                        Content started At : :
                        <timer start-time=time>{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer>
                        <br>
                    </div>
                </div>
                <div class="col-sm-3">
                    <a class="btn btn-danger pull-right" ng-disabled = "playContent.status == 'stop'" ng-click="cancelContent()">
                        Close Content
                    </a>
                </div>
            </div>
        </div>
           
        <div class="panel-body">
            <div class="container">
              
                <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a data-toggle="tab" data-target="#rounds" href="">Scheduled Questions</a></li>
                    <li><a data-toggle="tab" data-target="#players" href="">Users</a></li>
                </ul>

              <div class="tab-content">
                <div id="players" class="tab-pane fade">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Content Users Summary  </label>
                         
                                <br><br>
                                <table class="table table-bordered table-striped table-responsive">
                                    <thead>
                                    <tr>
                                        <th>Email</th>
                                        <th>User Name</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="users in playContent.question_schedulings">
                                        <td>
                                            {{ users.user.email }}
                                        </td>
                                        <td>{{ users.user.firstName }} {{ users.user.lastName }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                   <!-- Section for Rounds -->
                <div id="rounds" class="tab-pane fade in active">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <uib-accordion close-others="true" class = "list-accordian">
                                    <div uib-accordion-group class="panel-default to-move" 
                                        is-open="false"
                                        ng-repeat="questions in questionSchedule">
                                        <uib-accordion-heading >

                                            <div class="panel-heading">
                                              <strong><span class="pull-left" ></span> {{questions.name}}</strong>
                                              <strong style="float: right;">Time Span:{{questions.offset/60}} Minutes</strong>
                                            </div> 
                                            
                                        </uib-accordion-heading>
                                        <table class="table table-striped" style="margin-left: -10px;">
                                                <thead>
                                                    <tr>
                                                        <th>Users</th>
                                                        <th width="30%">Actions</th>
                                                    </tr>
                                                </thead> 

                                                <tbody>
                                                   <tr ng-repeat="users in questions.data">
                                                        <td> 
                                                           <a>
                                                              {{users.user.firstName}} - {{users.user.lastName}}
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <div ng-hide="users.activated || users.skip">
                                                                <a class="btn btn-info" ng-click="skipQuestion(users)" >
                                                                    Skip    
                                                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                                                </a>
                                                                <a ng-click="sendQuestion(users)"
                                                                   class="btn btn-info"
                                                                   title="Send Question">
                                                                    <span class="glyphicon glyphicon-send"></span>
                                                                </a>
                                                            </div>
                                                            <p ng-show="users.activated">
                                                                <i>Question sent at <b>{{dateFormat(users.activatedAt)}}</b></i>
                                                            </p>
                                                            <p ng-show="users.skip">
                                                                <i>Question skipped at <b>{{dateFormat(users.skipped_At)}}</b></i>
                                                            </p>
                                                        </td>
                                                
                                                    </tr>
                                              </tbody>
                                          </table>
                                        </div>

                                </uib-accordion>
                            </div>
                        </div>
                    </div>
                 
                </div>
              </div>
            </div>  
        </div>
    </section>
</div>
