<div class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header" style="border-bottom: none;">
        <button type="button" class="close" ng-click="close()">&times;</button>
      </div>

      <!-- Body -->
      <div class="modal-body" style="padding-top: 0px !important;">
        <div class="col-md-12">
            <h4>
              <strong>Message :</strong> {{message.template_plan_message.game_message.name}}
            </h4>
            <h4 style="width: 100%">
              <strong><span>Response:</span></strong>
              <span class="response_msg" ng-bind-html = "message.content">
              </span>
            </h4>
        </div>
      </div>
      <br>
      <div class="modal-footer">
        <button ng-show="!selectUser" class="btn btn-info" ng-click="close()" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

