<div class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
        <div id="modal-header" class="modal-header">
            <button type="button" class="close" ng-click="close()" >&times;</button>
            <h4 class="modal-title">{{heading}}</h4>
        </div>
        <div class="modal-body modal_big_height" style="overflow-y: auto;">
            <div class="panel panel-default">
                <div class="panel-heading">Basic Info</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>Message Name</label>
                        <span  style="color: red" title="Required"> *</span>
                        <input type="text" class="form-control" ng-model="message.name" ng-readonly="viewTask">
                    </div>

                    <div class="form-group">
                        <label>Message Type</label>
                        <div class="form-group chosen-full-container" style="margin-bottom:10px;" required = 'true'>
                            <select chosen ng-model = "message.type">
                                <option value="">Select Message Type</option>
                                <option value="Background">Background</option>
                                <!-- <option value="Role Description">Role Description</option> -->
                                <option value="Task">Task</option>
                                <option value="Message">Message</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label>Message Order Sequence</label>
                        <div class="form-group chosen-full-container" style="margin-bottom:10px;">
                            <select chosen
                                data-placeholder-text-single="'Select Message Order Sequence'"
                                ng-model = "message.order"
                                ng-options="game.id as game.value for game in orderSequence">
                                <option value="" ></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Game Name</label>
                        <div class="form-group chosen-full-container" style="margin-bottom:10px;">
                            <select chosen
                                data-placeholder-text-single="'Select Game Template'"
                                ng-model = "message.gamePlanId"
                                ng-change = "computeRoles(message.gamePlanId);get_libraries(message.gamePlanId);"
                                ng-disabled = "found"
                                ng-options="game.id as game.name for game in gameTemplates">
                                <option value="" disabled=""></option>
                            </select>
                        </div>
                        <a href="" ng-click="addGameTemplate()"> Create New Game Template</a>
                    </div>
                    <div class="form-group chosen-full-container" style="margin-bottom:10px;">
                        <label> Roles </label>
                        <select chosen
                                multiple
                                class="form-control"
                                data-placeholder-text-multiple="'Select Roles'"
                                ng-model="messageRoles"
                                ng-options="role.id as role.toshow for role in rolesToShow">
                                <option value=""></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Links</label>
                        <input type="text" class="form-control" ng-model="message.links" ng-readonly="viewTask">
                    </div>
                    <div class="form-group">
                        <label>Document Name</label>
                        <div class="form-group chosen-full-container" style="margin-bottom:10px;">
                            <select chosen
                                data-placeholder-text-single="'Select Document'"
                                ng-model="message.libId"
                                ng-selected="message.libId === document.filename"
                                ng-options="document.id as document.title for document in documents">
                            </select>
                        </div>
                        <a href="" ng-click="addnewdocument()">Create New Document</a>
                    </div>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Message Content Info</div>
                <div class="panel-body">
                    <div class="form-group report-editor">
                        <label>Message Content</label>
                       <!--  <textarea ui-tinymce="tinymceOptions" ng-model="message.context" 
                                    style="height:320px">
                          </textarea> -->
                        <!-- <text-angular style="height:320px" ng-model="message.context"></text-angular> -->
                        <textarea froala="froalaOptions" ng-model="message.context"></textarea>

                    </div>

                </div>
            </div>


        </div>

        <div class="modal-footer">
            <button class="btn btn-info" data-dismiss="modal">Cancel</button>
            <button class="btn btn-success" ng-click="submit()">Save</button>
        </div>
    </div>
  </div>
</div>
