<div class="page" ng-controller="simulationMessageCtrl">
    <section class="panel panel-default">
        <div class="panel-heading">
            <strong>
                <span class="glyphicon glyphicon-th"></span> Simulation Messages
            </strong>
            <select chosen ng-model="selected" ng-options = "item.id as item.name for item in selectoptions" ng-change = "managearray(selected)" ng-disabled = "gameIdFound">
            </select>
            <div class="pull-right header-buttons">
                <a ng-click="addModal()" class="btn btn-success btn-sm">New Simulation Message</a>
            </div>
        </div>
        <div class="panel-body">
            <table st-pipe="messagesTable" st-table="messageToShow" class="table table-bordered table-striped table-responsive">
                <thead>
                    <tr>
                        <th class="col-md-2" st-sort="name">Message Name</th>
                        <th class="col-md-2" st-sort="links">Links</th>
                        <th class="col-md-2" st-sort="game_library.title">Document Name</th>
                        <th class="col-md-2" st-sort="roles.name">Roles</th>
                        <th class="col-md-2" st-sort="type">Type</th>
                        <th class="col-md-2" st-sort="order">Order</th>
                        <th class="col-md-2" st-sort="gameTemplate.name">Game Template</th>
                        <th class="col-md-2">Actions</th>
                    </tr>
                    <tr>
                        <th>
                            <input class="form-control" placeholder="Search name" st-search="name"/>
                        </th>
                        <th>
                            <input class="form-control" placeholder="Search Links" st-search="links"/>
                        </th>
                        <th>
                            <input class="form-control" placeholder="Search Document" st-search="game_library.title"/>
                        </th>
                        <th></th>
                        <th>
                            <input class="form-control" placeholder="Search Type" st-search="type"/>
                        </th>
                        <th>
                            <input class="form-control" placeholder="Search Order Sequence" st-search="order"/>
                        </th>
                        <th>
                        <input class="form-control" placeholder="Search Game Template" st-search="gameTemplate.name"/>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody ng-show="!isLoading">
                    <tr ng-repeat="record in messageToShow">
                        <td>
                            <a ng-click="showMessageDetail(record)">
                                {{record.name}}
                            </a>
                        </td>
                        <td>{{record.links}}</td>
                        <td>{{record.game_library.title}}</td>
                        <td>
                            <p ng-repeat = "rec in record.assigned_game_message.roles">
                                {{rec.game_plan_team.name}} - {{rec.name}},
                            </p>
                        </td>
                        <td>{{record.type}}</td>
                        <td>{{record.order}}</td>
                        <td>{{record.game_plan.name}}</td>
                        <td>
                            <!-- <a title = "Edit Roles" class="btn btn-sm btn-info" ng-click="assignNewSimMessage(record, $index)"><span class="fa fa-link"></span></a>
                             -->
                            <!-- <a title = "Copy Message" class="btn btn-sm btn-info" ng-click="copy(record, $index)"><span class="fa fa-clone"></span></a> -->
                            <a title = "Edit Message" class="btn btn-sm btn-info" ng-click="edit(record, $index)"><span class="fa fa-pencil-square-o"></span></a>

                            <a title = "Delete Message" class="btn btn-danger btn-sm" ng-click="deleteMessage(record.id, $index)" confirm="Are you sure you want to delete?">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>

                <tbody ng-show="isLoading">
                <tr>
                    <td colspan="8" class="text-center">Loading ... </td>
                </tr>
                </tbody>

                <tbody ng-show="messageToShow && messageToShow.length === 0">
                    <tr class="watermark-text-medium"
                        style="position: inherit; display: table-row; font-size: 30px;">
                        <td colspan="8">
                            <p>No Game Messages Present</p>
                        </td>
                    </tr>
                </tbody>

                <tfoot class="table table-striped table-responsive">
                <tr>
                    <td class="text-center" st-pagination="" st-items-by-page="pageItems" colspan="8">
                    </td>
                </tr>
                </tfoot>
            </table>
            <div class="col-md-3">
                <select class="form-control"
                        ng-model="pageItems"
                        ng-options="item.val as item.name for item in items"
                        ng-selected="item.val === pageItems">
                </select>
            </div>
        </div>
    </section>
</div>
