<div class="page" ng-controller="simulationMessageCtrl">
    <section class="panel panel-default">
        <div class="panel-heading">
            <strong>
                <span class="glyphicon glyphicon-th"></span> Messages
            </strong>
            <div class="pull-right header-buttons">
                <a ng-click="addModal()" class="btn btn-success btn-sm">New Message</a>
            </div>
        </div>
        <div class="panel-body">
            <table st-pipe="messagesTable" st-table="msg" class="table table-bordered table-striped table-responsive">
                <thead>
                    <tr>
                        <th class="col-md-2" st-sort="name">Message Name</th>
                        <th class="col-md-2" st-sort="description">Description</th>
                        <th class="col-md-2">Actions</th>
                    </tr>
                    <tr>
                        <th>
                            <input class="form-control" placeholder="Search name" st-search="name"/>
                        </th>
                        <th>
                            <input class="form-control" placeholder="Search description" st-search="description"/>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="record in msg">
                        <td>
                            <a>
                                {{record.content}}
                            </a>
                        </td>
                        <td>{{record.description}}</td>
                        <td>
                            <a title = "Add Media" class="btn btn-sm btn-info" ng-click="addMedia(record, $index)"><span class="fa fa-link"></span></a>
                            <a title = "Edit Message" class="btn btn-sm btn-info" ng-click="edit(record, $index)"><span class="fa fa-pencil-square-o"></span></a>

                            <a title = "Delete Message" class="btn btn-danger btn-sm" ng-click="deleteMessage(record.id, $index)" confirm="Are you sure you want to delete?">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>

                <tbody ng-show="msg && msg.length === 0">
                    <tr class="watermark-text-medium"
                        style="position: inherit; display: table-row; font-size: 30px;">
                        <td colspan="8">
                            <p>No Messages Present</p>
                        </td>
                    </tr>
                </tbody>

                <tfoot class="table table-striped table-responsive">
                <tr>
                    <td class="text-center" st-pagination="" st-items-by-page="pageItems" colspan="8">
                    </td>
                </tr>
                </tfoot>
            </table>
            <div class="col-md-3">
                <select class="form-control"
                        ng-model="pageItems"
                        ng-options="item.val as item.name for item in items"
                        ng-selected="item.val === pageItems">
                </select>
            </div>
        </div>
    </section>
</div>
