<div class="modal fade" role="dialog">
    <div id="modal-dialog" class="modal-dialog">
        <!-- Modal content-->
        <div id="modal-content" class="modal-content">

            <!-- Header -->
            <div id="modal-header" class="modal-header">
                <button type="button" class="close" ng-click="close()">&times;</button>
                <h4 class="modal-title">Select Assigned Messages
                    <for></for>
                </h4>
            </div>

            <!-- Body -->
            <div class="modal-body">
                <!-- Footer -->
                <div class="modal-footer">
                    <button ng-show="page1" class="btn btn-primary float-left" ng-click="addMessage()">Add New Assigned Message</button>
                    <button ng-show="page1" class="btn btn-info" ng-click="close()" data-dismiss="modal">Cancel</button>
                    <button ng-show="page1" class="btn btn-success" ng-click="save()">Save</button>
                    <button ng-show="page2" class="btn btn-info" ng-click="back()"> < Back</button>
                    <button ng-show="page2" class="btn btn-success" ng-click="createAssignedMessage()">Create Message</button>
                </div>

                <section ng-show="page1" class="panel panel-default">

                    <div class="table-filters">
                        <div class="row">
                            <div class="col-sm-12 col-xs-6 chosen-full-container" style="margin: 10px;">
                                <form>
                                    <input type="text"
                                           placeholder="Search Messages, and Roles"
                                           class="form-control"
                                           data-ng-model="searchKeywords"
                                           data-ng-keyup="search()">
                                </form>
                            </div>
                        </div>
                    </div>

                    <table class="table table-bordered table-striped table-responsive">
                        <thead>
                        <tr>
                            <th class="col-md-1"></th>
                            <th class="col-md-2"><div class="th"> Message
                                <a      href=""
                                        class="fa fa-angle-up"
                                        style="text-decoration: none;"
                                        data-ng-click=" order('game_message.name') "
                                        data-ng-class="{active: row == 'game_message.name'}">
                                </a>
                                <a      href=""
                                        style="text-decoration: none;"
                                        class="fa fa-angle-down"
                                        data-ng-click=" order('-game_message.name') "
                                        data-ng-class="{active: row == '-game_message.name'}">
                                </a>
                            </div></th>
                            <th class="col-md-2"><div class="th"> Role
                                <a      href=""
                                        style="text-decoration: none;"
                                        class="fa fa-angle-up"
                                        data-ng-click=" order('roles.name') "
                                        data-ng-class="{active: row == 'roles.name'}">
                                </a>
                                <a      href=""
                                        style="text-decoration: none;"
                                        class="fa fa-angle-down"
                                        data-ng-click=" order('-roles.name') "
                                        data-ng-class="{active: row == '-roles.name'}">
                                </a>
                            </div></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="assignedMessage in currentPageMessages">
                            <td><input type="checkbox" ng-model="assignedMessage.selected"></td>
                            <td>{{assignedMessage.game_message.name}}</td>
                            <td><span ng-repeat="role in assignedMessage.roles">
                                    {{role.name}} <br>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <footer class="table-footer">
                        <div class="row">
                            <div class="col-md-6 page-num-info">
                                <span>
                                    Show
                                    <select data-ng-model="numPerPage"
                                            data-ng-options="num for num in numPerPageOpt"
                                            data-ng-change="onNumPerPageChange()">
                                    </select>
                                    records per page
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right pagination-container" style="text-align: center">
                                <uib-pagination class="pagination-sm"
                                                style="display: inline-block;"
                                                ng-model="currentPage"
                                                total-items="filteredAssignedMessages.length"
                                                max-size="4"
                                                ng-change="select(currentPage)"
                                                items-per-page="numPerPage"
                                                rotate="false"
                                                previous-text="&lsaquo;" next-text="&rsaquo;"
                                                boundary-links="true">
                                </uib-pagination>
                            </div>
                        </div>
                    </footer>
                </section>

                <section ng-show="page2" class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <label> Message </label><span style="color: red" title="Required"> *</span>

                            <div class="form-group chosen-full-container" style="margin-bottom:10px;">
                                <select chosen
                                        class="form-control"
                                        ng-model="assignedMessage.gameMessageId"
                                        ng-options="message.id as message.name for message in gameMessages">
                                </select>
                            </div>
                            <a href="" ng-click="addMessageItem()"><i class=""> Create New Message </i></a>
                        </div>

                        <div class="form-group chosen-full-container" style="margin-bottom:10px;">
                            <label> Roles </label>
                            <select chosen
                                    multiple
                                    class="form-control"
                                    data-placeholder-text-multiple="'Select Roles'"
                                    ng-model="messageRoles"
                                    ng-options="role.id as role.name for role in roles">
                            </select><br><br>

                            <a href="" ng-click="addRole()">Create New Role</a>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>
</div>