<div class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div id="modal-header" class="modal-header">
            <button type="button" class="close" ng-click="close()" >&times;</button>
            <h4 class="modal-title">{{heading}}</h4>
        </div>
        <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-heading">Basic Info</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>Team Name</label>
                        <span  style="color: red" title="Required"> *</span>
                        <input type="text" class="form-control" ng-model="team.name" ng-readonly="viewTask">
                    </div>
                </div>
            </div>



        </div>

        <div class="modal-footer">
            <button class="btn btn-info" data-dismiss="modal">Cancel</button>
            <button class="btn btn-success" ng-click="submit()">Save</button>
        </div>
    </div>
  </div>
</div>
