<div class="modal fade" role="dialog">
  <div class="modal-dialog" id="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" id ="modal-content">
      <div class="modal-header"  id ="modal-header">
        <button type="button" class="close"  data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id ="modal-title">Edit Game Template</h4>
      </div>
      <div class="modal-body" style="overflow-y: auto;">
        <div >
    <section ng-show="page1" class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div id="home" class="tab-pane fade in active">
                        <div class="form-group">
                            <label>Name</label><span  style="color: red"
                                        title="Required"> *</span>
                            <input class="form-control" ng-model="data.name">
                        </div>

                        <div class="form-group">
                            <label>Description</label>
                            <textarea ng-model="data.description" class="form-control"></textarea>
                        </div>

                        <div class="form-group">
                            <label>Game Type</label>
                            <div class="form-group chosen-full-container" style="margin-bottom:10px;">
                                <select chosen
                                        class="form-control"
                                        data-placeholder-text-single="'Select Type'"
                                        ng-model="data.gameCategoryId"
                                        ng-options="type.id as type.name for type in categories">
                                </select>
                            </div>
                            <a href="" ng-click="addGameCategory()">New Game Type</a>
                        </div>

                        <div class="form-group">
                            <label>Game Date<span class="required-custom"> *</span></label>
                            <input class="form-control"
                                    data-provide="datepicker"
                                    ng-change="closePicker()"
                                    data-date-format="dd/mm/yyyy"
                                    ng-model="data.planDate">
                        </div>

                    </div>

               </div>

            </div>
        </div>
    </section>

    <section ng-show="page2" class="panel panel-default">
    <div class="panel-body">
    <strong>Game Template Name:</strong> {{data.name}}
        <br><br>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div id="menu1" class="tab-pane fade in active ui-widget">
                    <ul data-as-sortable="DragOptions"
                        data-ng-model="data.assigned_game_messages">
                        <li class="panel-default"
                            is-open="activityExpand"
                            ng-repeat="assignedMessage in data.assigned_game_messages"
                            data-as-sortable-item
                            style="margin-bottom: 15px;">
                            <div class="col-xs-1 handle" data-as-sortable-item-handle
                                    style="margin-top: 10px;" >
                                <span class="ti-move">
                                </span>
                            </div>
                            <div class="col-xs-1 delete-activity">
                                <button title="Delete Activity" class="btn btn-sm btn-danger"
                                        ng-click="deleteGameMessage(assignedMessage, $index)"
                                        confirm="Are you sure you want to delete this message from Game?">
                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                </button>
                            </div>
                            <uib-accordion close-others="true">
                                <div uib-accordion-group>
                                    <uib-accordion-heading>
                                        {{$index+1}} - {{assignedMessage.game_message.name}}
                                        <i class="pull-right glyphicon"
                                            ng-class="{'glyphicon-chevron-down': activityExpand, 'glyphicon-chevron-right': !activityExpand}"></i>
                                    </uib-accordion-heading>

                                    <div>
                                        <div class="panel panel-default" style="margin-bottom: 20px;">

                                            <div class="panel-body">

                                                <div class="form-group">
                                                    <label> Simulation Message </label><span style="color: red" title="Required"> *</span>
                                                    <input class="form-control" ng-model="assignedMessage.game_message.name" disabled>
                                                </div>

                                                <div class="form-group">
                                                    <label> Roles </label>
                                                    <br>
                                                    <span ng-repeat="role in assignedMessage.roles">
                                                        {{$index+1}} - <b> {{role.name}} </b> <br>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-accordion>
                        </li>
                        <button class="btn btn-primary" ng-click="addGameMessages()"> Select from Assigned Messages Library</button>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" ng-show="page1" ng-click="update()" style="float:right; margin-left:5px"> Update & Next  <i class="fa fa-chevron-right fa-lg"></i></button>
          <button class="btn btn-primary" ng-show="page1" ng-click="close()" data-dismiss="modal">Cancel</button>
           <button class="btn btn-primary" ng-show="page2" ng-click="close()" data-dismiss="modal">Cancel</button>
          <button class="btn btn-success" ng-show="page2" ng-click="saveExit()" style="float:right">
            <span>Save & Exit</span>
            </button>
        </div>
      </div>
    </div>
  </div>
