<style media="screen">
  .classlist .item-text .custom-pre { font-size: 35px !important;}
</style>
<div class="modal fade" role="dialog">

    <div class="modal-dialog modal-lg" >
        <!-- Modal content-->
        <div class="modal-content">
            <!-- Modal Header-->
            <div class="panel panel-default">
                <div class="modal-header panel-heading"
                     ng-dblclick="data.modal_edit=true">
                    <button type="button" class="close" ng-click="close()" >&times;</button>
                    <span ng-hide="data.modal_edit"
                          ng-attr-title="{{data.title}}"
                          ng-dblclick="editClass(data)"
                          class="editable editable-click">
                        <h4 class="modal-title">{{data.title | displayString: 35}}</h4>
                    </span>
                    <form class="form-inline"
                          ng-submit="updateClass(data)"
                          ng-show="data.modal_edit">
                        <div class="editable-controls form-group"
                             ng-class="{'has-error': $error}">
                            <input type="text"
                                   ng-click="$event.stopPropagation()"
                                   ng-model="data.title"
                                   class="form-control input-sm">
                            <span class="editable-button">
                                <button type="submit"
                                        title="Update"
                                        class="btn btn-primary btn-sm"
                                        aria-label="Submit">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                                <button type="button"
                                        class="btn btn-default btn-sm"
                                        ng-click="cancelEditClass(data)"
                                        title="Cancel"
                                        aria-label="Cancel">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                                <button type="button"
                                        class="btn btn-sm btn-success"
                                        title="Add Sub-Category"
                                        ng-click="createSubCategory(data.id)">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                <button type="button"
                                        class="btn btn-sm btn-danger"
                                        style="float: right"
                                        title="Delete Category"
                                        confirm="Do you want to delete the category?"
                                        ng-click="deleteCategory(data, $index)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Modal Body-->
            <div class="modal-body edit-category-modal modal_big_height">
                <ul style="width:100%;min-height:30px;float:left"
                    class="classlist list-group">
                    <!-- ======================================== -->
                    <li class="item"
                        style="margin-bottom: 5px;">
                        <div style="width:100%;">
                            <div class="row"
                                 style="margin:0">
                                <div class="col-xs-12"
                                     style="padding-left:5px; background-color: #f4f4f4;" ng-dblclick="data.ex=true">
                                    <form ng-submit="updateClass(data)">
                                        <div class="row left-padding">
                                            <div class="col-xs-12 item-text"
                                                 
                                                 style="padding: 2px 8px 0px 0px;">
                                                <span ng-show="data.ex">
                                                    <textarea rows="1"
                                                      froala="froalaOptionsForMessage"   
                                                      class="form-control abcdefghij"
                                                      msd-elastic
                                                      ng-model="data.summary"
                                                      style="min-height: 34px !important;"
                                                      ng-textarea-enter="updateClass(data)">
                                                    </textarea>
                                                </span>
                                                <div style="font-size: 35px;word-break: break-all;white-space: pre-wrap;" ng-hide="data.ex" ng-bind-html = "data.summary">
                                                  
                                                </div>
                                               <!--  <span ng-hide="data.ex"
                                                      title="{{data.summary}}">
                                                    <pre class="custom-pre">{{data.summary }}</pre>
                                                </span> -->
                                            </div>
                                        </div>

                                        <div class="row left-padding"
                                             ng-show="data.ex"
                                             style="margin: 0px -3px 5px 4px;">
                                             <div class="col-xs-6 nopadding"
                                                  style="padding-left: 0;">
                                             </div>
                                            <div class="col-xs-6 text-right"
                                                 style="padding-right:0">
                                                <button type="submit"
                                                        class="btn btn-xs btn-primary"
                                                        title="Submit"
                                                        aria-label="Submit">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </button>
                                                <button type="button"
                                                        class="btn btn-xs btn-default "
                                                        ng-click="data.ex=false"
                                                        title="Cancel"
                                                        aria-label="Cancel">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="row item-info left-padding"
                                             ng-hide="item.modal_edit">
                                            <div class="col-md-6 nopadding">
                                                {{loginUser.firstName}}
                                            </div>
                                            <div class="col-md-6 text-right time">
                                                {{timeFormat(data.createdAt)}}
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- ======================================== -->
                    <li class="item"
                        style="margin-bottom: 5px;"
                        ng-repeat="item in data.messages | orderBy:item.index">
                        <div style="width:100%;">
                            <div class="row"
                                 style="margin:0">
                                <div class="col-xs-12"
                                     style="padding-left:5px;"
                                     ng-style="{'border': '1px solid {{item.selectedColor}}'}">

                                    <form ng-submit="updateMessage(item, data)">
                                        <div class="row left-padding">
                                            <div class="col-xs-12 item-text"
                                                 ng-dblclick="editItem(item, $event)"
                                                 style="padding: 2px 8px 0px 0px;">
                                                <span ng-show="item.modal_edit">
                                                    <textarea rows="1"
                                                              class="form-control"
                                                              msd-elastic
                                                              ng-model="item.content"
                                                              ng-textarea-enter="updateMessage(item)">
                                                    </textarea>
                                                </span>
                                                <span ng-hide="item.modal_edit"
                                                      title="{{item.content}}">
                                                    <pre class="custom-pre">{{item.content }}</pre>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="row left-padding"
                                             ng-show="item.modal_edit"
                                             style="margin: 0px -3px 5px 4px;">
                                            <div class="col-xs-6 nopadding"
                                                 style="padding-left: 0;">
                                                <button type="button"
                                                        class="btn btn-xs btn-danger"
                                                        ng-click="deleteMessage(item, data)"
                                                        title="Delete">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </div>
                                            <div class="col-xs-6 text-right"
                                                 style="padding-right:0">
                                                <button type="submit"
                                                        class="btn btn-xs btn-primary"
                                                        title="Submit"
                                                        aria-label="Submit">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </button>
                                                <button type="button"
                                                        class="btn btn-xs btn-default "
                                                        ng-click="cancelEditItem(item)"
                                                        title="Cancel"
                                                        aria-label="Cancel">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="row item-info left-padding"
                                             ng-hide="item.modal_edit">
                                            <div class="col-md-6 nopadding">
                                                {{item.user.firstName}}
                                            </div>
                                            <div class="col-md-6 text-right time">
                                                {{timeFormat(item.createdAt)}}
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <!-- Modal Footer-->
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="close()" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
