<div class="modal fade" role="dialog">
  <div class="modal-dialog modal_small_width">
    <div class="modal-content">
      <div id="modal-header" class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="close()" >&times;</button>
        <h4 id="modal-title" class="modal-title">Dashboard Reset Confirmation</h4>
        <button class="btn btn-sm btn-raised btn-default" ng-click="toggleNotification()">
          <span ng-show="layout.notification" title="Notification On">
            <span class="glyphicon glyphicon-bell notification-icon" style="color: green;"></span>
          </span>
          <span ng-show="!layout.notification" title="Notification Off">
            <span class="glyphicon glyphicon-bell notification-icon" style="color: red;"></span>
          </span>
        </button>

      </div>
      <div class="modal-body modal_small_height">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">

            <form role="form">

              <div class="form-group">
              <strong> Select Color-coded messages you wish to keep. </strong>
              </div>
              <div class="form-group">
                <div ng-repeat="c in colorPalettes">
                  <div class="color_divs1" ng-style="{'background-color': c.color}">
                    <span>
                      <input type="checkbox" ng-model="c.checked" ng-change="selectedColors(c)" style="margin-left: 30px;"/>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Type "CONFIRM" to reset dashboard.</label>
                <input  type="text" ng-model="answer" class="form-control">
              </div>
            </form>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button ng-click="submit()" type="submit" class="btn btn-success">Reset</button>
      </div>
    </div>
  </div>
</div>
