<div class="modal fade" role="dialog"  id= "summary_report_modal_closing">
    <div class="modal-dialog modal-lg" id ="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" id = "modal-header" >
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"  id = "modal-title" >Summary Report 1</h4>
            </div>
            <div class="modal-body modal_big_height" id="modal-body" >
                <section ng-show="summaryPage">
                    <div id="print" >
                        <ul class="classes list-unstyled"
                        ng-class="toggleInformationZoom()">
                            <li id="category_{{$index}}"
                                ng-show="class.show"
                                no-drag="!class.edit"
                                ng-repeat="class in data.classes | filter:query">
                                <div class="dragMsg">
                                    
                                    <form class="form-inline " ng-dblclick="class.edit=true"
                                        ng-submit="updateClass(class)"
                                        ng-show="class.edit">
                                        <div class="editable-controls form-group"
                                        ng-class="{'has-error': $error}">
                                            <input type="text"
                                            ng-click="$event.stopPropagation()"
                                            ng-model="class.title"
                                            class="form-control input-sm">
                                            <span class="editable-button">
                                                <button type="submit"
                                                title="Update"
                                                class="btn btn-primary btn-sm"
                                                aria-label="Submit">
                                                    <span class="glyphicon glyphicon-ok">
                                                    </span>
                                                </button>
                                                <button type="button"
                                                class="btn btn-default btn-sm"
                                                ng-click="cancelEditClass(class)"
                                                title="Cancel"
                                                aria-label="Cancel">
                                                    <span class="glyphicon glyphicon-remove">
                                                    </span>
                                                </button>
                                                <button type="button"
                                                class="btn btn-sm btn-success"
                                                title="Add Sub-Category"
                                                ng-click="createSubCategory(class.id)">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </form>

                                    <ul
                                    class="classlist list-group">
                                    <!-- ##################################### -->
                                        <li class="item">
                                            <div style="width:100%;">
                                                <div class="row"
                                                style="margin:0">

                                                    <div class="col-xs-12 "
                                                    style="padding-left:5px; background-color: #f4f4f4;">
                                                        <form ng-submit="updateClass(class)">
                                                            <div class="row left-padding">
                                                                <div class="col-xs-12 item-text"
                                                                ng-dblclick="class.ex=true"
                                                                style="padding: 2px 8px 0px 0px;">
                                                                    {{class.title | displayString: 24}}
                                                                    <span ng-show="class.ex" class="" >
                                                                        <textarea rows="1"
                                                                            froala="froalaOptions" 
                                                                            class="form-control"
                                                                            msd-elastic
                                                                            ng-model="class.summary"
                                                                            ng-textarea-enter="updateClass(class)">
                                                                        </textarea>
                                                                    </span>
                                                                    <div ng-hide="class.ex" ng-style="messagesStyle" ng-bind-html="class.summary" style="overflow: auto;"></div>
                                                                </div>
                                                            </div>
                                                            <div class="row left-padding"
                                                                ng-show="class.ex"
                                                                style="margin: 0px -3px 5px 4px;">
                                                                <div class="col-xs-6 nopadding"
                                                                    style="padding-left: 0;">
                                                                </div>
                                                                <div class="col-xs-6 text-right"
                                                                style="padding-right:0">
                                                                    <button type="submit"
                                                                    class="btn btn-xs btn-primary"
                                                                    title="Submit"
                                                                    aria-label="Submit">
                                                                        <span class="glyphicon glyphicon-ok"></span>
                                                                    </button>
                                                                    <button type="button"
                                                                    class="btn btn-xs btn-default "
                                                                    ng-click="class.ex=false"
                                                                    title="Cancel"
                                                                    aria-label="Cancel">
                                                                        <span class="glyphicon glyphicon-remove"></span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="row item-info left-padding"
                                                            ng-hide="class.ex">
                                                                <div class="col-md-6 nopadding">
                                                                    {{loginUser.firstName}}
                                                                </div>
                                                                <div class="col-md-6 text-right time">
                                                                    {{timeFormat(class.createdAt)}}
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <br>
                            </li>
                        </ul>
                    </div>
                </section>
                <section ng-show="summaryEditorPage">
                    <div class="panel-body report-editor">
                        <!-- <textarea
                            style="height:320px"
                            ng-model="status_report"
                            ui-tinymce="tinymceOptions">
                        </textarea> -->
                        <!-- <text-angular style="height:320px" ng-model="status_report"></text-angular> -->

                    <textarea froala="froalaOptions" ng-model="status_report"></textarea>
                    <!-- <div ckeditor="optionsc" ng-model="status_report"></div> -->
                        <!--  <textarea ui-tinymce  ng-model="status_report" style="height:320px">
                        </textarea> -->
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <strong ng-show="summaryPage">INCLUDE: 
                    <span>Detail<input type=checkbox ng-model = "check.detail"> Action Plan Status <input type=checkbox ng-model = "check.actionPlan"></span>
                    <span ng-show = "selectedPlan.action_plan && selectedPlan.action_plan.kind == 'agendaPoints' && check.actionPlan"> Agenda Point Detail <input type=checkbox ng-model = "check.agenda_detail"></span>
                </strong>
                <button class="btn btn-info" ng-show="summaryPage"  ng-click="close()" data-dismiss="modal">Cancel</button>
                <button class="btn btn-success" ng-show="summaryPage" ng-click="summaryEditor()">Next</button>
                <button class="btn btn-primary" ng-show="summaryEditorPage" ng-click="saveReport()">Save & Send</button>
                <button class="btn btn-success" ng-show="summaryEditorPage" ng-click="Printsummary()">Print</button>
                <button class="btn btn-primary" ng-show="summaryEditorPage" ng-click="close()" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
