
<!-- Modal -->
<div class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div id="modal-header" class="modal-header">
                <button type="button" class="close" ng-click="close()" >&times;</button>
                <h4 ng-hide ="notEdit" class="modal-title">Add New Game Reference</h4>
                <h4 ng-show="notEdit" class="modal-title">View Game Reference</h4>
            </div>
            <div class="modal-body">
                {{new}}
                <div class="form-group">
                    <label for="exampleInputEmail1">Title</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" ng-model="lib.title" placeholder="Enter Title Name" ng-readonly="notEdit">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Author</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" ng-model="lib.author" placeholder="Enter Author Name" ng-readonly="notEdit">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Description</label>
                    <textarea name="" ng-model="lib.description" class="form-control" rows="4" ng-readonly="notEdit"></textarea>
                </div>
                <div class="form-group">
                    <label>Game Name</label>
                    <div class="form-group chosen-full-container" style="margin-bottom:10px;">
                        <select chosen
                            ng-disabled = "gamePlanId"
                            data-placeholder-text-single="'Select Game Template'"
                            ng-model="lib.gamePlanId"
                            ng-options="document.id as document.name for document in gameTemplates">
                        </select>
                    </div>
                    <a href="" ng-click="addGameTemplate()"> Create New Game Template</a>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" ng-hide="check.file">Attach link</label>
                    <input type="checkbox" ng-hide="check.file" ng-model="check.link">

                    <label for="exampleInputEmail1" ng-hide="check.link">Attach file</label>
                    <input type="checkbox" ng-hide="check.link" ng-model="check.file">
                </div>

                <div class="form-group" ng-if="check.link">
                    <label for="exampleInputEmail1">Links</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" ng-model="lib.link" placeholder="Enter Links" ng-readonly="notEdit">
                </div>
                <div class="form-group" ng-if="notEdit  && check.file">
                    <label>File Name</label>
                    <a href="{{lib.filename}}" target="_blank">View</a>
                </div>

                <div class="form-group"  ng-hide="check.link" ng-if="!notEdit && check.file">
                    <label for="exampleInputEmail1">Browse File</label>
                    <input type="file" ngf-select ng-model="lib.file" ng-readonly="notEdit"> {{lib.filename}}
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-info" ng-click="close()" data-dismiss="modal">Cancel</button>
                <button class="btn btn-success" ng-click="submitLibraryRef()" data-dismiss="modal" ng-hide="notEdit">Save</button>
            </div>
        </div>

    </div>
</div>
