<div class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="height: 450px;overflow-y: scroll;">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" >&times;</button>
                <h4 class="modal-title">Player List</h4>
            </div>
            <div class="chosen-full-container play-game-client" style="margin: 25px;">
                <label>Organization: </label>
                    <select chosen
                            data-placeholder-text-single="'Select Game Client'"
                            ng-model="client"
                            ng-change="getUsers()"
                            ng-options="organization as organization.name group by organization.group for organization in organizations">
                        <option value=""></option>
                    </select>
            </div>
            <div class="table-responsive">
             <table class="table" ng-if = "client">
                <thead>
                  <tr>
                    <th><input type = "checkbox" ng-model = "allselected" ng-click = "selectAll()"/></th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>User Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="user in users" ng-if="!game_players.includes(user.id)">
                    <td><input type = "checkbox" ng-model = "user.selected" /></td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.userType}}</td>
                  </tr>
                </tbody>
              </table>  
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="close()" data-dismiss="modal">Cancel</button>
                <button class="btn btn-success" ng-click="submit()">Save</button>
            </div>
        </div>
    </div>
</div>