<div ng-controller="createActionPlanCtrl" style="padding:12px;">
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Create Action Plan </strong></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                     <div class="form-group" > 
                         <label> Action List</label>
                         <select class="form-control" ng-model="act" ng-change="loadUsers(act)" ng-options="record as record.title for record in tasks" selected="true"> 
                           
                         </select> 

                         <a ng-click="addActionItem()"><i class=""> Add Action Item </i></a>                          
                    </div>     
                            
                    <div class="form-group" >
                        <label> Responsible Actor</label>
                        <select class="form-control" ng-model="action.responseActorId">
                            <option ng-repeat="record in users" value="{{record.id}}" ng-selected="action.responseActorId == record.id"> {{record.firstName}} {{record.lastName}}</option>
                        </select>                   
                    </div>

                        <div class="form-group" >
                        <label> Responsibility Level</label>
                        <input class="form-control" ng-model="action.responsibility_level">
                        
                    </div> 

                    <div class="form-group" >
                        <label> Response Time (minutes)</label>
                        <input class="form-control" ng-model="action.responseTime">
                        
                    </div> 

                    <div class="form-group" >
                        <label> Completion Time (minutes) </label>
                        <input class="form-control" ng-model="action.completionTime">
                        
                    </div>  
                    
                    <a href="#/actions"> <button class="btn btn-primary"> Cancel </button> </a>

                    <a href=""> <button class="btn btn-success" ng-click="submit
                    ()"> Save </button>

                    </a>   
                    <a href="/#/home"> <button class="btn btn-primary"> Cancel </button>

                    </a>       
                </div>
            </div>
        </div>
    </section>
</div>
