<div class="page" ng-controller="ActionCtrl">
    <section class="panel panel-default">
        <div class="panel-heading">
        <strong>
        	<span class="glyphicon glyphicon-th"></span> Actions </strong>
        	<div class="pull-right header-buttons">
        	 <a href="#/actions/create" class="btn btn-success btn-sm">Create New Action</a>
        	</div>
        </div>
        <div class="panel-body">

            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th> Name </th>
                            <th> Responsibility Level </th>
                            <th> Completion Time </th>
                            <th> Response Time </th>
                            <th> Data Created </th>
                            <th> Actions </th>
                        
                    </thead>
                    <tbody>
                        <tr ng-repeat="cat in actions">          
                            <td>{{cat.name}}</td>
                            <td>{{cat.responsibility_level}}</td>
                            <td>{{cat.completionTime}}</td>
                            <td>{{cat.responseTime}}</td>
                            <td>{{ dateFormat(cat.createdAt) }}</td>
                            <td>
                            <a href="#/actions/create/{{cat.id}}" class="btn btn-sm btn-warning">
                            	<span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <button class="btn btn-sm btn-danger" ng-click="deleteAction(cat.id)">
                            	<span class="glyphicon glyphicon-remove-sign"></span>
                            </button>
                            </td>                            
                        </tr>
                        
                    </tbody>
                </table>
            </div>

        </div>
    </section>
</div>
