

<div class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div id="modal-header" class="modal-header">
        <button type="button" class="close" ng-click="close()" >&times;</button>
        <h4 id="modal-title" class="modal-title"> Add New Task </h4>
      </div>
      <div class="modal-body">
            <div class="form-group">
              <label >Title</label>
              <input class="form-control" ng-model="task.title" placeholder="Enter task title">
          </div>
          <div class="form-group">
              <label>Category</label>
              <div class="form-group chosen-full-container" style="margin-bottom:10px;">
                  <select chosen
                          data-placeholder-text-single="'Select Category'"
                          ng-model="task.categoryId"
                          ng-options="cat.id as cat.name for cat in categories"
                          >
                  </select>
              </div>
          </div>
           <div class="form-group">
              <label >Description</label>
              <textarea class="form-control" ng-model="task.description"
                        placeholder="Enter task description"> </textarea>
          </div>



      </div>
      <div class="modal-footer">
          <button class="btn btn-sm btn-info" ng-click="close()" data-dismiss="modal">Cancel</button>
          <a href="" ng-click="submit(task)" > <button class="btn btn-sm btn-success" data-dismiss="modal"> Save </button> </a>
      </div>
    </div>

  </div>
</div>
