<div class="page page-dashboard">

<div class="row">
    <div class="col-md-10">
       <!-- Stats -->
        <div class="col-lg-3 col-xsm-6">
            <div class="panel panel-box">
                <div class="panel-body">
                    <span data-translate="Facts"></span>
                </div>
                <div class="panel-bottom bg-light">
                    <span>36 <span class="size-h4">%</span></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
           <div class="panel panel-box">
                <div class="panel-body">
                    <span data-translate="GROWTH"></span>
                </div>
                <div class="panel-bottom bg-light">
                    <span>36 <span class="size-h4">%</span></span>
                </div>
            </div>

        </div>
        <div class="col-lg-3 col-xsm-6">
           <div class="panel panel-box">
                <div class="panel-body">
                    <span data-translate="GROWTH"></span>
                </div>
                <div class="panel-bottom bg-light">
                    <span>36 <span class="size-h4">%</span></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
           <div class="panel panel-box">
                <div class="panel-body">
                    <span data-translate="GROWTH"></span>
                </div>
                <div class="panel-bottom bg-light">
                    <span>36 <span class="size-h4">%</span></span>
                </div>
            </div>
        </div>
        <!-- end stats -->
    </div>
	<div class="col-md-2">
	<div class="panel panel-box">
                <div class="panel-body bg-light">
                	Messages
                </div>
            </div>
	</div>
</div>
</div>
