<div data-ng-controller="homeCtrl">
    <div class="container-fluid" style="padding-bottom: 10px;">
        <div class="top_btns_container">
            <div class="">
                <div class="col-md-11">
                    <h2>
                        <strong>
                            MIMR 7
                        </strong>
                    </h2>
                    <h3>
                       Content marketing is a way to get people talking about your products, your services, and your company and to engage your customers and create a community.
                    </h3>
                </div>
                <div class="col-md-1">
                    <button ng-click="newContent()" ng-if="card.index == 0" style="margin-top:25px;" class="btn btn-success btn-sm pull-right"> New Article </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin: 5px;">
        <div ng-repeat="card in cardsToShow" class="col-md-3" style="margin-bottom: 20px;">
            <div class="card">
                <div class="card-content" style="position: static;">
                    <div class="card-headline">
                        <h2 class="text-center">
                            <a ng-click = "showContents($index,card)" style="position: relative;top: 25px;color: #009688;" href = "">
                                {{card.name}}
                            </a>
                        </h2>
                    </div>

                    <div class="card-body">
                        <div class="text-center">
                            <a ng-click = "showContents($index,card)" class="btn text-center" style="color: black;   position: relative;top: 25px;" ng-class="{'color_green': card.click}">
                                <i class="fa fa-caret-down fa-2x "></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div ng-show="card.click" class="row">
        <div class="col-md-4" style="position: relative;" ng-if="card.index == 0" ng-repeat="template in cards">
            <div style="padding: 10px;margin: 5px;">
                <div class="card" style="background-color: rgba(255, 255, 255, 0.78) !important;">
                    <div class="card-content" style="position: relative;">
                        <div class="card-headline">

                            <div>
                                <h3 style="color: black;width: 42%" >{{template.title}}</h3>
                            </div>
                        </div>

                        <div class="card-body">
                            <br>
                            <div style="min-height: 50px;" class="text-center">

                                <a href="#/message-libraries/{{template.id}}" class="btn btn-sm color_black">Messages</a>

                                <a href="#/article-libraries/{{template.id}}" class="btn btn-sm color_black">Documents & Media</a>

                                <a href="#/view-contents/{{template.id}}" class="btn btn-sm color_black">Contents</a>

                                <button title="Schedule Content" class="btn btn-sm btn-success" style="position: absolute;right: 110px;top:0;" ng-click="scheduleContent(template)">
                                    <i class="fa fa-calendar"></i>
                                </button>

                                <a href = "#/view-scheduled-question/{{template.id}}" title="Question Scheduling" class="btn btn-success" style="position: absolute;right: 153px;top:-4px;">
                                    <i class="fa fa-question-circle"></i>
                                </a>
                                
                                <button title="Edit Game" class="btn btn-sm btn-info" style="position: absolute;right: 60px;top:0;" ng-click="editModal(template.id, $index)">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>

                                <button title="Delete Plan" class="btn btn-sm btn-danger"
                                 style="position: absolute;right: 10px;top:0;"
                                        ng-click="delete($index,template)"
                                        confirm = "Are you sure you want to DELETE  '{{template.title}}' ?">
                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="position: relative;" ng-if = "card.index == 1 || card.index == 2 || card.index == 3" ng-repeat="game in gameToShow ">
            <div style="padding: 10px;margin: 0px;">
                <div class="card" style="background-color: rgba(255, 255, 255, 0.78) !important;">
                    <div class="card-content" style="position: relative;">
                        <div class="card-headline">

                            <h3 style="color: black" >{{game.article.title}}</h3>

                            <p ng-if = "gamesSelected == 'schedule' && game.scheduled_date">Content Schedule Date: {{dateTimeFormat(game.scheduled_date)}}</p>
                            <p ng-if = "gamesSelected == 'active' && game.play_date">Content Played Date: {{dateTimeFormat(game.play_date)}}</p>
                            <p ng-if = "gamesSelected == 'stop' && game.start_time">Content Started Date: {{dateTimeFormat(game.start_time)}}</p>
                            Player List: {{game.player_list.name || "No List attached"}} 
                        </div>

                        <div class="card-body">
                            <div style="min-height: 50px;" class="text-center">
                                <a ng-click="sendQuestions(game)"
                                    ng-if = "gamesSelected == 'schedule'"
                                    confirm = "Do you want to Play Content?"
                                    class="btn btn-success"
                                    title="Send Content">
                                    <span class="glyphicon glyphicon-play"></span>
                                </a>
                                <a href="#/active-contents/{{game.id}}"
                                    ng-if = "gamesSelected == 'active' || gamesSelected == 'stop'"
                                   class="btn btn-success"
                                   title="See Details">
                                    <span class="fa fa-list"></span>
                                </a>
                                <a href="#/question-responses/{{game.id}}"
                                    ng-if = "gamesSelected == 'active' || gamesSelected == 'stop'"
                                   class="btn btn-success"
                                   title="See User Responses">
                                    <span class="fa fa-inbox"></span>
                                </a>
                                <a class="btn btn-danger"
                                   title="Remove Scheduled Game"
                                   ng-hide = "card.index == 2"
                                   ng-click="deleteScheduleContent(game, $index)"
                                   confirm="Are you sure you want to delete?">
                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                </a>
                                <a ng-click="editScheduleContent(game.id, $index)"
                                   class="btn btn-info"
                                   ng-hide = "gamesSelected == 'stop' || gamesSelected == 'active'"
                                   title="Edit Scheduled Game">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
