<div data-ng-controller="simulationHomeCtrl">
    <div class="container-fluid" style="padding-bottom: 10px;">
        <div class="top_btns_container">
            <div class="">
                <div class="col-md-11">
                    <h2>
                        <strong>
                            MIMR 7
                        </strong>
                    </h2>
                    <h3>
                       Content marketing is a way to get people talking about your products, your services, and your company and to engage your customers and create a community.
                    </h3>
                </div>
                <div class="col-md-1">
                    <button ng-click="newContent()" style="margin-top:25px;" class="btn btn-success btn-sm pull-right"> New Content </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" style="position: relative;" ng-repeat="template in cards">
            <div style="padding: 10px;margin: 5px;">
                <div class="card" style="background-color: rgba(255, 255, 255, 0.78) !important;">
                    <div class="card-content" style="position: relative;">
                        <div class="card-headline">

                            <div>
                                <h3 style="color: black" >{{template.title}}</h3>
                            </div>
                        </div>

                        <div class="card-body">
                            <br>
                            <div style="min-height: 50px;" class="text-center">

                                <a href="#/message/message-libraries/{{template.id}}" class="btn btn-sm color_black">Messages</a>

                                <a href="#/article/article-libraries/{{template.id}}" class="btn btn-sm color_black">Documents & Media</a>

                                <button title="Edit Game" class="btn btn-sm btn-info" style="position: absolute;right: 60px;top:0;" ng-click="editModal(template.id, $index)">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>

                                <button title="Delete Plan" class="btn btn-sm btn-danger"
                                 style="position: absolute;right: 10px;top:0;"
                                        ng-click="delete($index,template)"
                                        confirm = "Are you sure you want to DELETE  '{{template.title}}' ?">
                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
