<div class="nav-wrapper">
    <ul id="nav"
    class="nav"
    data-slim-scroll
    data-collapse-nav
    data-highlight-active>
        <li ng-show="checkSuperAdmin()">
            <a ng-href="/#/superadmin" ng-click="clickMenu()"> <i class="fa fa-home" aria-hidden="true"></i> <span data-translate="Home"></span> </a>
        </li>
        <li ng-show="!checkSuperAdmin()">
            <a href="#/home" ng-click="clickMenu()"> <i class="fa fa-home"></i><span data-translate="Home"></span></a>
        </li>
        <!-- <li ng-if="checkSuperAdmin()">
            <a href=""> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  <span data-translate="Copy Accounts"></span></a>
            <ul>
                <li>
                    <a ng-href="#/superadmin/copy-accounts" ng-click="clickMenu()"> <i class="fa fa-home" aria-hidden="true"></i> <span data-translate="Copy Details"></span> </a>
                </li>
            </ul>
        </li> -->
        <li ng-show="!checkSuperAdmin()">
            <a href=""> <i class="fa fa-file-text" aria-hidden="true"></i>  <span data-translate="Collection"></span></a>
            <ul>
                <li>
                    <a href="#/mainHome" ng-click="clickMenu()"><i class="ti-angle-right"></i><span data-translate="Home"></span></a>
                </li>
                <li>
                    <a href="#/message-libraries" ng-click="clickMenu()"> <i class="ti-angle-right"></i><span data-translate="Message Library"></span></a>
                </li>
                <li>
                    <a href="#/article-libraries" ng-click="clickMenu()"> <i class="ti-angle-right"></i><span data-translate="Reference Library"></span></a>
                </li>
                <li>
                    <a href="#/content/question-libraries" ng-click="clickMenu()"><i class="ti-angle-right"></i><span data-translate="Question Library"></span></a>
                </li>
                <li>
                    <a href="#/content/content-libraries" ng-click="clickMenu()"><i class="ti-angle-right"></i><span data-translate="Content Library"></span></a>
                </li>
                <li>
                    <a href="#/content/content-builder" ng-click="clickMenu()"><i class="ti-angle-right"></i><span data-translate="Content Builder"></span></a>
                </li>
            </ul>
        </li>
        <li ng-show="!checkSuperAdmin()">
            <a href=""> <i class="fa fa-cogs" aria-hidden="true"></i>  <span data-translate="Settings"></span></a>
            <ul>
                <li>
                    <a href="#/settings/account"  ng-click="clickMenu()"><i class="ti-angle-right" aria-hidden="true"></i><span data-translate="Account Profile"></span></a>
                </li>
                <li>
                    <a href="#/settings/users" ng-click="clickMenu()"> <i class="ti-angle-right" aria-hidden="true"></i> <span data-translate="Users"></span></a>
                </li>

            </ul>
        </li>
        <li ng-show="!checkSuperAdmin()">
            <a href=""> <i class="fa fa-user" aria-hidden="true"></i>  <span data-translate="Students"></span></a>
            <ul>
                <li>
                    <a href="#/settings/organizations" ng-click="clickMenu()"><i class="ti-angle-right"></i><span data-translate="External Organizations"></span></a>
                </li>
                <li>
                    <a href="#/settings/player-lists" ng-click="clickMenu()"><i class="ti-angle-right"></i><span data-translate="Player List"></span></a>
                </li>
                <li>
                    <a href="#/organizations/students/details" ng-click="clickMenu()"><i class="ti-angle-right"></i><span data-translate="Employee"></span></a>
                </li>
                <li>
                    <a href="#/dynamic-form" ng-click="clickMenu()"><i class="ti-angle-right"></i><span
                    data-translate="Assessment Tool"></span></a>
                </li>
            </ul>
        </li>
    </ul>
</div>
