<div class="modal fade content-edit-collection form-articles highlights" role="dialog">
  <div class="modal-dialog modal-lg add-students-messages">

    <!-- Modal content-->
    <div class="modal-content">
        <div id="modal-header" class="modal-header">
            <a href="" title="Save Message" class="glyphicon glyphicon-save" ng-click = "submit()"></a>
            <button type="button" class="close" ng-click="close()">&times;</button>
            <!-- <h4 class="modal-title" id="modal-title">New Message</h4> -->
        </div>
        <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>Name</label>
                        <span  style="color: red" title="Required"> *</span>
                        <input type="text" class="form-control" ng-model="message.content" ng-readonly="viewTask">
                        <label>Content</label>
                        <input type="text" class="form-control" ng-model="message.description"></input>
                    </div>
                </div>
            </div>
            <!-- <div class="panel panel-default">
                <div class="panel-heading">Message Content Info</div>
                <div class="panel-body">
                    <div class="form-group report-editor">
                        
                    </div>
                </div>
            </div> -->
            <!-- <div class="form-group">
                <label for="exampleInputEmail1">Status</label>
                <div class="form-group chosen-full-container">
                    <select chosen class="form-control" ng-model="message.status"
                            data-placeholder-text-single="'Choose Status'">
                      <option>Active</option>
                      <option>InActive</option>
                    </select>
                </div>
            </div> -->
        </div>

        <div class="modal-footer">
            <button class="btn btn-info" data-dismiss="modal">Cancel</button>
            <button class="btn btn-success" ng-click="submit()">Save</button>
        </div>
    </div>
  </div>
</div>
