<div class="page" ng-controller="contentQuestionsCtrl">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Survey </strong></div>
        <div class="panel-body" ng-if = "page1">
            <div class="row">
                <div class="col-md-10">
                    <strong>Question Start At :</strong> 
                    <timer start-time=time>{{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer>
                </div>
                <div class="col-md-2 pull-right">
                    <strong>Total Time : </strong> {{data.total_time / 60}} Minutes 
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <form role="form">
                        <div class="form-group">
                            <strong>Question : </strong><label ng-bind-html = "data.question.name"></label>
                        </div>
                        <div class="form-group">
                            <label > Answer</label>
                            <input type="text" ng-model="data.ans" class="form-control" placeholder="Enter Answer">
                        </div>
                       <br>
                        <button ng-click = "submitAnswer()" class="btn btn-success">Submit</button>
                    </form>

                </div>
            </div>
        </div>
        <div class="panel-body" ng-if = "page2">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group" style="text-align: center;">
                        <strong>"Expiration time for the question have passed"</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body" ng-if = "page3">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group" style="text-align: center;">
                        <strong>"Thanks For Submitting Your Response"</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
