<div class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">

      <!-- Header -->
      <div id="modal-header" class="modal-header">
        <button type="button" class="close" ng-click="close()">&times;</button>
        <h4 class="modal-title">Update Task Status
          <for></for>
        </h4>
      </div>

      <!-- Body -->
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-heading">
            Choose Status
          </div>
          <div class="panel-body">
            <div class="row" style="margin-bottom: 10px;">
              <div class="col-md-12">
                <div class="form-group">
                  <select class="form-control"
                          ng-model="status"
                          ng-options="status.value as status.name for status in statusOptions">
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <button class="btn btn-info" ng-click="close()">Cancel</button>
        <button class="btn btn-success" ng-click="update()">Update</button>
      </div>
    </div>
  </div>
</div>