<div class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">

            <!-- Header -->
            <div class="modal-header" style="border-bottom: none;">
              <button type="button" class="close" ng-click="close()">&times;</button>
            </div>
            <!-- Body -->
            <div class="modal-body" style="padding-top: 0px !important;">
                <div>
                    <h4 style="font-weight: bold;" ng-show = "activity.title">{{activity.title}}</h4>
                    <h4 style="font-weight: bold;" ng-show = "activity.name">{{activity.name}}</h4>

                    <div ng-bind-html= "toTrustedHTML( activity.description )" ></div>

                    <span ng-show="activity.links">
                        <label>Links: </label> <a href="http://{{taskList.links}}" target="_blank">{{activity.links}}</a>
                    </span>
                    <br>
                    <span ng-show="taskList.library_reference.url" ng-if="taskList.library_reference.mimetype">
                        <label>Attachment: </label> <a href="{{taskList.library_reference.url}}" target="_blank">
                            <i class="material-icons">file_download</i>
                        </a>
                    </span>
                    <span ng-show="activity.library_reference.url" ng-if="activity.library_reference.mimetype">
                        <label>Attachment: </label> <a download href="{{activity.library_reference.url}}" target="_blank">
                            <i class="material-icons">file_download</i>
                        </a>
                    </span>
                </div>
            </div>

            <!-- Footer -->
            <div class="modal-footer">
                <button class="btn btn-danger" ng-click="close()" data-dismiss="modal">Close</button>
                <button ng-if="showEditButton" class="btn btn-primary" ng-click="editTask(activity)">Edit Task</button>
            </div>
        </div>
    </div>
</div>
