<div class="modal fade" role="dialog">
  <div class="modal-dialog" style="width: 1050px;">
    <!-- Modal content-->
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()">&times;</button>
        <h4 class="modal-title">{{selectedAction.name}}
          <a class="btn btn-default btn-sm" target="_blank" href="#/actionDetail">
            <span class="glyphicon glyphicon-new-window"></span> Open New Tab
          </a>
        </h4>
      </div>

      <!-- Body -->
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-heading">
            Plan Details
          </div>
          <div class="row">
            <div class="">
              <div class="col-lg-6">
                <div class="input-group">
                  <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Plan Name</button>
                    </span>
                  <input type="text" class="form-control" placeholder="No Name" ng-model="selectedAction.name" disabled>
                </div>
                <div class="input-group">
                  <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Incident Type</button>
                    </span>
                  <select class="form-control" ng-model="selectedAction.categoryId" disabled>
                           <option ng-repeat="category in categories"
                                   value="{{category.id}}"
                                   ng-selected="selectedAction.categoryId === category.id"> {{category.name}}</option>
                    </select>
                </div>
                <div class="input-group">
                  <span class="input-group-btn">
                      <button class="btn btn-default" type="button">No. of Scenarios</button>
                    </span>
                  <input type="text" class="form-control" placeholder="No Scenarios" ng-model="selectedAction.scenario" disabled>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="input-group">
                  <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Description</button>
                    </span>
                  <input type="text" class="form-control" placeholder="No Description" ng-model="selectedAction.description" disabled>
                </div>
                <div class="input-group">
                  <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Plan Date</button>
                    </span>
                  <input type="text" class="form-control" placeholder="Date not defined" ng-model="selectedAction.plandate" disabled>
                </div>
                <div class="input-group">
                  <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Plan Activation</button>
                  </span>
                  <switcher ng-model="incident_plan.plan_activated" true-label="Activated" false-label="Deactivated" style="margin-left: 12px;"
                    ng-change="changeStatus()">
                    </switcher>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            Activity List
          </div>
          <div class="panel-body">
            <div class="row" style="margin-bottom: 10px;">
              <div class="col-md-11">
                <div class="input-group">
                  <input type="text" class="form-control input-sm" style="border-radius: 3px 0 0 3px;" placeholder="Search task list via Responsible Actor, Description, and Status"
                    ng-model="searchVal">
                    <span class="input-group-btn">
                    <button class="btn btn-primary btn-sm"
                            type="button"
                            style="padding-left: 20px; padding-right: 20px; border-radius: 0 3px 3px 0;">
                            <i class="fa fa-search fa-fwearch"></i>
                    </button>
      			     </span>
                </div>
              </div>
              <div class="col-md-1">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-primary btn-sm"
                            type="button"
                            style="border-radius: 3px;"
                            ng-click="markActive()"
                            ng-disabled="selectedActivity()">
                      Activate
                    </button>
      			     </span>
                </div>
              </div>
            </div>
            <table st-table="activities" st-safe-src="safeActivities" class="table table-striped">
              <thead>
                <tr>
                  <th row-select-all="activities" selected="selected" ng-click="selectAll(activities)">
                  </th>
                  <th>Actor</th>
                  <th>Task</th>
                  <th>Type</th>
                  <th>Status</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="activity in activities | filter:searchVal |orderBy: 'index'">
                  <td row-select="activity" ng-click="select(activity.id)">

                  </td>
                  <td>
                    <div>
                      <img ng-class="userStatusClass(activity.responseActorAvailable)" class="img30_30" alt="No Image" />
                    </div>
                    {{activity.responseActorFirstName}} {{activity.responseActorLastName}}
                  </td>
                  <td>{{activity.title}}</td>
                  <td>{{activity.type}}</td>
                  <td ng-class="satusClass(incident_plan.activity_status[$index].task_status)">{{getStatusName(incident_plan.activity_status[$index].task_status)}}</td>
                  <td>
                    <switcher class="styled" ng-model="incident_plan.activity_status[$index].activated" ng-change="updateActivityActivation($index)"
                      true-label="" false-label="">
                      </switcher>
                  </td>
                  <td>
                    <div ng-show="checkDecision(incident_plan.activity_status[$index])">
                      <button class="btn btn-sm btn-warning" title="View Outcomes" ng-click="viewOutcomes(activity, $index)">
                        <span class="fa fa-television"></span>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="close()" data-dismiss="modal">cancel</button>
      </div>
    </div>
  </div>
</div>