<div class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Your Link</h4>
      </div>
      <div class="modal-body">
        <p>{{futurama.path}}</p>
      </div>
      <div class="modal-footer">
      <button class="btn btn-primary" ng-click="futurama.sendLinkMessage()" data-dismiss="modal">Send to Information Dashboard</button>
        <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>
