<div class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" >&times;</button>
        <h4 class="modal-title">Delete Sub Category</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure to delete this sub category?</p>       
      </div>
      <div class="modal-footer">
          <a ng-click="submit()" > <button class="btn btn-success" data-dismiss="modal">Confirm</button> </a>
        <button class="btn btn-primary" ng-click="close()" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>
