<div class="modal fade" role="dialog">
    <div id="modal-dialog" class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" id="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"  id="modal-title">Add Question</h4>

            </div>
            <div class="modal-body modal_big_height">
                <section class="panel panel-default modal_third_cal">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div id="home" class="tab-pane fade in active">
                                    <div class="form-group">
                                        <label>Name</label><span style="color: red" title="Required"> *</span>
                                        <input class="form-control" ng-model="data.name">
                                    </div>

                                    <div class="form-group">
                                        <label>Number</label>
                                        <textarea ng-model="data.number" class="form-control" type="number"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Type</label>
                                        <div class="form-group chosen-full-container" style="margin-bottom:10px;">
                                            <select chosen class="form-control" data-placeholder-text-single="'Select Kind'" ng-model="data.type" >
                                                <option value="Blanks">Fill In The Blanks</option>
                                                <option value="InputField">Enter Text</option>
                                                <option value="Mcqs">Multiple Choice</option>
                                                <option value="Other">Others</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="chosen-full-container play-game-client" style="margin: 5px;">
                                        <label>Articles </label>
                                        <select chosen
                                                ng-model="articleId"
                                                ng-change = "getMessageList()"
                                                ng-options="article.id as article.title for article in articles">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="chosen-full-container play-game-client" ng-if = "articleId && article.type == 'subjectCollection'" style="margin: 5px;">
                                        <label>Messages </label>
                                        <select chosen
                                                ng-model="data.messageId"
                                                ng-options="message.id as message.content for message in messages">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="modal-footer">
                <button class="btn btn-success" ng-click="save()" style="float:right">
                    <span>Save</span>
                </button>
            </div>
        </div>
    </div>
</div>
