<div class="page" ng-controller="incidentTypesEditCtrl">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> New Incident Type </strong></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <form role="form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name<span class="required-custom"> *</span></label>
                            <input id="name" type="text" ng-model="data.name" class="form-control" id="exampleInputEmail1" required placeholder="Type Name">
                        </div>
                         <div class="form-group">
                            <label> Available CheckLists: </label>
                            <select chosen
                                      multiple
                                      class="form-control"
                                      data-placeholder-text-multiple="'Select CheckLists'"
                                      ng-model="data.checkLists"
                                      ng-options="activityTask.id as activityTask.name for activityTask in check_lists"
                                      >
                                      <option value=""></option>
                            </select>
                        </div>

                        <div class="form-group content">
                            <label for="exampleInputEmail1">Dashboard Categories</label>
                            <a ng-click="createCategory()" class="btn btn-success pull-right">Create new category</a>
                            <table class="table table-bordered table-striped table-responsive">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" ng-model="allchecked" ng-click="all()"></th>
                                        <th >  <div class="th">
                                            Name
                                            <a      href=""
                                            class="fa fa-angle-up"
                                            style="text-decoration: none;"
                                            data-ng-click=" order('name') "
                                            data-ng-class="{active: row == 'name'}">
                                          </a>
                                          <a      href=""
                                            style="text-decoration: none;"
                                            class="fa fa-angle-down"
                                            data-ng-click=" order('-name') "
                                            data-ng-class="{active: row == '-name'}">
                                          </a>
                                          </div></th>
                                        <th ><div class="th">
                                            Position
                                            <a      href=""
                                            class="fa fa-angle-up"
                                            style="text-decoration: none;"
                                            data-ng-click=" order('position') "
                                            data-ng-class="{active: row == 'position'}">
                                          </a>
                                          <a      href=""
                                            style="text-decoration: none;"
                                            class="fa fa-angle-down"
                                            data-ng-click=" order('-position') "
                                            data-ng-class="{active: row == '-position'}">
                                          </a>
                                          </div></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="usr in categories">
                                        <td>
                                            <input type="checkbox" ng-model="usr.checked" ng-click="uncheck(usr)">
                                        </td>
                                        <td>{{usr.name}}</td>
                                        <td><select
                                                chosen
                                                class="form-control"
                                                ng-model="usr.position"
                                                data-placeholder-text-single="'Select Position'"
                                                ng-options="x for x in posArr"
                                                ng-change="setPosition(usr)">
                                            </select></td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>

                        <div class="pull-right">
                            <a href="/#/settings/incident-types" class="btn btn-info">Cancel</a>
                            <button ng-click="save(name)" type="submit" class="btn btn-success">Save</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
</div>
