<div class="page page-dashboard" ng-controller="planningDashboardV2Ctrl">
	<div ng-show="layout1">
		<nav class="navbar navbar-default navbar-white">
			<div class="container-fluid center-text">
				<!-- Brand and toggle get grouped for better mobile display -->

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav float-left">

						<li>
							<button ng-click="createActionPlan()" class="btn btn-sm btn-raised btn-default" title="New Action Plan" role="button" aria-haspopup="true" aria-expanded="false" style="margin-right: 10px;">
								<i class="glyphicon glyphicon-plus"></i> Action Plan
							</button>
						</li>
						<li>
							<button ng-click="createActionPlanCopy()" class="btn btn-sm btn-raised btn-default" title="New Action Plan" role="button" aria-haspopup="true" aria-expanded="false" style="margin-right: 10px;">
								<i class="glyphicon glyphicon-plus"></i> Action Plan Copy
							</button>
						</li>
						<li class="dropdown" style="width: 250px;">
							<a class="dropdown-toggle navbar-dashboard-dropdown dropin" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >
								<span ng-hide="actionPlan" ng-model="selectIncident">Select Action Plan</span>
								<span ng-show="actionPlan">{{actionPlan.name}} </span>
								<span class="caret" style="float: right;margin-top: 8px;"></span>
							</a>
							<ul class="dropdown-menu dashboard-dropdown">
								<li role="presentation" ng-repeat="record in action_plans_lookup">
									<a class="dropdown-cursor" role="menuitem" ng-click="changeActionPlan(record.id)"> {{record.name}}</a>
								</li>
							</ul>
						</li>
						<li>
							<button class="btn btn-sm btn-raised btn-default"  data-toggle="dropdown" title="New Section" role="button" aria-haspopup="true" aria-expanded="false" style="margin-right: 10px;">
								<i class="glyphicon glyphicon-plus"></i> Section
							</button>
							<ul class="dropdown-menu popup">
								<form ng-submit="createSection(sectionName)">
									<li role="presentation">
										<input type="text" class="form-control" placeholder="Section Name" ng-model="sectionName">
									</li>
									<li role="presentation" style="margin-top:5px;">
										<div class="pull-right">
											<button type="button" class="btn btn-sm btn-info" ng-click="closeCategoryForm()" title="Cancel" aria-label="Cancel">
												<span class="glyphicon glyphicon-remove"></span> Cancel
											</button>
											<button type="submit" class="btn btn-sm btn-success" title="Submit" aria-label="Submit">
												<span class="glyphicon glyphicon-ok"></span> Save
											</button>
										</div>
									</li>
								</form>
							</ul>
						</li>
						<li class="hide-layout">
							<div class="btn-group hide-layout" data-toggle="buttons">
								<label class="btn btn-sm btn-raised btn-default" ng-click="layout.page='grid'">
									<input type="radio"  name="lunch" ng-model="layout.page" ng-value="grid">
									<i class="ti-layout-grid3"></i>
								</label>
								<label class="btn btn-sm btn-raised btn-default active" ng-click="layout.page='flat'">
									<input 	type="radio"
									name="lunch"
									ng-model="layout.page"
									ng-value="flat"
									checked> <i class="ti-layout-column3"></i>
								</label>
							</div>
						</li>

						<li>
							<button class="btn btn-sm btn-raised btn-default" ng-click="toggleQuestionnaire()">
								<span ng-show="layout.questionnaire" title="Hide Questionnaire">
									<span class="fa fa-bars"></span>
								</span>
								<span ng-show="!layout.questionnaire" title="Show Questionnaire">
									<span class="fa fa-bars"></span>
								</span>
								<!-- <span class="badge" ng-show="taskList.length > 0">{{taskList.length}}</span> -->
							</button>
						</li>
						<li>
							<button class="btn btn-sm btn-raised btn-default" ng-click="toggleTaskList()">
								<span ng-show="layout.taskList" title="Hide Messages">
									<span class="glyphicon glyphicon-tasks"></span>
								</span>
								<span ng-show="!layout.taskList" title="Show Messages">
									<span class="glyphicon glyphicon-tasks"></span>
								</span>
								<span class="badge" ng-show="taskList.length > 0">{{taskList.length}}</span>
							</button>
						</li>
					</ul>
					<ul class="nav nav-list navbar-nav float-right">
						<li>
							<button ng-click="changeLayout()" style="padding: 0px; padding-top: 3px; padding-right: 5px;" class="btn btn-primary" title="Action Plan Dashboard">
								toggle layout
								<!-- <i class="material-icons">check_circle</i> -->
							</button>
						</li>
						<li class="divider hide-layout" style="width:5px"></li>

					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<div class="container-fluid center-text" ng-show="showTimeline">
				<div>
					<rzslider rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
				</div>
			</div>
			<!-- /.container-fluid -->
		</nav>

		<div class="row" style="margin-bottom: 10px;">
			<div class="col-md-12">
				<div class="input-group">
					<input type="text" class="form-control input-sm" style="border-radius: 3px 0 0 3px;" placeholder="Search task..." ng-model="query">
					<span class="input-group-btn">
						<button class="btn btn-sm btn-raised btn-default" ><i class="fa fa-search fa-fwearch"></i></button>
					</span>
				</div>
				<!-- /input-group -->
			</div>
			<!-- /.col-lg-6 -->
		</div>

		<div class="incoming col-lg-3 col-md-12 col-sm-12 col-xs-12" ng-show="layout.questionnaire && actionPlan.kind == 'activities'">
			<div class="panel panel-default" style="width: 310px;" ng-show = "actionPlan.kind == 'activities'">
				<div class="panel-heading clearfix">
					<strong class="pull-left"><span class="fa fa-bars"></span> Questionnaire</strong>

					<button class="btn btn-sm btn-raised pull-right btn-default" ng-click="addNewQuestionnaire()" title="Checklist Menu" style="margin-top: -3px;">
						<i class="glyphicon glyphicon-plus"></i>
					</button>
				</div>
				<div style="height:400px; padding: 2px 0px; overflow-y:scroll; overflow-x: hidden;">
					<section>
						<div class="panel-body">
							<ul style="width:100%;min-height:30px;float:left" class="classlist list-group">
								<li class="item" ng-repeat="item in questionnaires | filter:query">
									<div style="width:100%;">
										<div class="row" style="margin:0">
											<div ng-click="fillUpForm(item)" class="col-xs-1 questionnaire" ng-style="{'background-color': item.selectedColor}">
												<span class="ti-pencil">
												</span>
											</div>
											<div class="col-xs-11 " style="padding-left:5px; background-color: #f4f4f4;">
												<div class="row left-padding">
													<div class="col-xs-12 item-text" style="padding: 2px 8px 0px 0px;">
														<span class="pull-left" title="{{item.name}}">
															<pre>{{item.name}}</pre>
														</span>

													</div>
												</div>
											</div>
										</div>

									</div>
								</li>
							</ul>

						</div>
					</section>
				</div>
			</div>
<!-- 			<div ng-show = "actionPlan.kind == 'agendaPoints'">
				<div class="panel panel-default incommingMsg" ng-show = "action_lists.length">
					<div class="panel-heading clearfix">
						<strong ng-show = "action_lists.length" class="pull-left"><span class="glyphicon glyphicon-list"></span> Action List</strong>

						<button class="btn btn-sm btn-raised pull-right btn-default"
						ng-click="openChecklistMenu()"
						title="Checklist Menu"
						ng-show = "!action_lists.length"
						style="margin-top: -3px;">
							<i class="glyphicon glyphicon-plus"></i>
						</button>

						<button class="btn btn-sm btn-raised pull-right btn-default"
						ng-click="resetActionList(action_list.id)"
						title="Reset" confirm="Are you sure you want to reset?"
						style="margin-top: -3px;">
							<i class="glyphicon glyphicon-repeat"></i>
						</button>

						<button class="btn btn-sm btn-raised pull-right btn-default"
						ng-click="openActionListModal()"
						title="Zoom Action List Menu"
						style="margin-top: -3px;">
							<i class="glyphicon glyphicon-zoom-in"></i>
						</button>
					</div>
					<div style="padding: 5px 7px 6px 5px; overflow-y:scroll; overflow-x: hidden;" data-as-sortable="DragOptionsActionList"
						data-ng-model="action_list.actions" class="right-panel-holder">
						<ul style="width:100%;min-height:30px;float:left" class="classlist list-group">

							<li class="list-group-item item msg" style="margin-bottom:5px;" data-as-sortable-item ng-repeat="item in action_list.actions | filter:query | orderBy:item.index"  id={{item.id}}>
								<div>
									<div class="row" style="margin:0">
										<div class="col-xs-1 handle" data-as-sortable-item-handle ng-style="{'background-color': item.selectedColor}">
											<span class="ti-move"></span>
										</div>
										<div class="col-xs-11 " style="padding-left:5px; background-color: #f4f4f4;">
											<form ng-submit="updateAction(item, action_list)">
												<div class="row left-padding">
													<div class="col-xs-12 item-text" ng-dblclick="enableEdit(item)" style="padding: 2px 8px 0px 0px;">
														<span ng-show="item.edit" class="">
															<textarea rows="1"
															class="form-control"
															msd-elastic
															ng-model="item.name"
															ng-textarea-enter="updateMessage(item)">
															</textarea>
														</span>
														<span ng-hide="item.edit" title="{{item.name}}">
															<pre ng-style="messagesStyle">{{item.name }}</pre>
														</span>
													</div>
												</div>
												<div class="row left-padding" ng-show="item.edit" style="margin: 0px -3px 5px 4px;">
													<div class="row item-info col-md-12" ng-show="item.edit" style="margin-bottom: 5px">
														<input type="date" ng-model = "item.dueDate" class="form-control">
													</div>
													<div class="row item-info col-md-12" ng-show="item.edit" style="margin-bottom: 5px">
														<a href="javascript:void(0)" ng-click="ChangeUserForActionModal(item, action_list)">
															<span ng-show = "item.user">
																{{item.user.firstName}}
															</span>
															<span ng-hide = "item.user">
																Assign User
															</span>
														</a>
													</div>
													<div class="row item-info" ng-show="item.edit" style="margin-bottom: 5px">
														<div class="col-md-12">
															<div class="color_divs"
															ng-repeat="c in colorPalettes"
															ng-style="{'background-color': c.color}"
															ng-click="changeColorForAction(item, action_list, c.color)">
															</div>

															<button type="button" class="btn btn-xs btn-default" ng-click="changeColorForAction(item, action_list, '')" title="Delete" style="margin-top: 0px;">
																<span class="glyphicon glyphicon-refresh">
																</span>
															</button>
														</div>
													</div>

													<div class="col-xs-8" style="padding-right:0">
														<button type="submit" class="btn btn-xs btn-primary" title="Submit" aria-label="Submit">
															<span class="glyphicon glyphicon-ok"></span>
														</button>
															<button type="button" class="btn btn-xs btn-danger" ng-click="deleteAction(item, action_list,$index)" title="Delete">
																<span class="glyphicon glyphicon-trash">
															</span>
														</button>
														<button type="button" class="btn btn-xs btn-default " ng-click="disableEdit(item)" title="Cancel" aria-label="Cancel">
															<span class="glyphicon glyphicon-remove"></span>
														</button>
													</div>
												</div>
												<div class="row item-info left-padding" ng-hide="item.edit">
													<div class="col-md-5 nopadding">
														{{item.user.firstName}}
													</div>
													<div class="col-md-7 text-right time">
														<span ng-show = "item.dueDate">
															{{actionDueDateFormat(item.dueDate)}}
														</span>
														<span ng-hide = "item.dueDate">
															No Due Date Selected
														</span>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</li>
							<span ng-show = "!action_list.actions.length" class="no_action_list">
								No Actions Available
							</span>
						</ul>
					</div>

					<div class="panel-footer">
						<form class="form" role="form">
							<div class="input-group">
								<input style="resize:vertical" maxlength="255" rows="1" class="form-control" ng-model="taskAction" msd-elastic ng-textarea-enter="AddAction(msg)">
								<span class="input-group-btn" style="vertical-align: bottom;">
									<button class="btn btn-sm btn-raised btn-default"
									ng-click="AddAction(taskAction)">
										<i class="glyphicon glyphicon-send"></i>
									</button>
								</span>
							</div>
						</form>
						<div class="message-length-warning" ng-class="{'red-text': msg.length >= 255}">
							<span>
								{{msg.length || 0}} / 255 Characters
							</span>
						</div>
					</div>
				</div>
				<div ng-show = "!action_lists.length" class="no_action_list">
					<div class="clearfix text-center">
						<p>No Action List Present</p>
						<button class="btn btn-sm btn-raised btn-default"
						ng-click="addActionList()"
						title="Checklist Menu"
						ng-show = "action_lists.length == 0"
						style="margin-top: 10px;">
							Add Action List <i class="glyphicon glyphicon-plus"></i>
						</button>
					</div>
				</div>
			</div> -->
		</div>
		
		<div class="row box-border" style="position: relative;">
			<div ng-class="toggleTaskListSection()" class="col-lg-9 col-sm-12 col-xs-12 no-brd-right-lg">
				<div ng-show = "actionPlan.kind == 'activities'" class="category-background">
					<p class="incident-para" ng-hide="sections.length > 0">Please Add some Category</p>
					<p ng-hide="AllCategoryExist()" class="watermark-text-medium" style="color: #DDDDDD">
						No Category Present
					</p>
					<div ng-class="{outer: layout.page=='flat'}">
						<ul class="classes" ng-class="toggleInformationZoom()">
							<li id="category_{{$index}}" class="column"  no-drag="!class.edit" ng-repeat="section in sections">
								<div class="dragMsg">
									<div id="section_{{section.id}}" class="panel panel-default">
										<div class="panel-heading" ng-style="{'background-color' : accountSettings.category_header}" ng-dblclick="class.edit=true">
											<span ng-dblclick="editSection(section)" ng-hide="class.edit" ng-attr-title="{{section.name}}" class="editable editable-click">
												{{section.name | displayString: 24}}
											</span>

											<i ng-if = "!section.default" confirm = "Are you sure you want to delete?" ng-click="deleteSection(section,$index)" style="margin-top: 7px;" class="fa fa-times text-danger pull-right small-btn"></i>



											<a class="zoom-in pull-right" ng-click="viewSection(section)">
												<i class="fa fa-search-plus" aria-hidden="true"></i>
											</a>
											<form class="form-inline" ng-submit="updateSection(section,$index)" ng-show="class.edit">
												<div class="editable-controls form-group" ng-class="{'has-error': $error}">
													<input type="text" ng-click="$event.stopPropagation()" ng-model="section.name" class="form-control input-sm">
													<input type="number" ng-click="$event.stopPropagation()" ng-model="section.index" class="form-control input-sm">
													<span class="editable-button">

														<button type="submit" title="Update" class="btn btn-primary btn-sm btn-raised" aria-label="Submit">
															<span class="glyphicon glyphicon-ok">
															</span>
														</button>
														<button type="button" class="btn btn-default btn-sm btn-raised" ng-click="class.edit=false" title="Cancel" aria-label="Cancel">
															<span class="glyphicon glyphicon-remove">
															</span>
														</button>
														<button ng-if="!section.default" type="button" class="btn btn-sm btn-danger btn-raised" title="Delete Section" confirm="Are you sure you want to delete?" ng-click="deleteSection(section, $index)">
															<span class="glyphicon glyphicon-trash"></span>
														</button>
													</span>
												</div>
											</form>
										</div>
										<div class="panel-body" data-as-sortable="DragOptionsSection" id="{{section.id}}" data-ng-model="section.plan_activities">

											<ul style="width:100%;min-height:30px;float:left" class="classlist list-group">

												<!-- ############################## -->
												<li class="item" ng-dblclick="editActivity(item.activity,$index)" ng-repeat="item in section.plan_activities  | filter:query" data-as-sortable-item >
													<div style="width:100%;">
														<div class="row" style="margin:0">
															<div class="col-xs-1 handle" data-as-sortable-item-handle id={{item.id}} ng-style="{'background-color': item.selectedColor}">
																<span class="ti-move">
																</span>
															</div>
															<div class="col-xs-11 " style="padding-left:5px; background-color: #f4f4f4;">
																<form ng-submit="updateMessage(item, class)">
																	<div class="row left-padding">
																		<div class="col-xs-12 item-text" style="padding: 2px 8px 0px 0px;">
																			<span ng-show="item.edit" class="">
																				<textarea rows="1" class="form-control" msd-elastic ng-model="item.title" ng-textarea-enter="updateMessage(item)">
																				</textarea>
																			</span>
																			<span class="pull-left" title="{{item.activity.task_list.title}}">
																				<pre>{{item.activity.task_list.title | displayString: 22}}</pre>
																			</span>

																			<i ng-click="deleteActivity(item.activity,section,$index)" style="margin-top: 7px;" class="fa fa-times text-danger pull-right small-btn"></i>
																			<i ng-click="taskInfo(item.activity.task_list)" style="margin-top: 7px;" class="fa fa-info-circle pull-right small-btn"> |</i>
																		</div>
																	</div>
																</form>
															</div>
														</div>

													</div>
												</li>
											</ul>
										</div>
										<div class="panel-footer">
											<form class="form" role="form">
												<div class="input-group">
													<input style="resize:vertical" maxlength="255" rows="1" class="form-control" ng-model="msg" msd-elastic ng-textarea-enter="addActivityInSection(msg,section)">
													<span class="input-group-btn" style="vertical-align: bottom;">
														<button class="btn btn-sm btn-raised btn-default" ng-click="addActivityInSection(msg,section)">
															<i class="glyphicon glyphicon-send"></i>
														</button>
													</span>
												</div>
											</form>
											<div class="message-length-warning" ng-class="{'red-text': msg.length >= 255}">
												<span>
													{{msg.length || 0}} / 255 Characters
												</span>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>

				<div ng-show = "actionPlan.kind == 'agendaPoints'" class=" planning-dashboard-agenda-list">
					<div ng-repeat = "(indexxx,category) in actionPlan.categories" >
			            <label class="agenda-activity-label clearfix">
			                <span class="pull-left">
			                    {{category.name}}
			                </span>
			                <button class="btn btn-sm pull-right" ng-click="addIncidentAgendaPoint(category,$index)">
			                    <i class="glyphicon glyphicon-plus pull-right"></i>
			                </button>
			            </label>
			            <div id="category_{{$index}}" no-drag="!class.edit" ng-repeat="agendapoint in category.agendaPoints | filter:query">
			                <uib-accordion close-others="true">
			                    <div uib-accordion-group class="panel-default" is-open="false">
			                        <uib-accordion-heading>
			                            <i class=" glyphicon" ng-class="{'glyphicon-chevron-down': expand, 'glyphicon-chevron-right': !expand}"></i>
			                            {{agendapoint.name | displayString: 100}} 
			                            <div class="accordian-actions-btns">
			                                <a ng-click="removeIncidentAgendaActivities(agendapoint,indexxx,$index,$event)" class="btn btn-danger btn-sm pull-right incident_activity_task">
			                                    <span class="fa fa-remove" title="Delete task"></span>
			                                </a>
			                                <a ng-click="addIncidentAgendaActivities(agendapoint,indexxx,$index,$event)" class="btn btn-sm btn-primary pull-right incident_activity_task">
			                                    <span class="fa fa-link" title="Link Task"></span>
			                                </a>
			                            </div>
			                        </uib-accordion-heading>

			                        <div class="panel-body">
			                            <div data-as-sortable="DragOptionsAgendaActivity" id={{agendapoint.id}} data-ng-model="agendapoint.agenda_activities" class="panel-body" >
			                            <div class="row" style="display: block;">
			                                <div class="col-md-12">
			                                    <div class="table-responsive">
			                                        <table st-table="activities" st-safe-src="safeActivities" class="table table-striped table-condensed table-activities"
			                                        >
			                                             <thead>
			                                                <tr>
			                                                    <th></th>
			                                                    <th>Checklist Item</th>
			                                                    <th>Responsibility</th>
			                                                    <th></th>
			                                                    <th>Role</th>
			                                                    <th>Actor</th>
			                                                    <th>Status</th>
			                                                    <th>Action</th>
			                                                </tr>
			                                                <!-- <th class="apd-group-select">
			                                                </th> -->
			                                            </thead>
			                                            <tbody class="list-group agenda-table">
					                                     	<tr ng-repeat="activity in agendapoint.agenda_activities" data-as-sortable-item >

			                                                    <td>
			                                                        <div class="col-xs-1 handle" data-as-sortable-item-handle
			                                                            style="margin-top: 10px;">
			                                                            <span class="ti-move">
			                                                            </span>
			                                                        </div>
			                                                    </td>
			                                                    <td>
			                                                        <button class="btn btn-default btn-sm btn-style-text" title="{{activity.name}}" ng-click="taskInfo(activity)">
			                                                            <span>{{activity.name || activity.activity.task_list.title}}</span>
			                                                        </button>
			                                                    </td>

			                                                    <td>{{activity.responsibility_level}}</td>

			                                                    <td style="line-height: 27px;">
			                                                        <switcher class="styled" ng-model="activity.activated" ng-change="updateAgendaActivityActivation(activity)" true-label="" false-label=""
			                                                            title="{{activity.activatedAt | date:'HH:mm dd-MM-yyyy' }}" data-toggle="tooltip" data-placement="bottom"
			                                                            tooltip>
			                                                        </switcher>
			                                                    </td>

			                                                    <td>
			                                                        {{displayActivityProperty(activity.role)}} - {{displayActivityProperty(activity.department)}}
			                                                        <br> {{displayActivityProperty(activity.organization)}}
			                                                    </td>
			                                                    <td>
			                                                        <a href="" ng-click="showAgendaUserModal(activity)" style="text-decoration: none; color:#626262">
			                                                            <div>
			                                                                <img ng-src="{{userStatusImg(activity.response_actor)}}" class="img30_30" alt="No Image" />
			                                                            </div>
			                                                            {{displayActorName(activity.response_actor)}}
			                                                        </a>
			                                                    </td>
			                                                    <td ng-class="satusClass(activity.status)">
			                                                        <button class="btn status-btn" ng-click="updateActivityStatus(activity)" title="{{activity.statusAt | date:'HH:mm dd-MM-yyyy' }}"
			                                                            data-toggle="tooltip" data-placement="bottom" tooltip>
			                                                            <span>
			                                                                {{getStatusName(activity.status)}}
			                                                            </span>
			                                                        </button>
			                                                    </td>
			                                                    <td>
			                                                        <button class="btn btn-sm btn-info" ng-click="editAgendaActivity(activity,indexxx, $parent.$index,$index)" title="Edit Task">
			                                                            <span class="glyphicon glyphicon-edit"></span>
			                                                        </button>
			                                                        <button class="btn btn-sm btn-danger" confirm="Are you sure you want to delete?" ng-click="deleteAgendaActivity(activity, indexxx, $parent.$index,$index)">
			                                                            <span class="glyphicon glyphicon-remove-sign"></span>
			                                                        </button>
			                                                    </td>
			                                                </tr>

			                                            </tbody>
			                                        </table>
			                                    </div>
			                                </div>
			                            </div>
			                            <div ng-hide="agendapoint.agenda_activities.length" class="watermark-text-medium" style="position: relative; font-size: 30px; margin-top: 20px;">
			                                <p>No activity present.</p>
			                            </div>
			                            <div class="clearfix">
			                            </div>
			                            </div>
			                        </div>
			                    </div>
			                </uib-accordion>
			            </div>
			        </div>
				</div>

			</div>
			<div class="incoming col-lg-3 col-md-12 col-sm-12 col-xs-12" ng-hide="!layout.taskList">
				<div class="panel panel-default incommingMsg">
					<div class="panel-heading">
						<strong><span class="glyphicon glyphicon-tasks"></span> Task library</strong>
						<select chosen class="form-control" style="width:100%;" data-placeholder-text-single="'Select Category'" ng-model="taskCategory" ng-options="cat.id as cat.name for cat in categories" ng-change="applyCategoryFilter()">
						</select>
					</div>
					<div style="padding: 5px 7px 6px 5px; overflow-y:scroll; overflow-x: hidden;" data-as-sortable="DragOptionsTaskList" data-ng-model="taskList" class="right-panel-holder">

						<ul style="width:100%;min-height:30px;float:left" class="classlist list-group">

							<li class="list-group-item item msg" style="margin-bottom:5px;" data-as-sortable-item ng-repeat="item in taskList | filter:query | orderBy:item.index" >

								<div>
									<div class="row" style="margin:0">
										<div class="col-xs-1 handle" data-as-sortable-item-handle>
											<span class="ti-move"></span>
										</div>
										<div class="col-xs-11" style="padding-left:5px; background-color: #f4f4f4;">
											<div class="row left-padding">
												<div class="col-xs-12 item-text" style="padding: 2px 8px 0px 0px;">
													<span ng-hide="item.edit" title="{{item.message}}">
														<pre>{{item.title }}</pre>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="panel-footer">
						<form class="form" role="form">
							<div class="input-group">
								<input style="resize:vertical" maxlength="255" rows="1" class="form-control" ng-model="task" msd-elastic ng-textarea-enter="saveTask(task)">
								<span class="input-group-btn" style="vertical-align: bottom;">
									<button class="btn btn-sm btn-raised btn-default" ng-click="saveTask(task)">
										<i class="glyphicon glyphicon-send"></i>
									</button>
								</span>
							</div>
						</form>
						<div class="message-length-warning" ng-class="{'red-text': msg.length >= 255}">
							<span>
								{{msg.length || 0}} / 255 Characters
							</span>
						</div>
					</div>
				</div>

				<iframe class="shim-iframe" frameborder="0" scrolling="no"></iframe>
			</div>
		</div>
		
	</div>
	<div ng-show="!layout1">
		<nav class="navbar navbar-default navbar-white">
			<div class="container-fluid center-text">
				<!-- Brand and toggle get grouped for better mobile display -->

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav float-left">

						<li>
							<button ng-click="createActionPlan()" class="btn btn-sm btn-raised btn-default" title="New Action Plan" role="button" aria-haspopup="true" aria-expanded="false" style="margin-right: 10px;">
								<i class="glyphicon glyphicon-plus"></i> Action Plan
							</button>
						</li>
						<li class="dropdown" style="width: 250px;" ng-show = "!layout1 && actionPlan.kind == 'agendaPoints'">
							<a class="dropdown-toggle navbar-dashboard-dropdown dropin" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >
								<span ng-hide="selectedCategory" ng-model="selectIncident">Select Category</span>
								<span ng-show="selectedCategory">{{selectedCategory.name}} </span>
								<span class="caret" style="float: right;margin-top: 8px;"></span>
							</a>
							<ul class="dropdown-menu dashboard-dropdown">
								<li role="presentation" ng-repeat="record in categories">
									<a class="dropdown-cursor" role="menuitem" ng-click="changeCategory(record)"> {{record.name}}</a>
								</li>
							</ul>
						</li>
						<li>
							<button class="btn btn-sm btn-raised btn-default"  data-toggle="dropdown" title="New Section" role="button" aria-haspopup="true" aria-expanded="false" style="margin-right: 10px;">
								<i class="glyphicon glyphicon-plus"></i> Category
							</button>
							<ul class="dropdown-menu popup">
								<form ng-submit="addCategory(sectionName)">
									<li role="presentation">
										<input type="text" class="form-control" placeholder="Category Name" required ng-model="categoryName">
									</li>
									<li role="presentation" style="margin-top:5px;">
										<div class="pull-right">
											<button type="button" class="btn btn-sm btn-info" ng-click="closeCategoryForm()" title="Cancel" aria-label="Cancel">
												<span class="glyphicon glyphicon-remove"></span> Cancel
											</button>
											<button type="submit" class="btn btn-sm btn-success" title="Submit" aria-label="Submit">
												<span class="glyphicon glyphicon-ok"></span> Save
											</button>
										</div>
									</li>
								</form>
							</ul>
						</li>
						<li class="hide-layout">
							<div class="btn-group hide-layout" data-toggle="buttons">
								<label class="btn btn-sm btn-raised btn-default" ng-click="layout.page='grid'">
									<input type="radio"  name="lunch" ng-model="layout.page" ng-value="grid">
									<i class="ti-layout-grid3"></i>
								</label>
								<label class="btn btn-sm btn-raised btn-default active" ng-click="layout.page='flat'">
									<input 	type="radio" name="lunch" ng-model="layout.page" ng-value="flat" checked> <i class="ti-layout-column3"></i>
								</label>
							</div>
						</li>
						<li>
							<button class="btn btn-sm btn-raised btn-default" ng-click="toggleQuestionnaire()">
								<span ng-show="layout.questionnaire" title="Hide Questionnaire">
									<span class="fa fa-bars"></span>
								</span>
								<span ng-show="!layout.questionnaire" title="Show Questionnaire">
									<span class="fa fa-bars"></span>
								</span>
								<!-- <span class="badge" ng-show="taskList.length > 0">{{taskList.length}}</span> -->
							</button>
						</li>
						<li>
							<button class="btn btn-sm btn-raised btn-default" ng-click="toggleTaskList()">
								<span ng-show="layout.taskList" title="Hide Messages">
									<span class="glyphicon glyphicon-tasks"></span>
								</span>
								<span ng-show="!layout.taskList" title="Show Messages">
									<span class="glyphicon glyphicon-tasks"></span>
								</span>
								<span class="badge" ng-show="planActivities.length > 0">{{planActivities.length}}</span>
							</button>
						</li>
					</ul>
					<ul class="nav nav-list navbar-nav float-right">
						<li>
							<button ng-click="changeLayout()" style="padding: 0px; padding-top: 3px; padding-right: 5px;" class="btn btn-primary" title="Toggle Layout">
								toggle layout
								<!-- <i class="material-icons">check_circle</i> -->
							</button>
						</li>
						<li class="divider hide-layout" style="width:5px"></li>

					</ul>
				</div>
<!-- /.navbar-collapse -->
			</div>
			<div class="container-fluid center-text" ng-show="showTimeline">
				<div>
					<rzslider rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
				</div>
			</div>
<!-- /.container-fluid -->
</nav>

<div class="row" style="margin-bottom: 10px;">
	<div class="col-md-12">
		<div class="input-group">
			<input type="text" class="form-control input-sm" style="border-radius: 3px 0 0 3px;" placeholder="Search task..." ng-model="query">
			<span class="input-group-btn">
				<button class="btn btn-sm btn-raised btn-default" ><i class="fa fa-search fa-fwearch"></i></button>
			</span>
		</div>
		<!-- /input-group -->
	</div>
	<!-- /.col-lg-6 -->
</div>


<div class="incoming col-lg-3 col-md-12 col-sm-12 col-xs-12" ng-hide="!layout.questionnaire ">
	<div class="panel panel-default" style="width: 310px;">
		<div class="panel-heading clearfix">
			<strong class="pull-left"><span class="fa fa-bars"></span> Agenda Points </strong>
		</div>
		<div style="padding: 5px 7px 6px 5px; overflow-y:scroll; overflow-x: hidden;" data-as-sortable="DragOptionsAgendaPoint" data-ng-model="agenda_points" class="right-panel-holder">

			<ul style="width:100%;min-height:30px;float:left" class="classlist list-group">

				<li class="list-group-item item msg" style="margin-bottom:5px;" data-as-sortable-item ng-repeat="item in agenda_points  | filter: filterFromCat " >

					<div>
						<div class="row" style="margin:0">
							<div class="col-xs-1 handle" data-as-sortable-item-handle>
								<span class="ti-move"></span>
							</div>
							<div class="col-xs-11" style="padding-left:5px; background-color: #f4f4f4;">
								<div class="row left-padding">
									<div class="col-xs-12 item-text" style="padding: 2px 8px 0px 0px;">
										<span ng-hide="item.edit" title="{{item.name}}">
											<pre>{{item.name }}</pre>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="panel-footer">
			<form class="form" role="form">
				<div class="input-group">
					<input style="resize:vertical" maxlength="255" rows="1" class="form-control" ng-model="agendaPoint" msd-elastic ng-textarea-enter="saveAgendaPoint(agendaPoint)">
					<span class="input-group-btn" style="vertical-align: bottom;">
						<button class="btn btn-sm btn-raised btn-default" ng-click="saveAgendaPoint(agendaPoint)">
							<i class="glyphicon glyphicon-send"></i>
						</button>
					</span>
				</div>
			</form>
			<div class="message-length-warning" ng-class="{'red-text': agendaPoint.length >= 255}">
				<span>
					{{agendaPoint.length || 0}} / 255 Characters
				</span>
			</div>
		</div>
	</div>
</div>










<div class="row box-border" style="position: relative;">
	<div ng-class="toggleTaskListSection()" class="col-lg-9 col-sm-12 col-xs-12 no-brd-right-lg">
		<div class="category-background" ng-show = "!layout1 && actionPlan.kind == 'activities'">
			<p class="incident-para" ng-hide="categoriesWithTask.length > 0">Please Add some Category</p>
			<p ng-hide="AllCategoryExist()" class="watermark-text-medium" style="color: #DDDDDD">
				No Category Present
			</p>
			<div ng-class="{outer: layout.page=='flat'}">
				<ul class="classes" ng-class="toggleInformationZoom()">
					<li id="category_{{$index}}" class="column"  no-drag="!class.edit" ng-repeat="category in categoriesWithTask">
						<div class="dragMsg">
							<div id="category_{{category.id}}" class="panel panel-default">
								<div class="panel-heading" ng-style="{'background-color' : accountSettings.category_header}" ng-dblclick="class.edit=true">
									<span ng-dblclick="editSection(category)" ng-hide="class.edit" ng-attr-title="{{category.name}}" class="editable editable-click">
										{{category.name | displayString: 20}}
									</span>
									<a class="zoom-in pull-right" ng-click="viewCategory(category)">
										<i class="fa fa-search-plus" aria-hidden="true"></i>
									</a>
									<form class="form-inline" ng-submit="updateCategory(category,$index)" ng-show="class.edit">
										<div class="editable-controls form-group" ng-class="{'has-error': $error}">
											<input type="text" ng-click="$event.stopPropagation()" ng-model="category.name" class="form-control input-sm">
											<input type="number" ng-click="$event.stopPropagation()" ng-model="category.index" class="form-control input-sm">
											<span class="editable-button">

												<button type="submit" title="Update" class="btn btn-primary btn-sm btn-raised" aria-label="Submit">
													<span class="glyphicon glyphicon-ok">
													</span>
												</button>
												<button type="button" class="btn btn-default btn-sm btn-raised" ng-click="cancelEditSection(category)" title="Cancel" aria-label="Cancel">
													<span class="glyphicon glyphicon-remove">
													</span>
												</button>
												<button type="button" class="btn btn-sm btn-danger btn-raised" title="Delete Category" confirm="Are you sure you want to delete?" ng-click="deleteCategory(category, $index)">
													<span class="glyphicon glyphicon-trash"></span>
												</button>
											</span>
										</div>
									</form>
								</div>
								<div class="panel-body" data-as-sortable="DragOptionsCategory" id="{{category.id}}" data-ng-model="category.task_lists">

									<ul style="width:100%;min-height:30px;float:left" class="classlist list-group">

										<!-- ############################## -->
										<li class="item" ng-repeat="item in category.task_lists  | filter:query" data-as-sortable-item>
											<div style="width:100%;">
												<div class="row" style="margin:0">
													<div class="col-xs-1 handle" data-as-sortable-item-handle id={{item.plan}} ng-style="{'background-color': item.selectedColor}">
														<span class="ti-move">
														</span>
													</div>
													<div class="col-xs-11 " style="padding-left:5px; background-color: #f4f4f4;">
														<div class="row left-padding">
															<div class="col-xs-12 item-text" style="padding: 2px 8px 0px 0px;">
																<span class="pull-left" title="{{item.title}}">
																	<pre>{{item.title}}</pre>
																</span>

															</div>
														</div>
													</div>
												</div>

											</div>
										</li>
									</ul>
								</div>
								<div class="panel-footer">
									<form class="form" role="form">
										<div class="input-group">
											<input style="resize:vertical" maxlength="255" rows="1" class="form-control" ng-model="categoryTask" msd-elastic ng-textarea-enter="saveTask(categoryTask,category.id,$index)">
											<span class="input-group-btn" style="vertical-align: bottom;">
												<button class="btn btn-sm btn-raised btn-default" ng-click="saveTask(categoryTask,category.id,$index)">
													<i class="glyphicon glyphicon-send"></i>
												</button>
											</span>
										</div>
									</form>
									<div class="message-length-warning" ng-class="{'red-text': categoryTask.length >= 255}">
										<span>
											{{categoryTask.length || 0}} / 255 Characters
										</span>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="category-background" ng-show = "!layout1 && actionPlan.kind == 'agendaPoints'">
			<p class="incident-para" ng-hide="agenda_points.length > 0">Please Add some AgendaPoint</p>
			<p ng-hide="AllCategoryExist()" class="watermark-text-medium" style="color: #DDDDDD">
				No Category Present
			</p>
			<div ng-class="{outer: layout.page=='flat'}">
				<ul class="classes" ng-class="toggleInformationZoom()">
					<li id="category_{{$index}}" class="column"  no-drag="!class.edit" ng-repeat="category in agenda_points | filter: filterFromCat">
						<div class="dragMsg">
							<div id="category_{{category.id}}" class="panel panel-default">
								<div class="panel-heading" ng-style="{'background-color' : accountSettings.category_header}" ng-dblclick="class.edit=true">
									<span ng-dblclick="editSection(category)" ng-hide="category.edit" ng-attr-title="{{category.name}}" class="editable editable-click">
										{{category.name | displayString: 20}}
									</span>
									<a class="zoom-in pull-right" ng-click="viewCategory(category)">
										<i class="fa fa-search-plus" aria-hidden="true"></i>
									</a>
									<form class="form-inline" ng-submit="updateCategory(category,$index)" ng-show="category.edit">
										<div class="editable-controls form-group" ng-class="{'has-error': $error}">
											<input type="text" ng-click="$event.stopPropagation()" ng-model="category.name" class="form-control input-sm">
											<input type="number" ng-click="$event.stopPropagation()" ng-model="category.index" class="form-control input-sm">
											<span class="editable-button">

												<button type="submit" title="Update" class="btn btn-primary btn-sm btn-raised" aria-label="Submit">
													<span class="glyphicon glyphicon-ok">
													</span>
												</button>
												<button type="button" class="btn btn-default btn-sm btn-raised" ng-click="closeEditSection(category)" title="Cancel" aria-label="Cancel">
													<span class="glyphicon glyphicon-remove">
													</span>
												</button>
												<!-- <button type="button" class="btn btn-sm btn-danger btn-raised" title="Delete Category" confirm="Are you sure you want to delete?" ng-click="deleteCategory(category, $index)">
													<span class="glyphicon glyphicon-trash"></span>
												</button> -->
											</span>
										</div>
									</form>
								</div>
								<div class="panel-body" data-as-sortable="DragOptionsCategory" id="{{category.id}}" data-ng-model="category.agenda_activities">

									<ul style="width:100%;min-height:30px;float:left" class="classlist list-group">

										<!-- ############################## -->
										<li class="item" ng-repeat="item in category.agenda_activities  | filter:query" data-as-sortable-item>
											<div style="width:100%;">
												<div class="row" style="margin:0">
													<div class="col-xs-1 handle" data-as-sortable-item-handle id={{item.plan}} ng-style="{'background-color': item.selectedColor}">
														<span class="ti-move">
														</span>
													</div>
													<div class="col-xs-11 " style="padding-left:5px; background-color: #f4f4f4;">
														<div class="row left-padding">
															<div class="col-xs-12 item-text" style="padding: 2px 8px 0px 0px;">
																<span class="pull-left" title="{{item.title}}">
																	<pre>{{item.activity.task_list.title}}</pre>
																</span>

															</div>
														</div>
													</div>
												</div>

											</div>
										</li>
									</ul>
								</div>
								<div class="panel-footer">
									<form class="form" role="form">
										<div class="input-group">
											<input style="resize:vertical" maxlength="255" rows="1" class="form-control removeActivity" ng-model="agendaActivity" msd-elastic ng-textarea-enter="saveAgendaTask(agendaActivity,category)">
											<span class="input-group-btn" style="vertical-align: bottom;">
												<button class="btn btn-sm btn-raised btn-default" ng-click="saveAgendaTask(agendaActivity,category)">
													<i class="glyphicon glyphicon-send"></i>
												</button>
											</span>
										</div>
									</form>
									<div class="message-length-warning" ng-class="{'red-text': agendaActivity.length >= 255}">
										<span>
											{{agendaActivity.length || 0}} / 255 Characters
										</span>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="incoming col-lg-3 col-md-12 col-sm-12 col-xs-12" ng-hide="!layout.taskList">
		<div class="panel panel-default incommingMsg">
			<div class="panel-heading">

				<strong><i class="fa fa-tasks"></i> Action Plan</strong>
				<select chosen class="form-control" style="width:100%;" data-placeholder-text-single="'Select Action Plan'" ng-model="actionPlanId" ng-options="plan.id as plan.name for plan in action_plans_lookup" ng-change="changeActionPlan(actionPlanId)">
				</select>
			</div>
			<div ng-show = "actionPlan.kind == 'activities'">
				<div style="padding: 5px 7px 6px 5px; overflow-y:scroll; overflow-x: hidden;" data-as-sortable="DragOptionsActionPlan" data-ng-model="planActivities" class="right-panel-holder">

					<ul style="width:100%;min-height:30px;float:left" class="classlist list-group">

						<li class="list-group-item item msg" style="margin-bottom:5px;" data-as-sortable-item ng-repeat="item in planActivities | filter:query | orderBy:item.index" >

							<div>
								<div class="row" style="margin:0">
									<div class="col-xs-1 handle" data-as-sortable-item-handle>
										<span class="ti-move"></span>
									</div>
									<div class="col-xs-11" style="padding-left:5px; background-color: #f4f4f4;">
										<div class="row left-padding">
											<div class="col-xs-12 item-text" style="padding: 2px 8px 0px 0px;">
												<span ng-hide="item.edit" title="{{item.message}}">
													<pre>{{item.title }}</pre>
													<!-- <i ng-click="deleteActivity(item.activity,section,$index)" style="margin-top: 7px;" class="fa fa-times text-danger pull-right small-btn"></i>
													<i ng-click="taskInfo(item.activity.task_list)" style="margin-top: 7px;" class="fa fa-info-circle pull-right small-btn"> |</i> -->
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="panel-footer">
					<form class="form" role="form">
						<div class="input-group">
							<input style="resize:vertical" maxlength="255" rows="1" class="form-control" ng-model="task" msd-elastic ng-textarea-enter="addActivityInSection(task)">
							<span class="input-group-btn" style="vertical-align: bottom;">
								<button class="btn btn-sm btn-raised btn-default" ng-click="addActivityInSection(task)">
									<i class="glyphicon glyphicon-send"></i>
								</button>
							</span>
						</div>
					</form>
					<div class="message-length-warning" ng-class="{'red-text': msg.length >= 255}">
						<span>
							{{msg.length || 0}} / 255 Characters
						</span>
					</div>
				</div>
			</div>

			<div ng-show = "actionPlan.kind == 'agendaPoints'">
				<div style="padding: 5px 7px 6px 5px; overflow-y:scroll; overflow-x: hidden;" data-as-sortable="DragOptionsActionPlanAgenda" data-ng-model="actionPlan.agendaPoints" class="right-panel-holder">

					<ul style="width:100%;min-height:30px;float:left" class="classlist list-group">

						<li class="list-group-item item msg" style="margin-bottom:5px;" data-as-sortable-item ng-repeat="item in actionPlan.agendaPoints | filter:query | orderBy:item.index" >

							<div>
								<div class="row" style="margin:0">
									<div class="col-xs-1 handle" data-as-sortable-item-handle>
										<span class="ti-move"></span>
									</div>
									<div class="col-xs-11" style="padding-left:5px; background-color: #f4f4f4;">
										<div class="row left-padding">
											<div class="col-xs-12 item-text" style="padding: 2px 8px 0px 0px;">
												<span ng-hide="item.edit" title="{{item.name}}">
													<pre>{{item.name }}</pre>
												
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="panel-footer">
					<form class="form" role="form">
						<div class="input-group">
							<input style="resize:vertical" maxlength="255" rows="1" class="form-control" ng-model="task" msd-elastic ng-textarea-enter="addActivityInSection(task)">
							<span class="input-group-btn" style="vertical-align: bottom;">
								<button class="btn btn-sm btn-raised btn-default" ng-click="addActivityInSection(task)">
									<i class="glyphicon glyphicon-send"></i>
								</button>
							</span>
						</div>
					</form>
					<div class="message-length-warning" ng-class="{'red-text': msg.length >= 255}">
						<span>
							{{msg.length || 0}} / 255 Characters
						</span>
					</div>
				</div>
			</div>


		</div>
		<iframe class="shim-iframe" frameborder="0" scrolling="no"></iframe>
	</div>
</div>
</div>
</div>
