<div class="modal fade" role="dialog">
    <div id="modal-dialog" class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" id="modal-header">
                <button type="button" class="close" confirm="All data will be lost, Proceed?" ng-click = "closeModal()">&times;</button>
                <h4 class="modal-title" id="modal-title">New Action Plan : {{data.name}}</h4>
            </div>
            <div class="modal-body modal_big_height">
                <div>
                    <button class="btn btn-info" ng-show="page1" ng-click="close()" data-dismiss="modal">Cancel</button>
                <button class="btn btn-success" ng-show="page1" ng-click="save(data, false)" style="float:right; margin-left:5px"> Next  <i class="fa fa-chevron-right fa-lg"></i></button>
                <button class="btn btn-success" ng-show="page2" ng-click="saveExit()" style="float:right">
                    <span>Save & Exit</span>
                </button>

                <div ng-show="page3">
                    <button class="btn btn-primary" ng-click="addModal()"> Add Task</button>
                    <button class="btn btn-primary" ng-click="addActivity()"> Select from Task Library</button>

                    <button class="btn btn-success" ng-click="addSections()" style="float:right">
                        <span>Next</span>
                    </button>
                </div>

                <div ng-show="page4">
                    <button class="btn btn-info" ng-click="backToAllActivities()">Back</button>
                    <button class="btn btn-success" ng-click="createAssignTask()" style="float:right">
                        <span>Save</span>
                    </button>
                </div>

                <div ng-show="page5">
                    <button class="btn btn-info" ng-click="backToAllActivities()">Back</button>
                    <button class="btn btn-success" ng-click="saveActionPlan()" style="float:right">
                        <span>Save Action Plan</span>
                    </button>
                </div>
                <div ng-show="page6">
                    <button class="btn btn-info" ng-click="backToSections()">Back</button>
                    <button class="btn btn-success" ng-click="createNewSection()" style="float:right">
                        <span>Save</span>
                    </button>
                </div>
                </div>

                <div>
                    <section ng-show="page1" class="panel panel-default modal_third_cal">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <div id="home" class="tab-pane fade in active">
                                        <div class="form-group">
                                            <label>Name</label><span style="color: red" title="Required"> *</span>
                                            <input class="form-control" ng-model="data.name">
                                        </div>

                                        <div class="form-group">
                                            <label>Incident Type</label>
                                            <div class="form-group chosen-full-container" style="margin-bottom:10px;">
                                                <select ng-change="loadScenario(data.categoryId)" chosen
                                                        class="form-control"
                                                        data-placeholder-text-single="'Select Type'"
                                                        ng-model="data.categoryId"
                                                        ng-options="type.id as type.name for type in categories">
                                                        <option></option>
                                                </select>
                                            </div>
                                            <a href="" ng-click="addIncidentType()">Create new Incident Type</a>
                                        </div>

                                        <div class="form-group">
                                            <label>Scenario</label>
                                            <div class="form-group chosen-full-container">
                                                <select chosen class="form-control" data-placeholder-text-single="'Select Scenario'" ng-model="data.scenarioId" ng-options="scenario.id as scenario.name for scenario in scenarioOptions">
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea ng-model="data.description" maxlength="255" class="form-control" id="textArea"></textarea>
                                            <div class="message-length-warning" ng-class="{'red-text': data.description.length >= 255}">
                                                <span>
                                                    {{data.description.length || 0}} / 255 Characters
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Plan Date<span class="required-custom"> *</span></label>
                                            <input class="form-control" data-provide="datepicker" ng-change="closePicker()"  data-date-format="dd/mm/yyyy" ng-model="data.plandate">
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </section>

                    <section ng-show="page3" class="panel panel-default modal_third_cal" >
                      <div class="panel-heading">
                          <strong>
                            <span class="glyphicon glyphicon-th"></span> Action Plan Tasks
                          </strong>
                      </div>
                        <div class="table-filters">
                            <div class="row">
                                <div class="col-sm-12 col-xs-6 chosen-full-container" style="margin: 10px;">
                                    <form>
                                        <input type="text"
                                               placeholder="Search Task, and Actor"
                                               class="form-control"
                                               data-ng-model="searchKeywords"
                                               data-ng-keyup="search()">
                                    </form>
                                    <!-- <br>
                                    <select chosen
                                            class="form-control"
                                            data-placeholder-text-single="'Filter By Tags'"
                                            ng-model="categoriesFilter"
                                            ng-options="tag.text as tag.text for tag in tags"
                                            ng-change="CategoryFilter()">
                                        <option></option>
                                    </select> -->
                                </div>
                            </div>
                        </div>

                        <table class="table table-bordered table-striped table-responsive" ng-show = "allActivities.length">
                            <thead>
                            <tr>
                                <!-- <th class="col-md-1"></th> -->
                                <th class="col-md-2"><div class="th">Task Library
                                    <a      href=""
                                            class="fa fa-angle-up"
                                            style="text-decoration: none;"
                                            data-ng-click=" orderp('task_list.title') "
                                            data-ng-class="{active: row == 'task_list.title'}">
                                    </a>
                                    <a      href=""
                                            style="text-decoration: none;"
                                            class="fa fa-angle-down"
                                            data-ng-click=" orderp('-task_list.title') "
                                            data-ng-class="{active: row == '-task_list.title'}">
                                    </a>
                                </div></th>
                                <th class="col-md-2"><div class="th">Category
                                    <a      href=""
                                            class="fa fa-angle-up"
                                            style="text-decoration: none;"
                                            data-ng-click=" orderp('task_list.all_category.name') "
                                            data-ng-class="{active: row == 'task_list.all_category.name'}">
                                    </a>
                                    <a      href=""
                                            style="text-decoration: none;"
                                            class="fa fa-angle-down"
                                            data-ng-click=" orderp('-task_list.all_category.name') "
                                            data-ng-class="{active: row == '-task_list.all_category.name'}">
                                    </a>
                                </div></th>
                                <th class="col-md-2"><div class="th"> Responsibility Level
                                    <a      href=""
                                            style="text-decoration: none;"
                                            class="fa fa-angle-up"
                                            data-ng-click=" orderp('responsibility_level') "
                                            data-ng-class="{active: row == 'responsibility_level'}">
                                    </a>
                                    <a      href=""
                                            style="text-decoration: none;"
                                            class="fa fa-angle-down"
                                            data-ng-click=" orderp('-responsibility_level') "
                                            data-ng-class="{active: row == '-responsibility_level'}">
                                    </a>
                                </div></th>
                                <th class="col-md-2">
                                    <div class="th"> Tags
                                    </div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-show = "allActivities.length" ng-repeat="activity in allActivities | filter: searchKeywords">
                                    <!-- <td><input type="checkbox" ng-model="activity.selected"></td> -->
                                    <td>{{activity.task_list.title}}</td>
                                    <td>{{activity.task_list.all_category.name}}</td>
                                    <td>{{activity.responsibility_level}}</td>
                                    <td>
                                        <a href="" ng-repeat="tag in activity.task_list.tags"> #{{tag.text}}</a> <br>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <span ng-hide = "allActivities.length" class="text-center">
                            <h2>
                                <strong>No tasks.</strong>
                            </h2>
                        </span>
                        <br>
                        <footer class="table-footer">

                        </footer>
                    </section>

                    <section ng-show="page4" class="panel panel-default modal_third_cal">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label> Task </label><span style="color: red" title="Required"> *</span>

                                    <div class="form-group chosen-full-container" style="margin-bottom:10px;">
                                        <select chosen
                                                class="form-control"
                                                data-placeholder-text-single="'Select Task'"
                                                ng-model="activity.taskListId"
                                                ng-selected="task.id === activity.taskListId"
                                                ng-options="task.id as task.title for task in tasks">
                                        </select>
                                    </div>
                                    <a href="" ng-click="addTaskItem()"><i class=""> Create New Task </i></a>
                                </div>

                                <div class="form-group">
                                    <label> Description </label>
                                    <input class="form-control" ng-model="activity.description">
                                </div>
                                <div class="form-group">
                                    <label> Responsibility Level</label>
                                    <div class="form-group chosen-full-container">
                                        <select chosen
                                                class="form-control"
                                                data-placeholder-text-single="'Select Level'"
                                                ng-model="activity.responsibility_level"
                                                ng-options="role.name as role.name for role in roles">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Actor </label>
                                    <div class="form-group chosen-full-container">
                                        <select chosen
                                                class="form-control"
                                                data-placeholder-text-single="'Select Actor'"
                                                ng-model="activity.responseActorId"
                                                ng-options="actor.id as displayActorName(actor) for actor in users">
                                        </select>
                                    </div>
                            </div>
                            </div>
                        </div>
                    </section>

                    <section ng-show="page5" class="modal_third_cal">
                        <div class="float-right">
                          <!-- <button class="btn btn-success" ng-click="newSection()">New Section</button> -->
                        </div>
                        <br><br>
                        <div class="panel panel-default" style="margin-bottom: 20px;" ng-repeat="section in sections">
                            <div class="panel-heading">
                                <strong>
                                  <span class="glyphicon glyphicon-th"></span> {{section.name}}
                                </strong>
                            </div>
                            <div class="float-right" ng-hide="section.addActivities">
                                <button class="btn btn-sm btn-success"
                                        ng-click="section.addActivities=true">Add Tasks</button>
                            </div>
                            <div ng-show="section.addActivities"
                                  style="text-align: center">
                              <div class="form-group">
                                  <label> Available Tasks: </label>
                                  <select chosen multiple class="form-control" data-placeholder-text-multiple="'Select Tasks'" ng-model="section.tasks" ng-options="activityTask as activityTask.task_list.title for activityTask in selectedActivities">
                                          <option value=""></option>
                                  </select>
                              </div>
                              <button class="btn btn-sm btn-info" ng-click="section.addActivities=false">Cancel</button>
                              <button class="btn btn-sm btn-success" ng-click="assignSectionTasks(section)">Add</button>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2">
                                        <div id="menu1" class="tab-pane fade in active ui-widget">
                                            <ul data-as-sortable="DragOptions1" data-ng-model="section.activities">
                                                <li class="panel-default" is-open="activityExpand" ng-repeat="activity in section.plan_activities" data-as-sortable-item style="margin-bottom: 15px;" id={{section.id}}>
                                                    <div class="col-xs-1 handle" data-as-sortable-item-handle style="margin-top: 10px;">
                                                        <span class="ti-move">
                                                        </span>
                                                    </div>
                                                    <div class="col-xs-1 delete-activity">
                                                        <button title="Delete Activity" class="btn btn-sm btn-danger ng-isolate-scope" ng-click="deleteActivitySection(activity, $index, section)" confirm="Are you sure you want to delete?">
                                                        <span class="glyphicon glyphicon-remove-sign"></span>
                                                    </button>
                                                    </div>
                                                    <uib-accordion close-others="true">
                                                        <div uib-accordion-group>
                                                            <uib-accordion-heading>
                                                                {{$index+1}} - {{activity.activity.task_list.title}}
                                                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': activityExpand, 'glyphicon-chevron-right': !activityExpand}"></i>
                                                            </uib-accordion-heading>
                                                            <div>
                                                                <div class="panel panel-default" style="margin-bottom: 20px;">
                                                                    <div class="panel-heading">
                                                                        <strong>
                                                                            <span class="glyphicon glyphicon-th"></span> BASIC INFORMATION
                                                                        </strong>
                                                                    </div>

                                                                    <div class="panel-body">
                                                                        <div class="form-group">
                                                                            <label> Default Activity </label>
                                                                            <input type="checkbox" ng-model="activity.activity.default"
                                                                                   style="margin-left: 10px; margin-top: 4px;
                                                                               position: absolute;"
                                                                                   ng-change="updateActivity(activity.activity)">
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label> Task </label><span style="color: red" title="Required"> *</span>
                                                                            <div class="form-group chosen-full-container" style="margin-bottom:10px;">
                                                                                <select chosen
                                                                                        class="form-control"
                                                                                        ng-model="activity.activity.taskListId"
                                                                                        ng-options="task.id as task.title for task in tasks">
                                                                                </select>
                                                                            </div>
                                                                            <a href="" ng-click="addTaskItem()"><i class=""> Create New Task </i></a>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label> Description </label>
                                                                            <input class="form-control" ng-model="activity.activity.description">
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label> Responsibility Level</label>
                                                                            <div class="form-group chosen-full-container" style="margin-bottom:10px;">
                                                                                <select chosen
                                                                                        class="form-control"
                                                                                        data-placeholder-text-single="'Select Level'"
                                                                                        ng-model="activity.activity.responsibility_level"
                                                                                        ng-options="role.name as role.name for role in roles">
                                                                                </select>
                                                                            </div>
                                                                            <a href="" ng-click="addRole()">Create Responsibility Level</a>

                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="panel panel-default" style="margin-bottom: 20px;">
                                                                    <div class="panel-heading">
                                                                        <strong>
                                                                            <span class="glyphicon glyphicon-th"></span> ROLE INFORMATION
                                                                        </strong>
                                                                    </div>
                                                                    <div class="panel-body">
                                                                        <div class="form-group">
                                                                            <label> Organization </label>
                                                                            <div class="form-group chosen-full-container" style="margin-bottom:10px;">
                                                                                <select chosen
                                                                                        class="form-control"
                                                                                        data-placeholder-text-single="'Select Organization'"
                                                                                        ng-model="activity.activity.organizationId"
                                                                                        ng-options="org.id as org.name for org in organizations">
                                                                                </select>
                                                                            </div>
                                                                            <a href="" ng-click="addOrg()"><i class=""> Create New Organization </i></a>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label> Department </label>
                                                                            <div class="form-group chosen-full-container" style="margin-bottom:10px;">
                                                                                <select chosen
                                                                                        class="form-control"
                                                                                        data-placeholder-text-single="'Select Department'"
                                                                                        ng-model="activity.activity.departmentId"
                                                                                        ng-options="dpt.id as dpt.name for dpt in departments">
                                                                                </select>
                                                                            </div>
                                                                            <a href="" ng-click="addDepartment()"><i class=""> Create New Department </i></a>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label> Role </label>
                                                                            <div class="form-group chosen-full-container" style="margin-bottom:10px;">
                                                                                <select chosen
                                                                                        class="form-control"
                                                                                        data-placeholder-text-single="'Select Role'"
                                                                                        ng-model="activity.activity.roleId"
                                                                                        ng-options="role.id as role.name for role in roles">
                                                                                </select>
                                                                            </div>
                                                                            <a href="" ng-click="addRole()"><i class=""> Create New Role </i></a>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="panel panel-default" style="margin-bottom: 20px;">
                                                                    <div class="panel-heading">
                                                                        <strong>
                                                                            <span class="glyphicon glyphicon-th"></span> ACTOR INFORMATION
                                                                        </strong>
                                                                    </div>
                                                                    <div class="panel-body">

                                                                        <div class="form-group">
                                                                            <label>Actor </label>
                                                                            <div class="form-group chosen-full-container" style="margin-bottom:10px;">
                                                                                <select chosen
                                                                                        class="form-control"
                                                                                        data-placeholder-text-single="'Select Actor'"
                                                                                        ng-model="activity.activity.responseActorId"
                                                                                        ng-options="actor.id as displayActorName(actor) for actor in users">
                                                                                </select>
                                                                            </div>
                                                                            <a href="" ng-click="quickAddUser()">Add New Actor</a>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="panel panel-default">
                                                                    <div class="panel-heading">
                                                                        Additional Info
                                                                    </div>

                                                                    <div class="panel-body">

                                                                        <div class="form-group">
                                                                            <label> Response Time (minutes)</label>
                                                                            <input type = "number" min="0" ng-model="activity.activity.response_time"></input>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label> Completion Time (minutes)</label>
                                                                            <input type = "number" min="0" ng-model="activity.activity.completion_time"></input>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label> Backup Actor </label>
                                                                            <div class="form-group chosen-full-container">
                                                                                <select chosen
                                                                                        class="form-control"
                                                                                        data-placeholder-text-single="'Select Actor'"
                                                                                        ng-model="activity.activity.backupActorId"
                                                                                        ng-options="actor.id as displayActorName(actor) for actor in users">
                                                                                </select>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label> Accountable Actor </label>
                                                                            <div class="form-group chosen-full-container">
                                                                                <select chosen
                                                                                        class="form-control"
                                                                                        data-placeholder-text-single="'Select Actor'"
                                                                                        ng-model="activity.activity.accountableActorId"
                                                                                        ng-options="actor.id as displayActorName(actor) for actor in users">
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <button class="btn btn-primary" ng-click="updateTaskActivity(activity.activity)"> Update</button>
                                                                </div>

                                                            </div>

                                                        </div>
                                                    </uib-accordion>
                                                </li>
                                            </ul>
                                            <div ng-hide="section.activities.length > 0">
                                                <p style="margin-top: 15px;" class="watermark-text-small">
                                                    No Tasks Assigned
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>

                    <section ng-show="page6" class="panel panel-default modal_third_cal">
                      <div class="panel-heading">
                          <strong>
                            <span class="glyphicon glyphicon-th"></span> New Section
                          </strong>
                      </div>
                      <div class="panel-body">
                          <div class="form-group">
                              <label> Name </label><span style="color: red" title="Required"> *</span>
                              <input class="form-control" ng-model="sectionName">
                          </div>
                      </div>
                    </section>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
