<div class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div id="modal-header" class="modal-header">
            <button type="button" class="close" ng-click="close()" >&times;</button>
            <h4 class="modal-title">Play ID Game</h4>
        </div>
        <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-heading">Basic Info</div>
                <div class="panel-body">
                    <div class="chosen-full-container" style="margin: 5px;">
                        <h4>Game Name:</h4>
                        <select chosen
                                class="form-control"
                                data-placeholder-text-single="'Select Game Template'"
                                ng-model="playGame.idGameId"
                                ng-disabled="true"
                                ng-options="gameTemplate.id as gameTemplate.name for gameTemplate in gameTemplates" >
                            <option></option>
                        </select>
                    </div>
                    <br>
                    <div class="form-group">
                        <h4>Incident Name</h4>
                        <div class="form-group chosen-full-container" style="margin-bottom:10px;">
                            <select chosen
                                data-placeholder-text-single="'Select Incident.'"
                                ng-model = "incidentId"
                                ng-options="game.id as game.name for game in incidents">
                                <option value="" ></option>
                            </select>
                        </div>
                        <a ng-click="addIncident()" title="Add Incident">
                         Create Incident
                        </a>
                    </div>
                   
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-info" data-dismiss="modal">Cancel</button>
            <button class="btn btn-success" ng-click="submit()">Save</button>
        </div>
    </div>
  </div>
</div>
