<div ng-controller="messageLibraryCtrl" style="padding:12px;">
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Create New Message </strong></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div id="home" class="tab-pane fade in active">
                        <div class="form-group">
                            <label>Is it for ?</label>
                            <select class="form-control" ng-model="data.msgType" disabled="true">
                                <option value="Incident"> Incident</option>
                                <option value="Action Plan"> Action Plan </option>
                                <option value="Activate Team"> Activate Team </option>
                                <option value="Summary Report"> Summary Report </option>
                                <option value="Type 1"> Type 1 </option>
                                <option value="Type 2"> Type 2 </option>
                                <option value="Type 3"> Type 3 </option>
                                <option value="Type 4"> Type 4 </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Template</label>
                            <select class="form-control" ng-model="data.msgTemplateType" disabled="true">
                                <option value="Email"> Email </option>
                                <option value="SMS"> SMS </option>
                                <option value="Button"> Button </option>
                                <option value="Header"> Header </option>
                                <option value="Footer"> Footer </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Subject</label>
                            <input class="form-control" ng-model="data.subject">
                        </div>
                        <div class="form-group">
                            <label>Content</label>
                            <div ng-show = "data.msgTemplateType == 'Header' || data.msgTemplateType == 'Footer'">
                                <textarea class="form-control" ng-model="data._content" froala="froalaOptionsForMessage"></textarea>
                            </div>
                            <div ng-hide = "data.msgTemplateType == 'Header' || data.msgTemplateType == 'Footer'">
                                <textarea  class="form-control" ng-model="data.content"></textarea>
                            </div>

                        </div>
                    </div>
               </div>
            </div>
             <hr>
             <div class="form-group">
                 <a class="btn btn-info" href="#/settings/message-libraries"> Back </a>
                 <button class="btn " ng-click="save()" style="float:right"> Save & Exit </button>
            </div>
        </div>
    </section>
 </div>
