<div class="page" ng-controller="messageLibraryCtrl">
    <section class="panel panel-default">
        <div class="panel-heading">
        <strong>
        	<span class="glyphicon glyphicon-th"></span> Messages Library </strong>
        	<div class="pull-right header-buttons">
        	</div>
        </div>
        <div class="panel-body">

            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Template</th>
                            <th>Subject</th>
                            <th> Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="msg in customMessages">
                            <td>{{msg.msgType}} <strong style="margin-left: 50px ;color:green" ng-if="msg.msgType == 'Action Plan'">Alert</strong></td>
                            <td>{{msg.msgTemplateType}}</td>
                            <td>{{msg.subject}}</td>
                            <td>

                            <a class="btn btn-primary btn-sm" ng-click="viewModal(msg)"><span class="fa fa-television"></span></a>
                                <a href="#/settings/message-libraries/edit/{{msg.id}}" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-edit"></span></a>

                                <!-- <button class="btn btn-sm btn-danger"
                                        confirm="Are you sure you want to delete?"
                                        ng-click="destroy(msg.id, $index)">
                                        <span class="glyphicon glyphicon-remove-sign"></span>
                                </button> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </section>
</div>
