<div class="modal fade" role="dialog">
  <div class="modal-dialog" id="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header"  id ="modal-header">
        <button type="button" class="close" ng-click="close()">&times;</button>
        <h4 class="modal-title" id ="modal-title">Message</h4>
      </div>
      <div class="modal-body">
        <div >
          <section >
            <div>
              <strong>
                <span  ng-model="Message"></span>{{message.content}}</strong>
              </div>
            </section>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" ng-click="close()" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>