<div class="page" ng-controller="IDMessageCtrl">
        <section class="panel panel-default">
            <div class="panel-heading">
                <strong>
                    <span class="glyphicon glyphicon-th"></span> Information Dashboard Game Messages
                </strong>
                <select chosen ng-model="selected" ng-options = "item.id as item.name for item in selectoptions" ng-change = "managearray(selected)" ng-disabled = "gameIdFound">
                </select>
                <div class="pull-right header-buttons">
                    <a ng-click="addModal();" class="btn btn-success btn-sm">New ID Message</a>
                </div>
            </div>

            <div class="panel-body">
                <table st-table="messages"
                       st-safe-src="safeMessages"
                       st-pipe="IDmessagesTable"
                       class="table table-bordered table-striped table-responsive">
                    <thead>
                    <tr>
                        <th class="col-md-2" st-sort="message">Message Name</th>
                        <th class="col-md-2" st-sort="order">Order</th>
                        <th class="col-md-2" st-sort="gameTemplate.name">Game Template</th>
                        <th class="col-md-2">Actions</th>
                    </tr>
                    <tr>
                        <th>
                            <input class="form-control" placeholder="Search name" st-search="message"/>
                        </th>

                        <th>
                            <input class="form-control" placeholder="Search Order Sequence" st-search="order"/>
                        </th>
                        <th>
                        <input class="form-control" placeholder="Search ID Game" st-search="gameTemplate.name"/>
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody ng-show="!isLoading">
                        <tr ng-repeat="record in messageToShow">
                            <td>
                                {{record.message}}
                            </td>
                            <td>{{record.order}}</td>
                            <td>{{record.id_game.name}}</td>
                            <td>
                                <a title = "Edit Message" class="btn btn-sm btn-info" ng-click="edit(record, $index)"><span class="fa fa-pencil-square-o"></span></a>

                                <a title = "Delete Message" class="btn btn-danger btn-sm" ng-click="deleteMessage(record.id, $index)" confirm="Are you sure you want to delete?">
                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                    <tr>
                        <td colspan="4" class="text-center">Loading ... </td>
                    </tr>
                    </tbody>
                    <tfoot class="table table-striped table-responsive">
                    <tr>
                        <td class="text-center" st-pagination="" st-items-by-page="pageItems" colspan="7">
                        </td>
                    </tr>
                    </tfoot>
                </table>

                <div class="col-md-3">
                    <select class="form-control"
                            ng-model="pageItems"
                            ng-options="item.val as item.name for item in items"
                            ng-selected="item.val === pageItems">
                    </select>
                </div>
            </div>
        </section>

    </div>
</div>
