      <div class="col-md-12">
        <div ng-show="currentType==='plan'">
          <div ng-show="planActivities.incident_activities.length > 0">
                <uib-accordion close-others="true">
                  <div uib-accordion-group class="panel-default" is-open="true">
                    <uib-accordion-heading>
                      Activities <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': expand, 'glyphicon-chevron-right': !expand}"></i>
                    </uib-accordion-heading>
                    <div  ng-include="'views/apdV2/unrecognized-activity-table.html'"></div>
                  </div>
                </uib-accordion>
          </div>

          <div ng-show="planActivities.sections.length > 0">
                <ul data-as-sortable="DragOptions" data-ng-model="planActivities.sections"
                     style="padding-left: 0px;">
                    <li class="panel-default" is-open="activityExpand"
                        data-as-sortable-item
                        ng-repeat="section in planActivities.sections"
                        style="margin-bottom: 15px; border: none;" >
                        <div class="col-xs-1 handle" data-as-sortable-item-handle
                                style="margin-top: 10px;" >
                            <span class="ti-move">
                            </span>
                        </div>
            <uib-accordion close-others="true">
                <div uib-accordion-group class="panel-default" is-open="expand">
                    <uib-accordion-heading>
                        {{section.name}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': expand, 'glyphicon-chevron-right': !expand}"></i>
                    </uib-accordion-heading>
                    <div ng-include="'views/apdV2/accordian-filter-table.html'">
                    </div>

                </div>
            </uib-accordion>
          </li>
        </ul>
          </div>
        </div>

        <div ng-show="currentType==='checklist'">
        </div>
      </div>
