<div ng-app ng-controller="mediaListCtrl" class="browser-padding">
    <div class="row" style="margin: 5px;">
        <div ng-repeat="lib in libReferences" class="col-md-4" style="margin-bottom: 20px;">
            <div class="card">
                <div class="card-content" style="position: static;">
                    <div class="card-headline">
                        <h3>{{lib.title}}</h3>
                    </div>

                    <div class="card-body">
                        <p>
                            <b>Link: </b> {{lib.links}}
                            <br>
                            <b>Description: </b> {{lib.description}}
                            <br>
                            <b>Created: </b> {{lib.createdAt | date : "HH:mm dd-MM-yy"}}
                        </p>
                            <a href="{{lib.links}}" target="_blank" class="btn btn-danger"
                                title="Media Viewer">
                                <i class="material-icons">link</i>
                            </a>
                        </span>

                        <a href="#/browser/{{lib.id}}" class="btn btn-primary"
                           title="New Tab" target="_blank">
                            <i class="material-icons fa fa-lg fa-square-o"></i>
                        </a>

 <!--                        <button ng-click="editIncident(incident)" class="btn btn-info" title="Edit">
                            <i class="material-icons">edit</i>
                        </button> -->
                    </div>
                </div>
            </div>
        </div>
        <p ng-hide="libReferences" class="watermark-text-medium" style="position: inherit;">
            No Links found in Reference library.
        </p>
    </div>
</div>