<div class="modal fade" role="dialog">
  <div class="modal-dialog" id="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"  id ="modal-header">
        <h4 class="modal-title" id ="modal-title" >
          Media Viewer
          <button type="button" class="close" data-dismiss="modal" ng-click="close()" >&times;</button>
        </h4>
      </div>
      <div class="modal-body">
        <div>
          
           <iframe style="margin-left: 70px" width="950" height="520" ng-src="{{link}}"></iframe>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="close()" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
