<div class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" id="modal-dialog" >
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header clearfix" id="modal-header">
        <h4 class="modal-title pull-left" id="modal-title">Incident checklist</h4>
        <button class="btn btn-sm btn-raised pull-right btn-default"
                ng-click="open_checklist_menu()" 
                title="Checklist Menu" 
                style="margin-top: -3px;">
          <i class="glyphicon glyphicon-plus"></i>
        </button>
      </div>
      <div class="modal-body modal_big_height" style=" overflow-y: auto">
        <div>
          <section>
            <div>
              <strong>
              </div>
              <div class="panel-body">
                
              <uib-accordion close-others="oneAtATime" class = "list-accordian">
                <div uib-accordion-group class="panel-default" ng-repeat="item in checkedList">
                 
                <uib-accordion-heading >
                  <div> {{item.name | displayString: 40}}
                    <button class="btn btn-sm pull-right btn-default"
                        ng-click="linkTaskModal(item, $event)" 
                        title="Add new Task" 
                        style="margin-top: -7px;height: 15px;">
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>
                  </div>

                </uib-accordion-heading>



                <div class="panel panel-default">
                    <div class="panel-heading">
                      Checklist Details
                    </div>

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th class="col-md-3">Task Name</th>
                    <th class="col-md-1">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="task in item.tasks">

                    <td>
                    <button class="btn btn-default btn-sm" title="{{task.title}}" ng-click="taskInfo(task)">
                            <span>{{task.title | displayString: 60}}</span>
                          </button>
                    </td>
                    <td>
                      <select class="form-control"
                          ng-model="task.status"
                          ng-options="status.value as status.name for status in statusOptions"
                          ng-change = "updateStatus(item.id,task)"
                          ng-class = "getClass(task.status)"
                          >
                      </select>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
            <br>
            <br>
            <br>
            </uib-accordion>
        </div>
        </section>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="close()" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>