<style media="screen">
  header, aside {display: none !important;}
  .main-container {padding-top: 0px !important;}
  #content {margin-left: 0px !important;}
  #floating-panel {
      position: absolute;
      top: 35px;
      right: 5px;
      width: 11.5%;
      height: auto;
      z-index: 5;
      background-color: #fff;
      padding: 5px;
      border: 1px solid #999;
      text-align: left;
      font-family: 'Roboto','sans-serif';
      line-height: 40px;
    }
    .btn-text{display: block;}
    /*#floating-panel input, #floating-panel button { float: right;}*/
</style>

<div class="box-border location-margin" ng-controller="locationMapPageCtrl" style="height: 100%;">
    <div id="floating-panel">
      <button ng-click="clearMarkers()" class="btn btn-xs btn-primary">Hide Markers</button>
      <button ng-click="showMarkersMark()" class="btn btn-xs btn-primary">Show All Markers</button>
      <button ng-click="deleteMarkers()" class="btn btn-xs btn-primary">Delete Markers</button>
      <button ng-click="deleteSelectedShape()" class="btn btn-xs btn-primary">Delete Selected Shape</button>
      <button ng-click="deleteAllShape()" class="btn btn-xs btn-primary">Delete All shapes</button>
      <button class="btn btn-xs btn-primary btn-text" ng-click="exportPNG()">Export</button>
      <button class="btn btn-xs btn-primary btn-text" ng-click="createImageLink()">Link</button>
      <button class="btn btn-xs btn-primary btn-text" ng-click="save_shapes()">Save Map</button>
      
    </div>
  <!-- <div class="map-header clearfix row">
   <div class="col-sm-12">
     <div class="pull-right">
         <button class="btn btn-primary" ng-click="exportPNG()">Export</button>
        </div>
      </div>
  </div> -->
    <div class="panel panel-default maps" style="height: 100%;">
        <div style="height: 100%;">
            <input  id="pac-input"
                    type="text"
                    class="controls"
                    placeholder="Search Nearby Locations">
            
            <div id="map" class="map_settings">
            </div>

            <div id="notes" ng-show="shapeMade" >
            Enter Notes for {{selectedShape.type}}
              <input type="text" ng-model="note" class="form-control">
              
              <button class="btn btn-sm btn-primary" ng-click = "save_notes()">
                Save
              </button>
            </div>

            <div id="legend">
            
                <h4 style="padding:0;margin:0">Legend</h4>
                <div ng-repeat="icon in icons"
                     class="row"
                     style="margin-top: 8px">
                    <div class="col-sm-2">
                        <img src="{{icon.icon}}">
                    </div>
                    <div class="col-sm-4"
                        style="margin:auto">{{icon.name}}</div>
                    <div class="col-sm-6">
                      <switcher ng-model="icon.show"
                      ng-change="doToggle(icon)">
                    </switcher>
                        <toggle ng-model="icon.show" ng-change="doToggle(icon)">
                        </toggle>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
