<div class="page" ng-controller="DynamicFormsCtrl">
    <section class="panel panel-default">
        <div class="panel-heading">
            <strong>
                <span class="glyphicon glyphicon-th"></span> Dynamic Forms
            </strong>
            <div class="pull-right header-buttons">
                <a href="" ng-click="openModal(newForm,-1)" class="btn btn-success btn-sm">New Form</a>
            </div>
            <!-- <div class="pull-right header-buttons">
                <a href="" ng-click="formTypes()" class="btn btn-success btn-sm">Form Types</a>
            </div> -->
        </div>
        <div class="panel-body">
            <table st-pipe="dynamicFormsTable" st-table="dynamicForms" class="table table-bordered table-striped table-responsive">
                <thead>
                    <tr>
                        <th class="col-md-5" st-sort="name">Form Name</th>
                        <th class="col-md-5" st-sort="heading">Form Heading</th>
                        <th>Actions</th>
                    </tr>
                    <tr>
                        <th>
                            <input class="form-control" placeholder="Search Name" st-search="name"/>
                        </th>
                        <th>
                            <input class="form-control" placeholder="Search Heading" st-search="heading"/>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="record in dynamicForms">
                        <td>{{record.name}}</td>
                        <td>{{record.heading}}</td>
                        <td>
                            <a class="btn btn-default btn-sm" ng-click="view(record)">
                                <span class="fa fa-eye"></span>
                            </a>
                            <a ng-click="openModal(record,$index)" class="btn btn-sm btn-info">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a class="btn btn-danger btn-sm" ng-click="deleteForm(record,$index)" confirm="Are you sure you want to delete?">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </a>
                        </td>

                    </tr>

                </tbody>
                <tbody ng-show="isLoading">
                    <tr>
                        <td colspan="4" class="text-center">Loading ... </td>
                    </tr>
                </tbody>
                <tfoot class="table table-striped table-responsive">
                    <tr>
                        <td class="text-center" st-pagination="" st-items-by-page="pageItems" colspan="7">
                        </td>
                    </tr>
                </tfoot>
            </table>
            <div class="col-md-3">
                <select class="form-control"
                ng-model="pageItems"
                ng-options="item.val as item.name for item in items"
                ng-selected="item.val === pageItems">
            </select>
        </div>
    </div>
</section>


</div>
